<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<input type="hidden" name="objtitle" value="">
<div class="container myContainer">
	<div class="row my-form-no-edge" style="padding:5px 0px;">
		<div class="col-sm-3 col-md-3 my-form-no-edge">
			<div class="row my-form-no-edge">
				<div class="col-xs-2 my-form-col" style="width:115px;">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-sm btn-default">
							<input type="radio" name="options" data-title="ccentor" checked>集采器
						</label>
						<label class="btn btn-sm btn-default">
							<input type="radio" name="options" data-title="centor" >集中器
						</label>
					</div>
				</div>
				<div class="col-xs-5 my-form-col my-tree-class areaTreeDiv">
					<input id="nodeType" type="text" class="input-sm form-control hide" value="">
					<input id="nodeIds" type="text" class="input-sm form-control hide" value="">
					<input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
					<div id="menuContent" class="menuContent">
						<div class="ztreeInput">
							<div>
								<input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
							</div>
							<div class="ztreeSkip">
								<label type="text" id="resultKey" class="form-control ztreeSkipLabel">
									<div class="ztreeSkipBtns">
										<a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
										<a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
									</div>
									<label id="number" class="ztreeSkipNum"></label>
								</label>
							</div>
						</div>
						<ul id="areaTree" class="ztree"></ul>
						<div class="clearfloat"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-md-9 my-form-no-edge" style="border-left: 1px solid #FFFFFF;">
			<div id="nav1" class="centorCmdList" name="centorNav" style="display:none">
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">抄收<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-title="多表数据抄收">1.多表数据抄收</a></li>
						<li><a href="#" data-title="单表抄表">2.单表抄表</a></li>
						<li><a href="#" data-title="读日冻结数据">3.读日冻结数据</a></li>
						<li><a href="#" data-title="读月冻结数据">4.读月冻结数据</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">读集中器信息<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li  class="disabled"><a href="#" data-title="读集中器地址">1.读集中器地址</a></li>
						<li  class="KT4EW"><a href="#" data-title="读IP端口">2.读IP端口</a></li>
						<li class="KT410"><a href="#" data-title="读工作时段">3.读工作时段</a></li>
						<li class="KT410"><a href="#" data-title="读网络时段">4.读网络时段</a></li>
						<li><a href="#" data-title="读集中器时钟">5.读集中器时钟</a></li>
						<li><a href="#" data-title="读采集器列表">6.读采集器列表</a></li>
						<li><a href="#" data-title="读采集中继表">7.读采集中继表</a></li>
						<li><a href="#" data-title="读表地址">8.读表地址</a></li>
						<li class="KT410"><a href="#" data-title="读取参数">9.读取参数</a></li>
						<li class="divider"></li>
						<li class="KT4EW"><a href="#" data-title="读心跳周期">10.读心跳周期</a></li>
						<li class="KT4EW"><a href="#" data-title="读上报时间">11.读上报时间</a></li>
						<li class="KT4EW"><a href="#" data-title="读上报允许">12.读上报允许</a></li>
						<li class="KT4EW"><a href="#" data-title="读终端版本">13.读终端版本</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">集中器设置<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT4EW"><a href="#" data-title="设集中器地址">1.设集中器地址</a></li>
						<li class="KT4EW"><a href="#" data-title="设IP端口">2.设IP端口</a></li>
						<li class="KT410"><a href="#" data-title="设工作时段">3.设工作时段</a></li>
						<li class="KT410"><a href="#" data-title="设网络时段">4.设网络时段</a></li>
						<li><a href="#" data-title="集中器校时">5.集中器校时</a></li>
						<li class="KT410"><a href="#" data-title="设置参数">6.设置参数</a></li>
						<li class="divider"></li>
						<li class="KT4EW"><a href="#" data-title="设心跳周期">7.设心跳周期</a></li>
						<li class="KT4EW"><a href="#" data-title="设上报时间">8.设上报时间</a></li>
						<li class="KT4EW"><a href="#" data-title="设上报允许">9.设上报允许</a></li>
						<li class="KT4EW"><a href="#" data-title="设上报停止">10.设上报停止</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">集中器管理<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-title="下载采集器地址">1.下载采集器地址</a></li>
						<li><a href="#" data-title="集中器下载表地址">2.集中器下载表地址</a></li>
						<li><a href="#" data-title="KT410设备资料同步">3.KT410设备资料同步</a></li>
						<li class="divider"></li>
						<li><a href="#" data-title="重启集中器">4.重启集中器</a></li>
						<li><a href="#" data-title="格式化集中器">5.格式化集中器</a></li>
						<li><a href="#" data-title="初始化集中器">6.初始化集中器</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">采集器管理<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-title="刷新采集器">1.刷新采集器</a></li>
						<li><a href="#" data-title="读采集器状态">2.读采集器状态</a></li>
						<li><a href="#" data-title="单抄采集器">3.单抄采集器</a></li>
						<li><a href="#" data-title="采集器下载表地址">4.采集器下载表地址</a></li>
						<li><a href="#" data-title="初始化采集器">5.初始化采集器</a></li>
						<li><a href="#" data-title="采集器寻表">6.采集器寻表</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">表操作<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-title="批量控阀">1.批量控阀</a></li>
						<li><a href="#" data-title="小区关阀">2.小区关阀</a></li>
					</ul>
				</div>
			</div>

			<div id="nav2" class="ccentorCmdList" name="ccentor" style="display:block;" >
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">抄收<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT3NB-Ver1"><a href="#" data-title="多表数据抄收">1.多表数据抄收</a></li>
						<li class="KT3NB-Ver1"><a href="#" data-title="单表抄收(60)">2.单表抄收</a></li>
						<li class="divider"></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="单表抄收5+4">3.单表抄收5+4</a></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="多表抄收5+4+1">4.多表抄收5+4+1</a></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="多表抄收4+1">5.多表抄收4+1</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">读集采器信息<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT3NB-Ver1"><a href="#" data-title="读设备地址">1.读设备地址</a></li>
						<li class="KT3NB-Ver1"><a href="#" data-title="读表具总数">2.读表具总数</a></li>
						<li class="divider"></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="读心跳周期">3.读心跳周期</a></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="读刷新数据间隔">4.读刷新数据间隔</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">集采器设置<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="设心跳周期">1.设心跳周期</a></li>
						<li class="KT3NB KT3NB-Ver1"><a href="#" data-title="设刷新数据间隔">2.设刷新数据间隔</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">集采器管理<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT3NB-Ver1 KT3NB-VIRTUAL"><a href="#" data-title="刷新数据">1.刷新数据</a></li>
						<li class="KT3NB-Ver1 KT3NB-VIRTUAL"><a href="#" data-title="增删表地址">2.增删表地址</a></li>
						<li><a href="#" data-title="搜寻表具">3.搜寻表具</a></li>
					</ul>
				</div>
				<div class="btn-group btnMargin">
					<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">表具管理<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="KT3NB-Ver1"><a href="#" data-title="批量控阀">1.批量控阀</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin:0;padding:0px;">
		<div class="col-xs-3 col-md-3" style="margin:0;padding:0;">
			<form class="form-horizontal" id="jqgridForm1" role="form">
				<table id="jqGrid1" rel="jqgridForm1" class="jqgrid"></table>
				<div id="jqGridPager1"></div>
			</form>
		</div>
		<div class="col-xs-9 col-md-9" style="margin:0;padding:0;">
			<form class="form-horizontal" id="jqgridForm2" role="form" style="margin-left:1px;">
				<table id="jqGrid2" rel="jqgridForm2" class="jqgrid"></table>
				<div id="jqGridPager2"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.config({
		base : '../../common/js/',
		version: [[${session.version}]]
	}).extend({
		myLayui: 'myLayui',
		parms: 'parms'
	});
	layui.use(['layer','element','parms'], function(){
		var layer = layui.layer,
				element = layui.element;
		var deviceType = "centor";
		var zOption = {
			url: "/nodes/getAreaNodes",
			selectedMulti: true,
			nodeTypeId: "nodeType",
			nodeIdsId: "nodeIds",
			nodeNamesId: "areaSel",
			clickCallBack: gridDataReload
		};
		var tree = new myzTree("areaTree", zOption);
		tree.dropDownTreeOpen();
		tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
		$("#areaSel").click(function(){
			tree.showMenu();
		});
		dropdownOpen();//bootsrap button group drop down

		var lastSel1="";
		var Post_Data1 = {"params[deviceType]": "ccentor", "params[operable]": "true"};
		var GridObj1 = new myJqGrid("jqGrid1", "jqGridPager1", "jqgridForm1", 149,'/systemmaintenance/cmdAddJson');
		GridObj1.jqdefaultGridConfig.caption = "集采器列表：";
		GridObj1.jqdefaultGridConfig.postData = Post_Data1;
		GridObj1.jqdefaultGridConfig.scroll = true;
		GridObj1.jqdefaultGridConfig.colNames = ['id','状态','设备地址','设备名称','连接说明'];
		GridObj1.jqdefaultGridConfig.colModel = [
			{ name: 'id',  width: 30, key: true, hidden: true},
			{ name: 'state', width: 40, align: "centor", formatter: stateFormatter },
			{ name: 'centorId', width: 70 },
			{ name: 'addr', width: 180 },
			{ name: 'description', width: 120 }
		];
		GridObj1.jqdefaultGridConfig.onSelectRow = function(id){
			var rowData = $("#jqGrid1").jqGrid('getRowData', id);
			var deviceType = $('input:radio[name="options"]:checked').data("title");
			if(id && id!==lastSel1){
				lastSel1=id;
				if(deviceType == "ccentor"){
					if(rowData["description"].substr(0, 5) != "KT3NB"){
						$(".KT3NB").addClass("disabled");
					}else{
						$(".KT3NB").removeClass("disabled");
					}
					if(rowData["description"] == "KT3NB VIRTUAL"){
						$(".KT3NB-VIRTUAL").addClass("disabled");
					}else{
						$(".KT3NB-VIRTUAL").removeClass("disabled");
					}
					//屏蔽掉因为命令缓存不会清除导致缓存溢出的第一批NB集采器的执行命令
					/*var deviceAdd = parseInt(rowData["设备地址"]);
					if(rowData["连接说明"].substr(0, 5) == "KT3NB" && (rowData["设备地址"].substr(0, 4) == "8070" || rowData["设备地址"].substr(0, 4) == "8808" || (deviceAdd >= 88090001 && deviceAdd <= 88090213))){
						$(".KT3NB-Ver1").addClass("disabled");
					}else{
						$(".KT3NB-Ver1").removeClass("disabled");
					}*/
				}else if(deviceType == "centor"){
					if(rowData["description"] == "KT410 GPRS"){
						$(".KT410").removeClass("disabled");
					}else{
						$(".KT410").addClass("disabled");
					}
					if(rowData["description"] == "KT4EW GPRS"){
						$(".KT4EW").removeClass("disabled");
					}else{
						$(".KT4EW").addClass("disabled");
					}
				}
			}
		};
		GridObj1.drawGrid();
		GridObj1.drawGridPager();
		GridObj1.setGridSize();
		GridObj1.gridResize();
		GridObj1 = null;

		var GridObj2 = new myJqGrid("jqGrid2", "jqGridPager2", "jqgridForm2", 149);
		GridObj2.jqdefaultGridConfig.caption = "命令执行列表:";
		GridObj2.jqdefaultGridConfig.datatype = "local";
		GridObj2.jqdefaultGridConfig.postData = {};
		GridObj2.jqdefaultGridConfig.scroll = true;
		GridObj2.jqdefaultGridConfig.colNames = ['cmdid','命令','操作日志', '操作时间'];
		GridObj2.jqdefaultGridConfig.colModel = [
			{ name: 'cmdid',  width: 50, key: true, hidden: true},
			{ name: '命令', width: 200 },
			{ name: '操作日志', width: 500 },
			{ name: '操作时间', width: 100 }
		];
		GridObj2.drawGrid();
		GridObj2.drawGridPager();
		GridObj2.setGridSize();
		GridObj2.gridResize();
		GridObj2 = null;

		function gridDataReload(){
			var deviceType = $('input:radio[name="options"]:checked').data("title");
			var _postData = $("#jqGrid1").getGridParam("postData");
			var postDataArray = {
				"params[deviceType]": deviceType,
				"params[nodeType]": $("#nodeType").val(),
				"params[nodeIds]": $("#nodeIds").val()
			};
			if(_postData != undefined){
				$.each(postDataArray, function (k, v) {
					_postData[k] = v;
				});
			}
			//console.log(_postData);
			$("#jqGrid1").jqGrid('setGridParam',{
				page:1,
				postData: _postData
			}).trigger("reloadGrid");
		}
		//初始选择设备类型
		$('input:radio[name="options"]:checked').parent('label').addClass('active');
		$('input:radio[name="options"]').change(function(){
			var deviceType = $('input:radio[name="options"]:checked').data("title");
			if(deviceType == "centor"){
				$("#nav2").hide();
				$("#nav1").show();
				$("#jqGrid1").jqGrid('setCaption', "集中器列表(在线)：");
			}else if(deviceType == "ccentor"){
				$("#nav1").hide();
				$("#nav2").show();
				$("#jqGrid1").jqGrid('setCaption', "集采器列表：");
			}
			gridDataReload();
		});

		function stateFormatter(cellvalue, options, rowdata){
			if(cellvalue == "联机"){
				return '<img src="../../images/connect.png">';
			}else{
				return '<img src="../../images/cross.png">';
			}
		}
	});
</script>
</body>
</html>
