<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<style type="text/css">
	.myTable{
		margin-top: 20px;
	}
	.page-btn{
		text-align: left;
		padding-left: 343px;
	}
</style>
<body style="padding:0px 10px;">
<table th:if=" ${ listCmd.size() == 1 } " class="layui-table myTable" lay-even lay-skin="nob">
	<colgroup>
		<col width="80">
		<col width="150">
		<col width="80">
		<col>
	</colgroup>
	<thead>
	<tr>
		<th>命令&nbsp;&nbsp;ID</th>
		<th th:text=" ${ listCmd.get(0).getId() } "></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><b>命&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;令</b></td>
		<td><input class="input-sm form-control" type="text" id="cmd" size="10" placeholder="请输入命令" th:value=" ${ listCmd.get(0).getCmd() } " readonly="readonly"></td>
		<td><b>参&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</b></td>
		<td><input class="input-sm form-control" type="text" id="parms" size="10" maxlength="64" placeholder="选填" th:value="${ listCmd.get(0).getParms() }" readonly="readonly"></td>
	</tr>
	<tr>
		<td><b>集&nbsp;&nbsp;中&nbsp;器</b></td>
		<td th:text=" ${ listCmd.get(0).getHaCentor().getAddr() } "></td>
		<td><b>操&nbsp;&nbsp;作&nbsp;员</b></td>
		<td th:if="${ listCmd.get(0).getHaOperator()!= null}" th:text=" ${ listCmd.get(0).getHaOperator().getOperatorName() } "></td>
		<td th:if="${ listCmd.get(0).getHaOperator()== null}"></td>
	</tr>
	<tr>
		<td><b>执行状态</b></td>
		<td th:text=" ${ listCmd.get(0).getState() } "></td>
		<td><b>执行描述</b></td>
		<td th:text=" ${ listCmd.get(0).getProcessing() } "></td>
	</tr>
	<tr>
		<td><b>执行时间</b></td>
		<td th:text=" ${ listCmd.get(0).getLastBeginTime() } "></td>
		<td><b>结束时间</b></td>
		<td th:text=" ${ listCmd.get(0).getLastEndTime() } "></td>
	</tr>
	</tbody>
</table>

<table th:if=" ${ listCmd.size() > 1 } "  class="table table-bordered" style="margin-top:10px">
	<thead>
	<tr>
		<th>命令ID：</th>
		<th>命令：</th>
		<th>参数：</th>
		<th>集中器：</th>
		<th>执行状态：</th>
		<th>执行描述：</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="entries,stat:${listCmd}">
		<td th:text=" ${ entries['id'] } "></td>
		<td th:text=" ${ entries['cmd'] } "></td>
		<td th:text=" ${ entries['parms']} "></td>
		<td th:text=" ${ entries['haCentor'].addr} "></td>
		<td th:text=" ${ entries['state']} "></td>
		<td th:text=" ${ entries['processing']} "></td>
	</tr>
	</tbody>
</table>

<div class="form-inline page-btn">
	<button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../../images/tick.png" />确定</button>
	<button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../../images/cancel.png" />关闭</button>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.use(['form', 'layer'], function(){
		var form = layui.form
				,layer = layui.layer
				,get_result_url = "/systemmaintenance/cmdActAjax";
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

		$(":input").dblclick(function(){
			$(this).removeAttr("readonly");
		});
		function submitInfo(sendData){
			$.ajax({
				url: get_result_url
				,data: sendData
				,type: "POST"
				,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
				,async:false //同步请求
				,success: function(data){
					if(data == "true"){
						parent.layer.msg("新增成功！", {icon: 1});
						parent.$("#jqGrid").trigger("reloadGrid");
						parent.layer.close(index); //再执行关闭
					}else{
						layer.msg(data, {icon: 5});
					}
				}
			});
		}
		$("#close").click(function(){
			parent.layer.close(index); //再执行关闭
		});
		$("#sure").click(function(){
			var _cmdids = [[${cmdids}]];
			var data = {
				cmdids: _cmdids
				,cmd: $("#cmd").val()
				,parms: $("#parms").val()
			};
			submitInfo(data);
		});
	});
</script>
</body>
</html>
