<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:0;">
		<div class="col-md-12" style="margin:0;padding:0;">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
	<div class="form-inline" style="margin:5px 5px;text-align: right">
		<button type="button" id="sure" class="btn btn-default btn-sm btnMargin"><img src="../../images/tick.png" />确定</button>
		<button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../../images/cancel.png" />关闭</button>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.use(['layer', 'form'], function(){
		var g_centorId = [[${centorId}]];
		var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 150,'/systemmaintenance/loadAreaJson');
		GridObj.jqdefaultGridConfig.caption = "小区列表：";
		GridObj.jqdefaultGridConfig.postData = {};
		GridObj.jqdefaultGridConfig.multiselect = true;
		GridObj.jqdefaultGridConfig.scroll = true;
		GridObj.jqdefaultGridConfig.colNames = ['areaId','小区编号','小区名称','执行结果'];
		GridObj.jqdefaultGridConfig.colModel = [
			{ name: 'areaId',  width: 75, key: true, hidden: true},
			{ name: 'areaNo', width: 150 },
			{ name: 'cname', width: 150 },
			{ name: '执行结果', width: 100 }
		];
		GridObj.drawGrid();
		GridObj.drawGridPager();
		GridObj.setGridSize();
		GridObj.gridResize();

		$("#close").click(function(){
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			parent.layer.close(index); //再执行关闭
		});
		var get_cmdid_url="/smallbox/haCmd/cmdAdd";
		var get_result_url = "/smallbox/haCmd/getCmdAjax";
		var get_result_timer = $.timer(function(){
			loadCmdResult(this);
		});

		function loadCmdResult(timerObj){
			$.get(get_result_url,
					{cmdid: timerObj.cmdid},
					function(data,status){
						//console.log("cmdid:"+cmdid);
						//console.log("data:"+unescape(data));
						//console.log("rowid:"+rowid);
						if (status == "success"){
							var n, state, processing, s;
							s = unescape(data);
							n = s.indexOf(":");
							if (n > 1){
								state = s.substr(0,n);
								processing = s.substr(n+1);
							}else{
								processing = s;
							}
							$("#jqGrid").setRowData(timerObj.rowIds[timerObj.index],{"执行结果": processing});
							if ((state == "完成") || (state == "失败")){
								if(state == "完成"){
									processing = "<span class='fontGreen'>"+processing+"</span>";
								}else{
									processing = "<span class='fontRed'>"+processing+"</span>";
								}
								$("#jqGrid").setRowData(timerObj.rowIds[timerObj.index],{"执行结果": processing});
								get_result_timer.stop();
								var _parms = {
									"rowIds": timerObj.rowIds
									,"index": timerObj.index+1
									,"centorid": timerObj.centorid
									,"cmdName": timerObj.cmdName
								};
								loadCmd("jqGrid", _parms);
							}
						}
					}
			);
		}
		function loadCmd(GridId, parms){
			var rowId = parms.rowIds[parms.index];
			var cmd = "";
			//console.log(rowId);
			if(rowId == "" || rowId == undefined){
				$(":button").removeAttr("disabled");
				return false;
			}
			var rowData = $("#"+GridId).jqGrid('getRowData', rowId);
			switch(parms.cmdName){
				case "小区关阀"://小区关阀:小区名称
					cmd = parms.cmdName +":"+rowData["cname"];
					break;
				case "刷新小区数据"://刷新小区数据:小区名称
					cmd = parms.cmdName +":"+rowData["cname"];
					break;
				case "读小区设备状态"://读小区设备状态:小区名称
					cmd = parms.cmdName +":"+rowData["cname"];
					break;
				case "抄收小区"://抄收小区:小区名称
					cmd = parms.cmdName +":"+rowData["cname"];
					break;
				default:
					cmd = parms.cmdName +":"+rowData["cname"];
					break;

			}

			$.ajax({
				url: get_cmdid_url
				//,context: $("#"+GridId)
				,data: {
					centorid: parms.centorid
					,cmd: cmd
				}
				,type: "POST"
				,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
				,async:false //同步请求
				,success: function(data){
					if(!isNaN(data)){
						$("#"+GridId).setRowData(rowId,{"执行结果":"<img src="+"/images/loading-0.gif"+" />"});
						get_result_timer.cmdid = data;
						get_result_timer.rowIds = parms.rowIds;
						get_result_timer.index = parms.index;
						get_result_timer.centorid = parms.centorid;
						get_result_timer.cmdName = parms.cmdName;
						get_result_timer.set({time: 3*1000, autostart: true});
					}else{
						$("#"+GridId).setRowData(rowId,{"执行结果": data});
						parms.index = parms.index+1;
						loadCmd(GridId, parms);
					}
				}
			});
		}

		$("#sure").click(function(){
			$(":button").attr({"disabled":"disabled"});
			var ids = getSelectedRows("jqGrid").split(",");
			var cmdName = [[${cmdName}]];
			var parms = {
				"rowIds": ids
				,"index": 0
				,"centorid": g_centorId
				,"cmdName": cmdName
			};
			loadCmd("jqGrid", parms);
		});
	});
</script>
</body>
</html>
