<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<style type="text/css">
	.mySelect dl{max-height: 170px;}
	.layui-form-pane .layui-form-label {
		padding: 5px 15px;
		height: 32px;
	}
	.layui-input{
		height: 32px;
		line-height: 32px;
	}
	.my-form-class {
		margin-top: 20px;
		margin-left: 10px;
		padding: 0px;
	}
</style>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:0;">
		<div class="col-xs-4 col-md-4" style="margin:0;padding:0;display:none;">
			<form class="layui-form layui-form-pane my-form-class">
				<div class="layui-form-item mySelect parm3">
					<label class="layui-form-label">M-BUS端口</label>
					<div class="layui-input-inline" style="width: 85px;">
						<!-- //M-BUS端口号10-60 加 KT300设备地址01-99 -->
						<select id="mbus_port" lay-verify="">

						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-md-12" style="margin:0;padding:0;">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
	<div class="form-inline" style="margin:5px 5px;text-align: right">
		<button th:if=" ${ cmdName == '批量控阀' } " type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="关阀"><img src="../../images/cross.png" />关阀</button>
		<button th:if=" ${ cmdName == '批量控阀' } " type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="开阀"><img src="../../images/tick.png" />开阀</button>
		<button th:if=" ${ cmdName == '增删表地址' } "  type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="加表"><img src="../../images/add.png" />加表</button>
		<button th:if=" ${ cmdName == '增删表地址' } " type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="删表"><img src="../../images/delete.png" />删表</button>
		<button th:if=" ${ devDescription == 'KT3NB GPRS' } " type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="加全部表"><img src="../../images/add.png" />加全部表</button>
		<button th:if=" ${ devDescription == 'KT3NB GPRS' } " type="button" class="btn btn-default btn-sm btnMargin meterControl" data-title="删全部表"><img src="../../images/delete.png" />删全部表</button>
		<button th:if=" ${ devDescription != 'KT3NB GPRS' && cmdName != '增删表地址' && cmdName != '批量控阀' } " type="button" id="sure" class="btn btn-default btn-sm btnMargin meterControl" th:data-title="${cmdName}>"><img src="../../images/tick.png" />确定</button>
		<button type="button" id="close" class="btn btn-default btn-sm btnMargin" data-title="关闭"><img src="../../images/cancel.png" />关闭</button>
	</div>

</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.use(['layer','form','jquery'], function(){
		var form = layui.form
				,layer = layui.layer
		$ = layui.jquery;

		var g_centorId = [[${centorId}]];
		var g_cmdName = [[${cmdName}]];
		var g_ccentorAdd = [[${ccentorAdd}]];
		var g_devDescription = [[${devDescription}]];
		var g_meterType = "10";

		var Post_Data = {centorId: g_centorId};
		var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 150,'/systemmaintenance/loadKT300MeterJson');
		GridObj.jqdefaultGridConfig.caption = "表列表：";
		GridObj.jqdefaultGridConfig.multiselect = true;
		GridObj.jqdefaultGridConfig.postData = Post_Data;
		GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','表号','所属端口','表状态','执行结果'];
		GridObj.jqdefaultGridConfig.colModel = [
			{ name: 'meterId',  width: 75, key: true, hidden: true},
			{ name: 'haRoom.haCustom.custNo', width: 100 },
			{ name: 'haRoom.haCustom.name', width: 100 },
			{ name: 'meterNumber', width: 100 },
			{ name: 'haCollector.resultParams.nconf', width: 80 },
			{ name: 'state', width: 100, cellattr: MeterStateCellColor  },
			{ name: '执行结果', width: 80 }
		];
		GridObj.jqdefaultGridConfig.gridComplete = function(){MeterStateRowColor("jqGrid", "表状态")};
		GridObj.drawGrid();
		GridObj.drawGridPager();
		GridObj.setGridSize();
		GridObj.gridResize();

		$("#close").click(function(){
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			parent.layer.close(index); //再执行关闭
		});
		var get_cmdid_url="/smallbox/haCmd/cmdAdd";
		var get_result_url = "/smallbox/haCmd/getCmdAjax";
		var get_result_timer = $.timer(function(){
			loadCmdResult(this);
		});

		function loadCmdResult(timerObj){
			$.get(get_result_url,
					{cmdid: timerObj.cmdid},
					function(data,status){
						//console.log("cmdid:"+cmdid);
						//console.log("data:"+unescape(data));
						//console.log("rowid:"+rowid);
						if (status == "success"){
							var n, state, processing, s;
							s = unescape(data);
							n = s.indexOf(":");
							if (n > 1){
								state = s.substr(0,n);
								processing = s.substr(n+1);
							}else{
								processing = s;
							}
							if ((state == "完成") || (state == "失败")){
								if(state == "完成"){
									processing = "<span class='fontGreen'>"+processing+"</span>";
								}else{
									processing = "<span class='fontRed'>"+processing+"</span>";
								}
								$("#jqGrid").setRowData(timerObj.rowIds[timerObj.index],{"执行结果": processing});
								get_result_timer.stop();
								var _parms = {
									"rowIds": timerObj.rowIds
									,"index": timerObj.index+1
									,"centorid": timerObj.centorid
									,"cmdName": timerObj.cmdName
								};
								loadCmd("jqGrid", _parms);
							}
						}
					}
			);
		}
		function loadCmd(GridId, parms){
			var rowId = parms.rowIds[parms.index];
			var parmsNameStr = "";
			var cmd = "";
			//console.log(rowId);
			if(rowId == "" || rowId == undefined){
				$(":button").removeAttr("disabled");
				return false;
			}
			var rowData = $("#"+GridId).jqGrid('getRowData', rowId);
			if(!rowData["meterNumber"]){
				parms.index = parms.index+1;
				loadCmd("jqGrid", parms);
				return false;
			}
			switch(parms.cmdName){
					//case "设机电参数"://
					//	parmsNameStr = "设机电参数:表类型,厂商码,表编号,表数据";
					//	cmd = parms.cmdName +":"+g_meterType+","+$("#parms1").val()+","+rowData["表号"]+","+$("#parms2").val();
					//	break;
				case "单表抄收(60)"://
					parmsNameStr = "单表抄表:表编号";
					cmd = "单表抄表" +":"+rowData["meterNumber"];
					break;
				case "单表抄收(66)"://
					parmsNameStr = "抄收单表:表编号";
					cmd = "抄收单表" +":"+rowData["meterNumber"];
					break;
				case "单表抄收5+4":
					parmsNameStr = "单表抄收5+4:表编号";
					cmd = parms.cmdName +":"+rowData["meterNumber"];
				case "开阀"://
					//parmsNameStr = "开阀:表编号,厂商码,表类型";
					//cmd = parms.cmdName +":"+rowData["表号"]+","+"0000"+","+g_meterType;
					cmd = parms.cmdName +":"+rowData["meterNumber"];
					break;
				case "关阀"://
					//parmsNameStr = "关阀:表编号,厂商码,表类型";
					//cmd = parms.cmdName +":"+rowData["表号"]+","+"0000"+","+g_meterType;
					cmd = parms.cmdName +":"+rowData["meterNumber"];
					break;
				case "删表"://
					parmsNameStr = "删表:设备地址,表编号";
					cmd = parms.cmdName +":"+g_ccentorAdd+","+rowData["meterNumber"];
					break;
				case "加表"://
					parmsNameStr = "加表:设备地址,表编号";
					cmd = parms.cmdName +":"+g_ccentorAdd+","+rowData["meterNumber"];
					if(parms.devDescription == "KT3NB GPRS"){
						for(var i=parms.index+1; i<parms.rowIds.length; i++){
							rowData = $("#"+GridId).jqGrid('getRowData', parms.rowIds[i]);
							cmd = cmd +","+ rowData["meterNumber"];
						}
						parms.rowIds.length = 1;
					}
					break;
				case "搜寻表具"://NB表的搜寻表具命令
					parmsNameStr = "搜寻表具:表编号";
					cmd = parms.cmdName +":"+rowData["meterNumber"];
					break;
				default:
					break;

			}
			$.ajax({
				url: get_cmdid_url
				//,context: $("#"+GridId)
				,data: {
					centorid: parms.centorid
					,cmd: cmd
				}
				,type: "POST"
				,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
				,async:false //同步请求
				,success: function(data){
					if(!isNaN(data)){
						$("#"+GridId).setRowData(rowId,{"执行结果":"<img src="+"/images/loading-0.gif"+" />"});
						get_result_timer.cmdid = data;
						get_result_timer.rowIds = parms.rowIds;
						get_result_timer.index = parms.index;
						get_result_timer.centorid = parms.centorid;
						get_result_timer.cmdName = parms.cmdName;
						get_result_timer.set({time: 3*1000, autostart: true});
					}else{
						$("#"+GridId).setRowData(rowId,{"执行结果": data});
						parms.index = parms.index+1;
						loadCmd("jqGrid", parms);
					}
				}
			});
		}

		$(".addMeter").click(function(){
			var ids = getSelectedRows("jqGrid").split(",");
			var rowIds = new Array();
			var rowIds2 = new Array();
			var c = 0;
			var j = 0;
			for(var i=1;i<=ids.length;i++){
				rowIds2[j]=ids[i-1];
				j++;
				if(i%8 == 0){
					rowIds[c] = rowIds2;
					c++;
					rowIds2=[];
					j=0;
				}
				if(i==ids.length && i%8!=0){
					rowIds[c] = rowIds2;
					break;
				}
			}
			for(var i = 0;i<rowIds.length;i++) {
				var cmdName = $(this).data("title"), cmd = "";
				var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
				$(":button").attr({"disabled": "disabled"});
				var parms = {
					"rowIds": rowIds[i]
					, "index": 0
					, "centorid": g_centorId
					, "cmdName": cmdName
					, "devDescription": g_devDescription
				};
				loadCmd("jqGrid", parms);
			}
		});

		$(".meterControl").click(function(){
			var ids = getSelectedRows("jqGrid").split(",");
			var cmdName = $(this).data("title"), cmd = "";
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			if (cmdName == "加全部表") {
				cmd = "加表" + ":" + "全部";
				parent.layui.parms.submitCmd(g_centorId, cmd);
				parent.layer.close(index); //再执行关闭
			}
			if (cmdName == "删全部表") {
				cmd = "删表" + ":" + "全部";
				parent.layui.parms.submitCmd(g_centorId, cmd);
				parent.layer.close(index); //再执行关闭
			} else {
				if (ids == "" && cmdName != "关闭" && cmdName != "加全部表" && cmdName != "删全部表") {
					layer.msg("请选择需要操作的表！", {icon: 5});
					return false;
				}
				$(":button").attr({"disabled": "disabled"});
				var parms = {
					"rowIds": ids
					, "index": 0
					, "centorid": g_centorId
					, "cmdName": cmdName
					, "devDescription": g_devDescription
				};
				loadCmd("jqGrid", parms);
			}
		});
	});
</script>
</body>
</html>
