<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .mySelect dl{max-height: 170px;}
        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">用户编号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_no" lay-verify="required|number|cust_no" autocomplete="off" placeholder="数字,必填" class="layui-input" maxlength="20" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_name" lay-verify="required" autocomplete="off" placeholder="必填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="cust_sex" lay-filter="cust_sex" lay-verify="required">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属小区</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="area" lay-filter="area" lay-verify="required"  lay-search>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">所属楼栋</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="building" lay-filter="building" lay-verify="required" lay-search>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属房间</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="room" lay-filter="room" lay-verify="required"  lay-search>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">编号类型/证件类型</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="id_name"  lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="20" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">证件号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="id_number" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_tel" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_mobile" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_addr" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">邮政编码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_zip" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">开户银行</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_bank" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">开户账号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_account" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>

    <div class="form-inline my-page-btn">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        var get_result_url = "./cust_update_do.asp";
        var g_custid = "<%=custid%>";
        var g_custno = "<%=custom.m_custno%>";

        form.verify({
            cust_no: function(value, item){ //value：表单的值、item：表单的DOM对象
                var _custno = Number($("#cust_no").val());
                if(Number(g_custno) != _custno){
                    queryData = {custNo: _custno};
                    if(isDataRepeat(queryData) == true){
                        return '用户编号重复';
                    }
                }
            },
            code: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "" && isNaN(value)){
                    return '输入只能为数字';
                }
            }
        });
        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        layer.msg("修改成功！", {icon: 1});
                        parent.$("#jqGrid").trigger("reloadGrid");
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        form.on('select(area)', function(data){
            var areaObj = $(data.elem),
                _areaId = areaObj.val();

            $.ajax({
                url: "../common/load_select_option.asp"
                ,data: {
                    selectType: "building",
                    selId: _areaId
                }
                ,async:true //异步请求
                ,success: function(data){
                    appendSelectOption("building", data, "");
                    $("#room").empty();
                    $("#room").append($("<option>").val("").text(""));
                    form.render('select');//刷新表单元素
                }
            });
        });
        form.on('select(building)', function(data){
            var buildingObj = $(data.elem),
                _buildingId = buildingObj.val();

            $.ajax({
                url: "../common/load_select_option.asp"
                ,data: {
                    selectType: "room",
                    selId: _buildingId
                }
                ,async:true //异步请求
                ,success: function(data){
                    appendSelectOption("room", data, "");
                    form.render('select');//刷新表单元素
                }
            });
        });
        form.on('select(room)', function(data){
            var roomObj = $(data.elem),
                _roomName = roomObj.find("option:selected").text();

            area = $("#area").find("option:selected").text().split(":");
            building = $("#building").find("option:selected").text().split(":");
            $("#cust_addr").val(area[1] +'-'+ building[1] +'-'+ _roomName);
        });
        $("#close").click(function(){
            parent.layer.close(index); //再执行关闭
        });
        form.on('submit(sure)', function (data) {

            var data = {
                cust_id: g_custid,
                cust_no: $("#cust_no").val(),
                cust_name: $("#cust_name").val(),
                cust_sex: $("#cust_sex").val(),
                building_id: $("#building").val(),
                room_name: $("#room").find("option:selected").text(),
                id_name: $("#id_name").val(),
                id_number: $("#id_number").val(),
                cust_tel: $("#cust_tel").val(),
                cust_mobile: $("#cust_mobile").val(),
                cust_addr: $("#cust_addr").val(),
                cust_zip: $("#cust_zip").val(),
                cust_bank: $("#cust_bank").val(),
                cust_account: $("#cust_account").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>