<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .mySelect dl{max-height: 170px;}
        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <input type="hidden" id="custId" name="custId" th:value="${custId}">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">用户编号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="custNo" name="custNo" lay-verify="required|number|cust_no" autocomplete="off" placeholder="数字,必填" class="layui-input" maxlength="20" th:value="${custom.custNo}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="name" name="name" lay-verify="required" autocomplete="off" placeholder="必填" class="layui-input" maxlength="32" th:value="${custom.name}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="sex" name="sex" lay-filter="cust_sex" lay-verify="required" th:value="${custom.sex}">
                    <option th:selected="${custom.sex=='男'}" value="男">男</option>
                    <option th:selected="${custom.sex=='女'}" value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属小区</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="area" lay-filter="area" lay-verify="required"  lay-search th:value="${custom.haArea.areaId}">
                    <option value="-1">请选择</option>
                    <option th:selected="${custom.haArea.areaId eq haAreas.areaId}" th:each="haAreas : ${haArea}"
                            th:value="${haAreas.areaId}" th:text="${haAreas.areaNo}+':'+${haAreas.haName}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">所属楼栋</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="building" lay-filter="building" lay-verify="required" lay-search th:value="${custom.haBuilding.buildingId}">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属房间</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="room" lay-filter="room" lay-verify="required"  lay-search th:value="${custom.haRoom.roomId}">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">编号类型/证件类型</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="idName" name="idName"  lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="20" th:value="${custom.idName}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">证件号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="idNumber" name="idNumber" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" th:value="${custom.idNumber}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="tel" name="tel" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" th:value="${custom.tel}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="mobil" name="mobil" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" th:value="${custom.mobil}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="addr" name="addr" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" th:value="${custom.addr}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">邮政编码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="zip" name="zip" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" th:value="${custom.zip}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">开户银行</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="bank" name="bank" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" th:value="${custom.bank}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">开户账号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="account" name="account" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input" maxlength="32" th:value="${custom.account}">
            </div>
        </div>
    </div>

    <div class="form-inline my-page-btn">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        // form.verify({
        //     cust_no: function(value, item){ //value：表单的值、item：表单的DOM对象
        //         var _custno = Number($("#cust_no").val());
        //         if(Number(g_custno) != _custno){
        //             queryData = {custNo: _custno};
        //             if(isDataRepeat(queryData) == true){
        //                 return '用户编号重复';
        //             }
        //         }
        //     },
        //     code: function(value, item){ //value：表单的值、item：表单的DOM对象
        //         if(value != "" && isNaN(value)){
        //             return '输入只能为数字';
        //         }
        //     }
        // });
        function submitInfo(sendData){
            // alert("进来了");
            $.ajax({
                url: "/custom/updateHaCustom"
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        parent.layer.msg("修改成功！", {icon: 1});
                        parent.$("#jqGrid").trigger("reloadGrid");
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        // form.on('select(area)', function(data){
        //     var areaObj = $(data.elem),
        //         _areaId = areaObj.val();
        //
        //     $.ajax({
        //         url: "../common/load_select_option.asp"
        //         ,data: {
        //             selectType: "building",
        //             selId: _areaId
        //         }
        //         ,async:true //异步请求
        //         ,success: function(data){
        //             appendSelectOption("building", data, "");
        //             $("#room").empty();
        //             $("#room").append($("<option>").val("").text(""));
        //             form.render('select');//刷新表单元素
        //         }
        //     });
        // });
        // form.on('select(building)', function(data){
        //     var buildingObj = $(data.elem),
        //         _buildingId = buildingObj.val();
        //
        //     $.ajax({
        //         url: "../common/load_select_option.asp"
        //         ,data: {
        //             selectType: "room",
        //             selId: _buildingId
        //         }
        //         ,async:true //异步请求
        //         ,success: function(data){
        //             appendSelectOption("room", data, "");
        //             form.render('select');//刷新表单元素
        //         }
        //     });
        // });

        form.on('select(area)', function (data) {
            // var areaObj = $(data.elem),
            //     _areaId = areaObj.val();
            var areaId = $("#area").val(); //拿到所属小区值
            if (areaId != null) {
                $.ajax({
                    url: "/custom/QueryHaBuildingJson"
                    , data: {
                        // selectType: "building",
                        areaId: areaId
                    },
                    dataType: "json"
                    , async: true //异步请求
                    , success: function (data) {
                        $("#building").empty();
                        var option = $("<option>").val("").text("");
                        $("#building").append(option);
                        for (var i = 0; i < data.length; i++) {
                            $("#building").append("<option th:selected=\"${haBuilding.buildingId eq data[i].buildingId}\" value='" + data[i].buildingId + "'>" + data[i].buildingNo + ':' + data[i].name + "</option>");
                        }
                        //appendSelectOption("building", data.areaId, "");
                        $("#room").empty();
                        $("#room").append($("<option>").val("").text(""));
                        form.render('select');//刷新表单元素
                    }
                });
            }
        });

        form.on('select(building)', function(data){
            // var buildingObj = $(data.elem),
            //     _buildingId = buildingObj.val();
            var buildingId = $("#building").val(); //拿到所属楼栋值
            $.ajax({
                url: "/custom/QueryRoomJson"
                ,data: {
                    // selectType: "room",
                    buildingId: buildingId
                }
                ,dataType:"json"
                ,async:true //异步请求
                ,success: function(data){
                    // $("#room").empty();
                    // var option = $("<option>").val("").text("");
                    // $("#room").append(option);
                    for (var i = 0; i < data.length; i++) {
                        $("#room").append('<option value="'+data[i].roomId + '">' + data[i].name + '</option>');
                    }
                    // appendSelectOption("room", data, "");
                    form.render('select');//刷新表单元素
                }
            });
        });

        form.on('select(room)', function(data){
            var roomObj = $(data.elem),
                _roomName = roomObj.find("option:selected").text();

            area = $("#area").find("option:selected").text().split(":");
            building = $("#building").find("option:selected").text().split(":");
            $("#cust_addr").val(area[1] +'-'+ building[1] +'-'+ _roomName);
        });
        $("#close").click(function(){
            parent.layer.close(index); //再执行关闭
        });

        form.on('submit(sure)', function (data) {
            var data = {
                custId: $("#custId").val(),
                custNo: $("#custNo").val(),
                name: $("#name").val(),
                sex: $("#sex").val(),
                // building_id: $("#building").val(),
                // room_name: $("#room").find("option:selected").text(),
                idName: $("#idName").val(),
                idNumber: $("#idNumber").val(),
                tel: $("#tel").val(),
                mobil: $("#mobil").val(),
                addr: $("#addr").val(),
                zip: $("#zip").val(),
                bank: $("#bank").val(),
                account: $("#account").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>