<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
        //width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .layui-form-select dl dd{
            overflow: visible;
        }
        .mySelect dl{max-height: 170px;}
        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_code" lay-verify="required" autocomplete="off" placeholder="唯一,必填" class="layui-input" maxlength="32" readonly="readonly" value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_name" lay-verify="required|operator_name" autocomplete="off" placeholder="必填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_sex" lay-filter="" lay-verify="required">
                    <option value=""></option>
                    <option value="M">男</option>
                    <option value="F">女</option>
                    <option value="N">未知</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_mobile" lay-verify="operator_mobile" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">密码设置</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_pwd" lay-verify="" type="password" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_sure_pwd" lay-verify="sure_pwd" type="password" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">账户状态</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_state" lay-filter="required" lay-verify="required" lay-search>
                    <option value="Y">启用</option>
                    <option value="N">禁用</option>
                    <option value="Y" selected="">启用</option>
                    <option value="N" selected="">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">账户权限</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_level" lay-filter="operator_level" lay-verify="required"  lay-search>
                    <option value="admin">系统管理员</option>
                    <option value="normal">普通管理员</option>
                    <option value="readMan">抄收员</option>
                    <option value="viewMan">查阅员</option>
                    <option value="admin" selected="">系统管理员</option>
                    <option value="normal" selected="">普通管理员</option>
                    <option value="readMan" selected="">抄收员</option>
                    <option value="viewMan" selected="">查阅员</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">区域类型</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_rgn_type" lay-filter="operator_rgn_type" lay-verify="required">
                    <option value="all">全部区域</option>
                    <option value="rgn">大区</option>
                    <option value="area">小区</option>
                    <option value="all">全部区域</option>
                    <option value="rgn">大区</option>
                    <option value="area">小区</option>
                    <option value="all" selected="">全部区域</option>
                    <option value="rgn" selected="">大区</option>
                    <option value="area" selected="">小区</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">区域选择</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_rgn" lay-filter="operator_rgn" lay-verify="operator_rgn" multiple="multiple">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_company" lay-verify="required" lay-search>
                    <option value=""></option>
                    <option value="骏普科技">骏普科技</option>
                    <option value="镇江水司">镇江水司</option>
                    <option value="泰州水司">泰州水司</option>
                    <option value="南通燃气">南通燃气</option>
                    <option value="玉溪水司">玉溪水司</option>
                    <option value="保定水司">保定水司</option>
                    <option value="盐城水司">盐城水司</option>
                    <option value="鹤山水司">鹤山水司</option>
                    <option value="上海真诺">上海真诺</option>
                    <option value="中科君达">中科君达</option>
                    <option value="浦口水司">浦口水司</option>
                    <option value="融安水司">融安水司</option>
                    <option value="句容水司">句容水司</option>
                    <option value="湖南成聪">湖南成聪</option>
                    <option value="宁远水司">宁远水司</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_remark" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="32" value="">
            </div>
        </div>
    </div>
    <div class="form-inline my-page-btn">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer', 'jquery'], function(){
        var form = layui.form
            ,layer = layui.layer,
            $ = layui.jquery;;
        layui.selMeltiple($);
        var get_result_url = "./operator_update_do.asp";
        var g_operator_level = "<%=thisOperatorLevel%>";
        var g_operator_code = "<%=thisOperatorCode%>";
        var g_sel_operator_upper = "<%=operator.m_upper%>";
        var g_sel_upper_rgn_type = "<%=selUpperRgnType%>";
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        form.verify({
            operator_name: function(value, item){
                if(value && value.indexOf("系统")>=0){
                    return "不能使用系统关键字";
                }
            },
            operator_mobile: function(value, item){
                if(value && isNaN(value)==true){
                    return "只能为数字";
                }
            },
            sure_pwd: function(value, item){
                if(value != "" && value != $("#operator_pwd").val()){
                    return '确认密码输入有误';
                }
            },
            operator_rgn: function(value, item){
                if($("#operator_rgn_type").val() != "all" && $("#operator_rgn").parent().find("input.txtSel").val() == ""){
                    return '请选择所管理的区域';
                }
            }
        });
        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == ""){
                        parent.layer.msg("修改成功！", {icon: 1});
                        parent.$("#jqGrid").trigger("reloadGrid");
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        form.on('select(operator_rgn_type)', function(data){
            var elemObj = $(data.elem);
            $.ajax({
                url: "../common/load_select_option.asp"
                ,data: {
                    selectType: $("#operator_rgn_type").val(),
                    op: "update",
                    upper_operator_code: g_sel_operator_upper,
                    upper_rgn_type: g_sel_upper_rgn_type
                }
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:true //异步请求
                ,success: function(data){
                    appendSelectOption("operator_rgn", data, "");
                    form.render('select');//刷新表单元素
                    layui.selMeltiple($);
                }
            });
        });
        $("#close").click(function(){
            parent.layer.close(index); //再执行关闭
        });
        form.on('submit(sure)', function (data) {
            if($("#operator_level").val() == 'admin')
                g_operator_code = '';
            var data = {
                operator_code: $("#operator_code").val(),
                operator_name: $("#operator_name").val(),
                operator_sex: $("#operator_sex").val(),
                operator_mobile: $("#operator_mobile").val(),
                operator_state: $("#operator_state").val(),
                operator_upper: g_operator_code,
                operator_level: $("#operator_level").val(),
                operator_rgn_type: $("#operator_rgn_type").val(),
                operator_rgn: $("#operator_rgn").parent().find("input.txtSel").val(),
                operator_pwd: $("#operator_pwd").val(),
                operator_company: $("#operator_company").val(),
                operator_remark: $("#operator_remark").val()
            };
            //console.log($("#operator_rgn").parent().find("input.txtSel").val());
            submitInfo(data);
        });
    });
</script>
</body>
</html>