<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 80px;
        }

        .layui-input {
            height: 32px;
            line-height: 32px;
        }

        .layui-form-select dl dd {
            overflow: visible;
        }

        .mySelect dl {
            max-height: 170px;
        }

        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_code" lay-verify="required|operator_code" autocomplete="off" placeholder="唯一,必填"
                       class="layui-input" maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_name" lay-verify="required|operator_name" autocomplete="off" placeholder="必填"
                       class="layui-input" maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_sex" lay-filter="" lay-verify="required">
                    <option value=""></option>
                    <option value="M" selected="">男</option>
                    <option value="F">女</option>
                    <option value="N">未知</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_mobile" lay-verify="operator_mobile" autocomplete="off" placeholder="选填"
                       class="layui-input" maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">密码设置</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_pwd" lay-verify="required" type="password" autocomplete="off" placeholder="必填"
                       class="layui-input" maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_sure_pwd" lay-verify="required|sure_pwd" type="password" autocomplete="off"
                       placeholder="必填" class="layui-input" maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">账户状态</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_state" lay-filter="" lay-verify="required" lay-search>
                    <option value="Y" selected="">启用</option>
                    <option value="N">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">账户权限</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_level" lay-filter="" lay-verify="required" lay-search>
                    <option value=""></option>
                    <option value="admin" th:if="${session.haOperator.getOperatorLevelCode()<=0}">系统管理员</option>
                    <option value="normal" th:if="${session.haOperator.getOperatorLevelCode()<=0}">普通管理员</option>
                    <option value="readMan" th:if="${session.haOperator.getOperatorLevelCode()==1}">抄收员</option>
                    <option value="viewMan" th:if="${session.haOperator.getOperatorLevelCode()==1}">查阅员</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">区域类型</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_rgn_type" lay-filter="operator_rgn_type" lay-verify="required">
                    <option value=""></option>
                    <option value="all" selected="" th:if="${session.haOperator.getOperatorLevelCode()<=0}">全部区域</option>
                    <option value="rgn" th:if="${session.haOperator.getOperatorLevelCode()<=0}">大区</option>
                    <option value="area" th:if="${session.haOperator.getOperatorLevelCode()<=0}">小区</option>
                    <div th:if="${session.haOperator.getOperatorLevelCode()==1}">
                        <option value="all" th:if="${session.haOperator.getOperatorRgnType()=='all'}">全部区域</option>
                        <option value="rgn" th:if="${session.haOperator.getOperatorRgnType()=='all' or session.haOperator.getOperatorRgnType()=='rgn'}">大区</option>
                        <option value="area" th:if="${session.haOperator.getOperatorRgnType()=='all' or session.haOperator.getOperatorRgnType()=='area'}">小区</option>
                    </div>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">区域选择</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_rgn" lay-filter="operator_rgn" lay-verify="operator_rgn" multiple="multiple">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="operator_company" lay-verify="required" lay-search>
                    <option value=""></option>
                    <option value="骏普科技" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='骏普科技')}" selected="">骏普科技(默认)</option>
                    <option value="镇江水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='镇江水司')}">镇江水司</option>
                    <option value="泰州水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='泰州水司')}">泰州水司</option>
                    <option value="南通燃气" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='南通燃气')}">南通燃气</option>
                    <option value="玉溪水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='玉溪水司')}">玉溪水司</option>
                    <option value="保定水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='保定水司')}">保定水司</option>
                    <option value="盐城水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='盐城水司')}">盐城水司</option>
                    <option value="鹤山水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='鹤山水司')}">鹤山水司</option>
                    <option value="上海真诺" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='上海真诺')}">上海真诺</option>
                    <option value="中科君达" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='中科君达')}">中科君达</option>
                    <option value="浦口水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='浦口水司')}">浦口水司</option>
                    <option value="融安水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='融安水司')}">融安水司</option>
                    <option value="句容水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='句容水司')}">句容水司</option>
                    <option value="湖南成聪" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='湖南成聪')}">湖南成聪</option>
                    <option value="宁远水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='宁远水司')}">宁远水司</option>
                    <option value="安徽全椒" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='安徽全椒')}">安徽全椒</option>
                    <option value="河池水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='河池水司')}">河池水司</option>
                    <option value="武汉易维" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='武汉易维')}">武汉易维</option>
                    <option value="郁南水务" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='郁南水务')}">郁南水务</option>
                    <option value="巴南水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='巴南水司')}">巴南水司</option>
                    <option value="大竹水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='大竹水司')}">大竹水司</option>
                    <option value="新田水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='新田水司')}">新田水司</option>
                    <option value="获嘉水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='获嘉水司')}">获嘉水司</option>
                    <option value="三川邵阳" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='三川邵阳')}">三川邵阳</option>
                    <option value="三川景德镇" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='三川景德镇')}">三川景德镇</option>
                    <option value="东莞相思鸟" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='东莞相思鸟')}">东莞相思鸟</option>
                    <option value="华龙仪表" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='华龙仪表')}">华龙仪表</option>
                    <option value="佛山威星" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='佛山威星')}">佛山威星</option>
                    <option value="广东韶关" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='广东韶关')}">广东韶关</option>
                    <option value="福达" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='福达')}">福达</option>
                    <option value="安徽来安水司" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='安徽来安水司')}">安徽来安水司</option>
                    <option value="吉林桦甸" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='吉林桦甸')}">吉林桦甸</option>
                    <option value="湖南新邵" th:if="${session.haOperator.getOperatorLevelCode()==0 or (session.haOperator.getOperatorLevelCode()>0 and session.haOperator.getOperatorCompany()=='湖南新邵')}">湖南新邵</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="operator_remark" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>
    <div class="form-inline my-page-btn">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin"><img
                src="../images/tick.png"/>确定
        </button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png"/>关闭
        </button>
    </div>
    <input type="hidden" id="gOperatorLevel" th:value="${session.haOperator.getOperatorLevel()}">
    <input type="hidden" id="gOperatorCode" th:value="${session.haOperator.getOperatorCode()}">
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer,
            $ = layui.jquery;
        ;
        layui.selMeltiple($);
        var get_result_url = "/operator/AddHaOperator";
        var g_operator_level = $("#gOperatorLevel").val();
        var g_operator_code = $("#gOperatorCode").val();
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        form.verify({
            operator_code: function (value, item) { //value：表单的值、item：表单的DOM对象
                queryData = {operator_code: value};
                var uPattern = /^[a-zA-Z0-9_-]{2,28}$/;
                if (!uPattern.test(value)) {
                    return "用户账号只能为数字、字母或下划线，且长度介于2-28";
                }
                if (isDataRepeat(queryData) == true) {
                    return '用户账号已存在';
                }
                if (value == 'sys' || value.substr(0, 4) == "sys_") {
                    return '账号不能为sys或以sys_开头';
                }
            },
            operator_name: function (value, item) {
                if (value && value.indexOf("系统") >= 0) {
                    return "不能使用系统关键字";
                }
            },
            operator_mobile: function (value, item) {
                if (value && isNaN(value) == true) {
                    return "只能为数字";
                }
            },
            operator_state: function (value, item) {
                if (g_operator_level != "admin" && g_operator_level != "normal" && value == "N") {
                    return "无权限禁用";
                }
            },
            sure_pwd: function (value, item) {
                if ($("#operator_sure_pwd").val() != $("#operator_pwd").val()) {
                    return '确认密码输入有误';
                }
            },
            operator_rgn: function (value, item) {
                if ($("#operator_rgn_type").val() != "all" && $("#operator_rgn").parent().find("input.txtSel").val() == "") {
                    return '请选择所管理的区域';
                }
            }
        });

        function submitInfo(sendData) {
            $.ajax({
                url: get_result_url
                , data: sendData
                , type: "POST"
                , contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                , async: false //同步请求
                , success: function (data) {
                    if (data == "true") {
                        layer.msg("新增成功！", {icon: 1});
                    } else {
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        form.on('select(operator_rgn_type)', function (data) {
            var elemObj = $(data.elem);
            $.ajax({
                url: "/operator/LoadSelectOption"
                , data: {
                    selectType: $("#operator_rgn_type").val(),
                    op: "add"
                }
                , type: "POST"
                , contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                , async: true //异步请求
                , success: function (data) {
                    if($("#operator_rgn_type").val()=="rgn"){
                        $("#operator_rgn").empty();
                        var option = $("<option>").val("").text("");
                        $("#operator_rgn").append(option);
                        for (var i = 0; i < data.length; i++) {
                            $("#operator_rgn").append("<option value='" + data[i].id + "'>"+ data[i].name + "</option>");
                        }
                    }else if($("#operator_rgn_type").val()=="area"){
                        $("#operator_rgn").empty();
                        var option = $("<option>").val("").text("");
                        $("#operator_rgn").append(option);
                        for (var i = 0; i < data.length; i++) {
                            $("#operator_rgn").append("<option value='" + data[i].areaNo + "'>" + data[i].areaNo + ':' + data[i].haName + "</option>");
                        }
                    }else if($("#operator_rgn_type").val()=="all" || $("#operator_rgn_type").val()==""){
                        $("#operator_rgn").append(null);
                    }
                    form.render('select');//刷新表单元素
                    layui.selMeltiple($);
                }
            });
        });
        $("#close").click(function () {
            parent.$("#jqGrid").trigger("reloadGrid");
            parent.layer.close(index); //再执行关闭
        });
        form.on('submit(sure)', function (data) {
            if ($("#operator_level").val() == 'admin')
                g_operator_code = '';
            var data = {
                operatorCode: $("#operator_code").val(),
                operatorName: $("#operator_name").val(),
                operatorSex: $("#operator_sex").val(),
                operatorMobile: $("#operator_mobile").val(),
                operatorState: $("#operator_state").val(),
                operatorUpper: g_operator_code,
                operatorLevel: $("#operator_level").val(),
                operatorRgnType: $("#operator_rgn_type").val(),
                operator_rgn: $("#operator_rgn").parent().find("input.txtSel").val(),
                operatorPwd: $("#operator_pwd").val(),
                operatorCompany: $("#operator_company").val(),
                operatorRemark: $("#operator_remark").val()
            };
            //console.log($("#operator_rgn").parent().find("input.txtSel").val());
            submitInfo(data);
        });
    });
</script>
</body>
</html>