<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</head>
<style type="text/css">
    .my-form-col {
        margin-right:10px;padding:0;
    }
    .my-form-no-edge{
        padding:0px;margin:0px;
    }
</style>
<body class="myPage-body">
<div class="container myContainer">
    <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
        <div class="col-xs-2 my-form-col">
            <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div>
        <div id="nav2" class="my-btns pull-right" name="MngButtons" style="display:block;">
            <button data-modal="" data-title="新增" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-plus"></span> 新增</button>
            <button data-modal="" data-title="修改" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
            <button data-modal="" data-title="删除" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-trash"></span> 删除</button>
        </div>
    </div>
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.config({
        base : '/common/js/',
        version: '2.8.2'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'form', 'myLayui'], function(){
        var layer = layui.layer,
            myLayui = layui.myLayui,
            form = layui.form;

        var Post_Data = {ListNumber: 23};



        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 114,"/operator/operatorListJson");
        //GridObj.jqdefaultGridConfig.caption = "操作员列表：";
        GridObj.jqdefaultGridConfig.postData = Post_Data;
        GridObj.jqdefaultGridConfig.jsonReader.rows="rows";
        GridObj.jqdefaultGridConfig.jsonReader.id="id";
        GridObj.jqdefaultGridConfig.jsonReader.page="page";
        GridObj.jqdefaultGridConfig.jsonReader.total="total";
        GridObj.jqdefaultGridConfig.jsonReader.records="records";
        GridObj.jqdefaultGridConfig.jsonReader.repeatitems=false;
        GridObj.jqdefaultGridConfig.colNames = ['账号','名称','性别','状态','权限级别','区域类型','上级管理','公司名称','手机号码','备注','创建时间'];
        GridObj.jqdefaultGridConfig.colModel = [
            { name: 'operatorCode',  width: 75, key: true, hidden: true},
            { name: 'operatorName', width: 120 },
            { name: 'operatorSex', width: 40 },
            { name: 'operatorState', width: 50, cellattr: operatorStateCellColor },
            { name: 'operatorLevel', width: 120 },
            { name: 'operatorRgnType', width: 80 },
            { name: 'operatorUpper', width: 100 },
            { name: 'operatorCompany', width: 100 },
            { name: 'operatorMobile', width: 160 },
            { name: 'operatorRemark', width: 100 },
            { name: 'operatorCreattime', width: 160 }
        ];
        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();
        GridObj = null;

        function submitInfo(getResultUrl, sendData){
            $.ajax({
                url: getResultUrl
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == ""){
                        layer.msg("操作成功！", {icon: 1});
                        $("#jqGrid").trigger("reloadGrid");
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        var _myLayui = new myLayui;
        $(".layui-btn-primary, .layui-btn").click(function(){
            var btnTitle = $(this).data("title");
            var jqGridRowsID = getSelectedRows("jqGrid");
            var account = jqGridRowsID, _this_operator_code = '<%=Session("operator_code")%>';
            if (account == "" && btnTitle != "查询" && btnTitle != "新增"){
                layer.msg("请选择操作行！", {icon: 5});
                return false;
            }
            switch(btnTitle){
                case "新增":
                    _layerSize = ['560px', '400px'];
                    _queryStr = [
                        "cmdName=新增操作员资料"
                    ];
                    _myLayui.showLayer("新增操作员资料", "/operator/JumpOperatorAdd", _queryStr, _layerSize);
                    break ;
                case "修改":
                    _layerSize = ['560px', '400px'];
                    _queryStr = [
                        "cmdName=修改操作员资料",
                        "operator_code="+account
                    ];
                    _myLayui.showLayer("修改操作员资料", "/operator/JumpOperatorUpdate", _queryStr, _layerSize);
                    break ;
                case "删除":
                    var sendData = {
                        operatorCode: account,
                        this_operator_code: _this_operator_code
                    };
                    layer.confirm('确定删除该操作员资料吗？', {icon:3, title:'提示'},
                        function(index, layero){
                            submitInfo("/operator/DeleteHaOperator", sendData);
                        });
                    break ;
                default:
                    break;
            }
        });

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            var  _pdArray = "";
            _pdArray = {
                "keyWord": $("#keyWord").val()
            };
            fullTextSearch("jqGrid", _pdArray);
        });

    });
</script>
</body>
</html>