<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="/priceStandard/DeleteHaFeestandard" method="post" onsubmit="">
    <table class="table table-bordered">
        <input type="hidden" id="feeId" name="feeId" th:value="${feeId}">
        <thead>
        <tr>
            <th>费用名称</th>
            <th>单价1</th>
            <th>单价2</th>
            <th>单价3</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="haFeestandard:${haFeestandards}">
            <td th:text="${haFeestandard.name}"></td>
            <td th:text="${haFeestandard.price1}"></td>
            <td th:text="${haFeestandard.price2}"></td>
            <td th:text="${haFeestandard.price3}"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-default btn-sm"><img src="../images/delete.png"/>删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
</body>
</html>