<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaBuildingMapper">

    <resultMap id="buildingMap" type="com.ktamr.domain.HaBuilding">
        <id column="buildingId" property="buildingId"/>
        <result column="cuaddr" property="cuaddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="maddr" property="maddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id column="aareaId" property="areaId"/>
            <result column="haName" property="haName"/>
        </association>
        <association property="haRoom" javaType="com.ktamr.domain.HaRoom">
            <result column="roomId" property="roomId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
            <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <association property="haCustom" javaType="com.ktamr.domain.HaCustom">
                <result column="custNo" property="custNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            </association>
            <association property="haMeter" javaType="com.ktamr.domain.HaMeter">
                <result column="meterId" property="meterId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
                <result column="meterNumber" property="meterNumber" javaType="java.lang.Long"></result>
                <result column="thNumber" property="thNumber" javaType="java.lang.Double"></result>
                <result column="lfNumber" property="lfNumber"></result>
                <result column="sNumber" property="snumber"></result>
                <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                <result column="thRTime" property="thRTime" javaType="java.util.Date"></result>
                <result column="gNumber" property="gNumber" javaType="java.lang.Double"></result>
                <result column="offsetn" property="offsetN" javaType="java.lang.Long" ></result>
                <result column="startTime" property="startTime" javaType="java.util.Date"></result>
                <result column="meterChannel" property="meterChannel" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
                <result column="meterSequence" property="meterSequence" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
                <association property="haVendor" javaType="com.ktamr.domain.HaVendor">
                    <id column="mvendorId" property="vendorId"></id>
                </association>
                <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
                    <id column="centorId" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
                </association>
                <association property="haPricestandard" javaType="com.ktamr.domain.HaPricestandard">
                    <result column="pname" property="name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                </association>
            </association>
        </association>
    </resultMap>

    <select id="selectAllBuildingAndCount" resultMap="buildingMap" parameterType="com.ktamr.domain.HaBuilding">
        select * from (SELECT
             r.roomid AS roomId
            ,m.meterid AS meterId
            , cu.custno AS custNo
            , cu.name as name
            , a.name||'-'||b.name||'-'||r.name AS cuaddr
            , r.description AS description
            ,m.addr AS maddr
            , m.meterNumber AS meterNumber
            , m.th_number as thNumber
            , m.lf_number as lfNumber
            , m.s_number as snumber
            , m.state as state
            , th_r_time as thRTime
            ,c.id AS centorId
            FROM
            ha_room r LEFT JOIN ha_custom cu ON r.custid=cu.custid
            LEFT JOIN ha_meter m ON m.roomid=r.roomid
            LEFT JOIN ha_centor c ON c.id=m.centorid
            LEFT JOIN ha_collector co ON co.collectorid=m.collectorid
            LEFT JOIN ha_pricestandard p ON m.pricestand_id=p.pricestand_id
            LEFT JOIN ha_building b ON r.buildingid=b.buildingid
            LEFT JOIN ha_area a ON a.areaid=b.areaid
            WHERE r.roomid>0
            and (LEFT(a.areaNo,1) = #{rgnAndAreaId} or a.areaNo = #{rgnAndAreaId} or #{rgnAndAreaId} = '')
            <if test=" areaId != null and areaId != -1 ">
                and a.areaid=#{areaId}
            </if>
            <if test=" buildingId != null and buildingId != -1 ">
                and r.buildingid = #{buildingId}
            </if>
            <if test=" params.keyWord != null and params.keyWord != ''  ">
                    and (a.name||'-'||b.name||'-'||r.name like '%${params.keyWord}%'
                    or cu.name like '%${params.keyWord}%'
                    or a.areaNo like '%${params.keyWord}%'
                    or r.description like '%${params.keyWord}%'
                    or m.state like '%${params.keyWord}%'
                    or to_char(m.th_r_time, 'YYYY-MM-DD hh:mm:ss') like '%${params.keyWord}%'
                    <if test=" params.operatorCompanyId == 'sys_ntrq'  ">
                        or m.addr like '%${params.keyWord}%'
                    </if>
                    <if test=" params.operatorCompanyId != 'sys_ntrq'  ">
                        or to_char(m.meterNumber,'fm999999999999') like '%${params.keyWord}%'
                    </if>
                    )
            </if>
            ) t
        <!--多条件查询-->
        ${multipleConditions}
        order by cuaddr
    </select>



    <select id="HaBuildingListC" resultMap="buildingMap">
        select buildingid as buildingId,name as name,description as description from ha_building where 1=1
        <if test="haBuilding.areaId!=null">
            and areaid = #{haBuilding.areaId}
        </if>
        <if test="haBuilding.keyWord != null and haBuilding.keyWord != ''">
            and name like '%${haBuilding.keyWord}%' or description like '%${haBuilding.keyWord}%'
        </if>
    </select>

    <select id="HaBuildingCountC" resultType="INTEGER">
        select count(1) from ha_building
    </select>

    <select id="queryHaBuildingC" resultType="com.ktamr.domain.HaBuilding">
        select buildingid,areaid,buildingNo,name from ha_building where 1=1
        <if test="areaId!=null">
            and areaid=#{areaId}
        </if>
    </select>

    <insert id="addHaBuildingC">
        insert into ha_building(buildingid,name,description,areaid) values (default ,#{name},#{description},#{areaId})
    </insert>

    <delete id="deleteHaBuildingC">
        delete from ha_building where buildingid = #{buildingId}
    </delete>

    <update id="updateHaBuildingC">
        update ha_building
        <trim prefix="set" suffixOverrides="," suffix="where buildingid = #{buildingId}">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
    </update>

    <select id="updateByIdHaBuilding" resultMap="buildingMap">
        SELECT b.buildingid as buildingId,b.name as name,b.description as description,
        a.areaid as aareaid,a.name as haName FROM ha_building b,ha_area a WHERE b.areaid = a.areaid AND b.buildingid=#{buildingId}
    </select>

    <resultMap id="queryAllBuildingMapC" type="com.ktamr.domain.HaBuilding">
        <id property="buildingId" column="buildingId"/>
        <result property="areaId" column="areaId"/>
        <result property="name" column="name"/>
        <result property="descriptno" column="descriptno"/>
        <result property="areano" column="areano"/>
        <result property="buildingNo" column="buildingNo"/>
        <result property="buildingCount" column="buildingCount"/>
        <association property="haRoom" javaType="com.ktamr.domain.HaRoom">
            <id property="roomId" column="roomId"/>
        </association>
    </resultMap>

    <select id="queryHaBuildingConditionC" resultMap="queryAllBuildingMapC">
        SELECT b.buildingid as buildingId,b.name as name, COUNT(r.roomid) as buildingCount
        FROM ha_building b LEFT JOIN ha_room r ON b.buildingid=r.buildingid
        WHERE b.areaid=#{areaId}
        GROUP BY b.buildingid, b.name ORDER BY b.name
    </select>

    <select id="queryAllBuildingC" resultMap="queryAllBuildingMapC">
        SELECT trim(to_char(r.roomid, '99999999'))||'_'||
        trim(CASE WHEN m.meterid IS NULL THEN '' ELSE trim(to_char(m.meterid, '99999999')) END)  AS roommeterid,
        cu.custno AS 用户编号, cu.name as 用户名称,  a.name||'-'||b.name||'-'||r.name  AS 用户地址, r.description AS 房间备注
        , m.meterNumber AS 表号, m.th_number as 最近读数, m.lf_number as 上期结算,
        m.s_number as 本期用量, m.state as 表状态, to_char(m.th_r_time, 'yyyy-mm-dd hh24:mi:ss') as 最近抄表时间,
        p.name as 收费类型, CASE WHEN c.addr != '' then c.addr  ELSE '[无对象]' END  AS 所属集中器,
        c.id AS centorid, CASE WHEN co.addr != '' THEN co.addr||'('||to_hex(co.nconf)||')'ELSE  '[无对象]' END  AS 所属采集器,
        c.id AS centorid, CASE WHEN co.addr != '' THEN co.addr||'('||to_hex(co.nconf)||')'ELSE  '[无对象]' END  AS 所属采集器,
        m.g_number AS 表底数, m.offset_n AS 调节数, m.vendor_id AS 厂商ID,
        m.meter_channel AS 通道号, m.meter_sequence AS 表序号,to_char(m.starttime, 'yyyy-mm-dd') as 装表时间
        FROM ((((((ha_room r LEFT JOIN ha_custom cu ON r.custid=cu.custid)
        LEFT JOIN ha_meter m ON m.roomid=r.roomid)
        LEFT JOIN ha_centor c ON c.id=m.centorid)
        LEFT JOIN ha_collector co ON co.collectorid=m.collectorid)
        LEFT JOIN ha_pricestandard p ON m.pricestand_id=p.pricestand_id)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON a.areaid=b.areaid WHERE r.roomid>0
        ORDER BY a.name||'-'||b.name||'-'||r.name
        limit #{page} OFFSET #{rowNum}
    </select>

    <select id="allBuildingCountC" resultType="_int">
        select count(1) from ha_room
    </select>
</mapper>