<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCentorMapper">

    <resultMap id="haCentorMap" type="com.ktamr.domain.HaCentor">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result column="centorNo" property="centorNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorAreaNo" property="centorAreaNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="roomMeterId" property="roomMeterId" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorDs" property="centorDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorId" property="centorId" javaType="java.lang.Long"></result>
        <result column="addr" property="addr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="description" property="description" javaType="java.lang.String"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="zbs" property="zbs" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="meters" property="meters" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="areaId" property="areaId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="jdbs" property="jdbs" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="wfhbs" property="wfhbs" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="lastStateChangeTime" property="lastStateChangeTime" javaType="java.util.Date"></result>
        <result column="telNumber" property="telNumber" javaType="java.lang.String"></result>
        <result column="ver" property="ver" javaType="java.lang.String"></result>
        <result column="remark" property="remark" javaType="java.lang.String"></result>
        <result column="setupTime" property="setupTime" javaType="java.util.Date"></result>
        <result column="endTime" property="endTime" javaType="java.util.Date"></result>
        <result column="rTime" property="rTime" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorAddr" property="centorAddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="collectorAddr" property="collectorAddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="xhqd" property="xhqd" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="dcdy" property="dcdy" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <result column="haName" property="haName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
        <association property="haCollector" javaType="com.ktamr.domain.HaCollector">
            <id column="collectorId" property="collectorId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            <result column="routers" property="routers" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="nconf" property="snconf" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="oconf" property="soconf" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
        <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
            <id column="meterId" property="meterId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            <result column="meterNumber" property="meterNumber" javaType="java.lang.Long" jdbcType="INTEGER"></result>
            <result column="thNumber" property="thNumber" javaType="java.lang.Double"></result>
            <result column="thRTime" property="thRTime" javaType="java.util.Date"></result>
            <result column="lfNumber" property="lfNumber" javaType="java.lang.Double"></result>
            <result column="snumber" property="snumber" javaType="java.lang.Double"></result>
            <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>

    <!--A区集中器-->
   <select id="selectAllCentorzAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT  c.id AS id
        , c.centorNo AS centorNo
        ,substring(c.centorNo, 2, 4) AS centorAreaNo
        , Right(c.centorNo, 5) AS centorDs
        , c.centorid AS centorId
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='集中器无返回') AS wfhbs
        ,c.last_state_change_time AS lastStateChangeTime
        ,c.telNumber AS telNumber
        ,c.ver AS ver
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c,ha_area a
        WHERE Left(c.description,3)='KT4'
        AND Left(c.centorNO, 5)=a.areaNO
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.centorNo like '%${params.keyWord}%'
            or substring(c.centorNo, 2, 4) like '%${params.keyWord}%'
            or Right(c.centorNo, 5) like '%${params.keyWord}%'
            or c.addr like '%${params.keyWord}%'
            or c.description like '%${params.keyWord}%'
            or c.state = #{params.keyWord}
            or c.ver = #{params.keyWord}
            or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        order by c.centorNo,c.addr
    </select>

    <select id="selectAllCentorzQueryIdAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT m.meterid AS meterId
        , m.centorid AS centorId
        , ce.centorid AS centorAddr
        , to_hex(co.nconf) AS collectorAddr
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        , m.meterNumber AS meterNumber
        , m.lf_number as lfNumber
        , m.th_number as thNumber
        , m.s_number as snumber
        , m.state as state
        , m.th_r_time as thRTime
         FROM  ha_meter m LEFT JOIN hav_meterinfo mi ON m.meterid=mi.meterid
         LEFT JOIN ha_centor ce ON ce.id=m.centorid
         LEFT JOIN ha_collector co ON co.collectorid=m.collectorid
         WHERE 1=1
        <if test=" centorId != null and centorId != '' ">
            and m.centorid IN  (#{centorId})
        </if>
         <if test=" haCollector != null and haCollector.collectorId != '' ">
             and m.collectorid IN  (#{haCollector.collectorId})
         </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%' or mi.用户地址 like '%${params.keyWord}%' or m.state = #{params.keyWord})
        </if>
         ORDER BY mi.用户地址
    </select>

    <select id="selectAllCentorzByIdAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        select
        co.collectorid as collectorId
        ,co.centorid as centorId
        ,t.centorNo as centorNo
        ,to_hex(co.nconf) as nconf
        ,to_hex(co.oconf) as oconf
        ,co.addr as addr
        ,co.ver as ver
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid) AS zbs
        ,co.meters AS meters
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid and m.state='采集器无返回') AS wfhbs
        ,CASE WHEN co.state='EE' THEN '未通讯(EE)' WHEN co.state='0' THEN '信号无(0)' WHEN co.state='2' THEN '信号弱(2)' WHEN co.state='4' THEN '信号良(4)' WHEN co.state='8' THEN '信号强(8)' WHEN  co.state=co.state THEN co.state END as state
        ,co.routers AS routers
        FROM ha_collector co, ha_centor t
        WHERE co.centorid IN (#{centorId}) AND co.centorid=t.id
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (to_hex(co.nconf) like '%${params.keyWord}%'
            or to_hex(co.oconf) like '%${params.keyWord}%'
            or co.addr like '%${params.keyWord}%'
            or co.state = #{params.keyWord}
            or co.ver = #{params.keyWord})
        </if>
        ORDER BY co.addr,to_hex(co.nconf)
    </select>

    <!--A区集采器-->
    <select id="selectAllCentorcAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT  c.id AS id
        , c.centorNo AS centorNo
        , c.centorid AS centorId
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='集中器无返回') AS wfhbs
        ,c.last_state_change_time AS lastStateChangeTime
        ,c.RSSI AS xhqd
        ,c.Vol/1000 AS dcdy
        ,c.telNumber AS telNumber
        ,c.ver AS ver
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c,ha_area a
        WHERE (Left(c.description,4)='GPRS' OR Left(c.description,3)='COM' OR Left(c.description,3)='KT3') AND Left(c.centorNO, 5)=a.areaNO
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.centorNo like '%${params.keyWord}%' or substring(c.centorNo, 2, 4) like '%${params.keyWord}%' or to_char(to_number(Right(c.centorNo, 5),'9999999999'),'fm9999999999') like '%${params.keyWord}%'
            or c.addr like '%${params.keyWord}%' or c.description like '%${params.keyWord}%' or c.state = #{params.keyWord} or c.ver = #{params.keyWord} or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        ORDER BY c.centorNo
    </select>

    <!--A区手抄器-->
    <select id="selectAllCentorHandAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT c.id AS id
        , c.centorNo AS centorNo
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,c.rtime AS rTime
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c, ha_area a
        WHERE Left(c.description,4)='HAND' AND Left(c.centorNO, 5)=a.areaNO
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.addr like '%${params.keyWord}%' or c.description like '%${params.keyWord}%' or c.state = #{state}
            or c.remark  like '%${params.keyWord}%' or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        ORDER BY c.centorNo
    </select>

    <!--nb单表-->
    <select id="selectNbSurfaceCollector" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT
        mi.roomid::VARCHAR(12)||'_'|| CASE WHEN mi.meterid IS NULL THEN '' ELSE mi.meterid::VARCHAR(12) END  AS roomMeterId
        ,c.id AS id
        ,meterid AS meterid
        , 用户号 AS userNo
        , Left(用户名,16) AS userName
        , 用户地址 AS userDs
        ,表号::VARCHAR(16) AS meterNumber
        , 最近度数 AS thNumber
        ,上期度数 AS lfNumber
        ,本期用量 AS snumber
        , 状态 AS state
        ,抄表时间 AS thRTime
        FROM hav_meterinfo mi
        inner join ha_centor c on mi.centorid = c.id
        where c.description='KT3NB VIRTUAL'
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND mi.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(mi.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.addr like '%${params.keyWord}%' or c.description like '%${params.keyWord}%' or c.state = #{state}
            or c.remark  like '%${params.keyWord}%' or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
    </select>

    <!--A区设备抄控管理-->
    <select id="selectCentor" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT ce.id AS id
        ,ce.centorNo AS centorNo
        ,ce.state AS state
        ,ce.centorid AS centorId
        ,ce.addr AS addr
        ,ce.description AS description
        , a.name AS name
        FROM ha_centor ce
        LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
        <if test=" params.deviceType == 'centor' ">
            WHERE Left(ce.description, 3)='KT4'
            <if test="params.operable == 'true'">
            AND (ce.state='联机' OR position( 'COM' in ce.description)>0)
            </if>
        </if>
        <if test=" params.deviceType == 'ccentor' ">
            WHERE (Left(ce.description, 3)='COM' OR Left(ce.description, 4)='GPRS' OR Left(ce.description, 3)='KT3')
        </if>
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (#{nodeIds})
        </if>
        <if test=" params.nodeIds == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{nodeIds}) > 0
        </if>
        ORDER BY ce.centorNo,ce.addr
    </select>

    <!--C区-->
    <select id="HaCentorList" resultMap="haCentorMap">
        SELECT ce.id as id,ce.centorNo AS centorNo,ce.addr AS addr,
        ce.state AS state,
        ce.centorid AS centorId,
        ce.description AS description,
        a.name AS haName
        FROM ha_centor ce LEFT JOIN ha_area a ON Left(ce.centorNo, 5)= a.areaNo
        where 1=1
        <if test="haCentor.deviceType == 'centor' ">
            and Left(ce.description, 3)='KT4'
        </if>
        <if test="haCentor.deviceType == 'ccentor' ">
            and (Left(ce.description, 3)='COM' OR Left(ce.description, 4)='GPRS' OR Left(ce.description, 3)='KT3')
        </if>
        <if test="haCentor.deviceType == 'handDevice'">
            and ce.description ='HAND'
        </if>
        <if test="haCentor.nodeType != null and haCentor.nodeType != '' and haCentor.nodeIds != null and haCentor.nodeIds != ''">
            <if test="haCentor.nodeType == 'area'">
                AND a.areaid = ${haCentor.nodeIds}
            </if>
            <if test="haCentor.nodeType == 'rgn'">
                AND POSITION(#{haCentor.nodeIds} in Left(a.areaNo, 1))>0
            </if>
        </if>
        <!--多条件查询-->
        ${haCentor.multipleConditions}
        ORDER BY ce.centorNo,ce.addr
    </select>

    <select id="updateByIdHaCentor" resultMap="haCentorMap">
        SELECT ce.id as id,ce.centorNo AS centorNo,ce.addr AS addr,
        ce.state AS state,
        ce.centorid AS centorId,
        ce.description AS description,
        ce.centorid AS centorId,
        ce.rtime AS rTime,
        ce.telnumber AS telNumber,
        ce.areaid AS areaId,
        ce.endtime AS endTime,
        ce.ver AS ver,
        ce.setuptime AS setupTime,
        ce.remark AS remark,
        a.name AS name
        FROM ha_centor ce LEFT JOIN ha_area a ON Left(ce.centorNo, 5)= a.areaNo
        where ce.id = #{id}
    </select>

    <select id="queryAddr" resultType="com.ktamr.domain.HaCentor">
        SELECT addr FROM ha_centor WHERE id=#{id}
    </select>

    <insert id="addHaCentor">
        insert into ha_centor (id,centorid, ver,description,rtime,setuptime,addr,endTime,telNumber,remark,centorNo,state,areaid)
         values (default ,#{centorId},#{ver},#{description},#{rTime},#{setupTime},#{addr},#{endTime},#{telNumber},#{remark},#{centorNo},#{state},#{areaId});
    </insert>

    <delete id="deleteHaCentor">
        delete from ha_centor where id = #{id}
    </delete>

    <update id="updateHaCentor">
        update ha_centor
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="centorId != null">centorid = #{centorId},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="rTime != null">rtime = #{rTime},</if>
            <if test="setupTime != null">setuptime = #{setupTime},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="description != null">description = #{description},</if>
            <if test="telNumber != null">telnumber = #{telNumber},</if>
            <if test="endTime != null">endtime = #{endTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="centorNo != null">centorno = #{centorNo},</if>
            <if test="areaId != null">areaid = #{areaId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
    </update>

    <!--设备类型为centor下拉框-->
    <select id="deviceTypeCentor" resultType="com.ktamr.domain.HaCentor">
        SELECT id,centorNo,addr FROM ha_centor WHERE Left(description, 3)='KT4'
    </select>

    <!--设备类型为ccentor下拉框-->
    <select id="deviceTypeCcentor" resultType="com.ktamr.domain.HaCentor">
        SELECT id,centorNo,addr FROM ha_centor
         WHERE (Left(description, 3)='COM' OR Left(description, 4)='GPRS' OR Left(description, 3)='KT3')
    </select>

    <!--设备类型为handDevice下拉框-->
    <select id="deviceTypehandDevice" resultType="com.ktamr.domain.HaCentor">
        SELECT id,centorNo,addr FROM ha_centor WHERE description = 'HAND'
    </select>

    <!--查看抄收设备-->
    <select id="updateByDeviceType" resultType="com.ktamr.domain.HaCentor">
        SELECT CASE WHEN Left(description, 3)='KT4' THEN 'centor'
				WHEN Left(description, 4)='GPRS' OR Left(description, 3)='COM' OR Left(description, 3)='KT3' THEN 'ccentor'
				WHEN description='HAND' THEN 'handDevice' END as description
			FROM ha_centor WHERE id=#{id}
    </select>

    <!--修改时集中器传值-->
    <select id="DeviceByWhere" resultType="com.ktamr.domain.HaCentor">
        SELECT id,centorNo||':'||addr as addr FROM ha_centor WHERE 1=1
        <if test="deviceType=='centor'">
            and Left(description,3)='KT4'
        </if>
        <if test="deviceType=='ccentor'">
            and Left(description, 4)='GPRS' OR Left(description, 3)='COM' OR Left(description, 3)='KT3'
        </if>
        <if test="deviceType=='handDevice'">
            and description='HAND'
        </if>
        <if test="deviceType==null or deviceType==''">
            and id is not NULL
        </if>
        ${params.getRightCondition}
        ORDER BY centorNo,description
    </select>

    <select id="centorDevNo" resultType="com.ktamr.domain.HaCentor">
        SELECT ce.centorid FROM ha_centor ce WHERE ce.id=#{centorId}
    </select>

    <select id="centorDevDescription" resultType="com.ktamr.domain.HaCentor">
        SELECT ce.description FROM ha_centor ce WHERE ce.id=#{centorId}
    </select>

    <!--  查询集中器超收，根据登录用户id查询  -->
    <select id="centor_count" resultType="Integer">
    SELECT count(1)  FROM (ha_centor c left join ha_area a on Left(c.centorNO, 5)=a.areaNO left join ha_cmd cm on c.id = cm.centorid) left join ha_operator o on cm.uid=o.operator_code WHERE Left(c.description,3)='KT4' and o.operator_code=#{operator_codeSession}
    </select>

    <!--  查询集采器超收，根据登录用户id查询  -->
    <select id="collector_count" resultType="Integer">
    SELECT count(1) FROM ha_centor c left join ha_cmd cm on c.id = cm.centorid left join ha_operator o on cm.uid=o.operator_code
LEFT OUTER JOIN ha_meter m ON c.id=m.centorId LEFT JOIN ha_area a ON c.areaid=a.areaid
WHERE (Left(c.description,4)='GPRS' OR Left(c.description,3)='COM' OR Left(c.description,3)='KT3')  and o.operator_code=#{operator_codeSession}
    </select>

    <!--  查询手抄器超收，根据登录用户id查询 1线路列表  -->
    <select id="pad_count1" resultType="Integer">
SELECT count(1) FROM (ha_centor c left join ha_area a on Left(c.centorNO, 5)=a.areaNO
left join ha_cmd cm on c.id = cm.centorid) left join ha_operator o on cm.uid=o.operator_code
WHERE Left(c.description,4)='HAND' AND Left(c.centorNO, 5)=a.areaNO and o.operator_code=#{operator_codeSession}
    </select>

    <!-- 查询手抄器抄收，根据登录用户id查询 2表列表   -->
    <select id="pad_count2" resultType="Integer">
SELECT count(1) FROM (ha_meter m LEFT JOIN hav_meterinfo mi ON m.meterid=mi.meterid
	  LEFT JOIN ha_centor ce ON ce.id=m.centorid
	  LEFT JOIN ha_collector co ON co.collectorid=m.collectorid
	left join ha_cmd cm on ce.id = cm.centorid) left join ha_operator o on cm.uid=o.operator_code
	where  o.operator_code=#{operator_codeSession}
    </select>

    <!-- 查询DTU，根据登录用户id查询   -->
    <select id="DTU_count" resultType="Integer">
SELECT count(1) FROM ((ha_gprsDTU d LEFT OUTER JOIN ha_centor c ON d.uid=c.telnumber)
LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
left join ha_cmd cm on c.id = cm.centorid) left join ha_operator o on cm.uid=o.operator_code
WHERE length(d.uid)>0 and o.operator_code=#{operator_codeSession}
    </select>
</mapper>