<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCollectorMapper">

    <resultMap id="haCollectorMap" type="com.ktamr.domain.HaCollector">
        <id column="collectorId" property="collectorId"></id>
        <result column="addr" property="addr"></result>
        <result column="nconf" property="resultParams.nconf"></result>
        <result column="ver" property="ver"></result>
        <result column="state" property="state"></result>
    </resultMap>

    <select id="selectCollectorBycentorId" resultMap="haCollectorMap">
        SELECT
        collectorid as collectorId
        , addr AS addr
        , to_hex(nconf) AS nconf
        ,ver AS ver
        , state AS state
        FROM ha_collector
        WHERE centorid=#{centorId}
    </select>





    <select id="HaCollectorList" resultType="HaCollector">

    </select>

    <select id="queryHaCollector" resultType="com.ktamr.domain.HaCollector">
        SELECT collectorid,centorid,addr,nconf,ver,state FROM ha_collector WHERE centorid=#{centorId} ORDER BY addr
    </select>

    <select id="updateByIdHaCollector" resultType="com.ktamr.domain.HaCollector">
        SELECT collectorid,centorid,addr,nconf,ver,state FROM ha_collector WHERE collectorid=#{collectorId} ORDER BY addr
    </select>

    <insert id="addHaCollector">
        insert into ha_collector(collectorid,addr,ver,oconf,nconf,centorid,state) values (default ,#{addr},#{ver},#{oconf},#{nconf},#{centorId},#{state})
    </insert>

    <delete id="deleteHaCollector">
        delete from ha_collector where collectorid = #{collectorId}
    </delete>

    <update id="updateHaCollector">
        update ha_collector
        <trim prefix="set" suffixOverrides="," suffix="where collectorid = #{collectorId}">
            <if test="addr != null">addr = #{addr},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="oconf != null">oconf = #{oconf},</if>
            <if test="nconf != null">nconf = #{nconf},</if>
        </trim>
    </update>
</mapper>