<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaConfigMapper">

    <select id="queryHaConfig" resultType="com.ktamr.domain.HaConfig">
        SELECT pos,s,k,kname,v,to_char(lasttime,'yyyy-mm-dd hh24:mi:ss') as lasttime,uid
        FROM ha_config
        where 1=1
        <if test="haConfig.keyWord != null and haConfig.keyWord != ''">
            and s like '%${haConfig.keyWord}%'
            or k like '%${haConfig.keyWord}%'
            or kname like '%${haConfig.keyWord}%'
            or v like '%${haConfig.keyWord}%'
            or uid like '%${haConfig.keyWord}%'
        </if>
        ORDER BY pos
    </select>

    <select id="haConfigCount" resultType="Integer">
        select count(1) from ha_config
    </select>

    <insert id="addHaConfig">
        insert into ha_config values (#{S},#{K},#{kname},#{V},#{lastTime},#{uid},#{pos})
    </insert>

    <delete id="deleteHaConfig">
        delete from ha_config where pos = #{pos}
    </delete>

    <update id="updateHaCustom">
        update ha_config
        <trim prefix="set" suffixOverrides="," suffix="where pos = #{pos}">
            <if test="S != null">s = #{S},</if>
            <if test="K != null">k = #{K},</if>
            <if test="kname != null">kname = #{kname},</if>
            <if test="V != null">v = #{V},</if>
            <if test="lastTime != null">lasttime = #{lastTime},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="pos != null">pos = #{pos},</if>
        </trim>
    </update>

</mapper>