<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCollectorMapper">

    <resultMap id="haCollectorMap" type="com.ktamr.domain.HaCollector">
        <id column="collectorId" property="collectorId"></id>
        <result column="addr" property="addr"></result>
        <result column="nconf" property="resultParams.nconf"></result>
        <result column="ver" property="ver"></result>
        <result column="state" property="state"></result>
    </resultMap>

    <select id="selectCollectorBycentorId" resultMap="haCollectorMap">
        SELECT
        collectorid as collectorId
        , addr AS addr
        , to_hex(nconf) AS nconf
        ,ver AS ver
        , state AS state
        FROM ha_collector
        WHERE centorid=#{centorId}
    </select>





    <select id="HaCollectorList" resultType="HaCollector">

    </select>

    <select id="queryHaCollector" resultType="com.ktamr.domain.HaCollector">
        SELECT collectorid,centorid,addr,to_hex(nconf) as nconf,ver,state FROM ha_collector WHERE centorid=#{centorId} ORDER BY addr
    </select>

    <insert id="addHaCollector">
        insert into ha_collector values (default ,#{addr},#{ver},#{oconf},#{nconf},#{state},#{centorid},#{lastdo_time},#{last_state},#{createtime},#{modifytime},#{routers},#{meters})
    </insert>

    <delete id="deleteHaCollector">
        delete from ha_collector where collectorid = #{collectorid}
    </delete>

    <update id="updateHaCollector">
        update ha_collector
        <trim prefix="set" suffixOverrides="," suffix="where collectorid = #{collectorid}">
            <if test="addr != null">addr = #{addr},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="oconf != null">oconf = #{oconf},</if>
            <if test="nconf != null">nconf = #{nconf},</if>
            <if test="state != null">state = #{state},</if>
            <if test="centorid != null">centorid = #{centorid},</if>
            <if test="lastdo_time != null">lastdo_time = #{lastdo_time},</if>
            <if test="last_state != null">last_state = #{last_state},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="modifytime != null">modifytime = #{modifytime},</if>
            <if test="routers != null">routers = #{routers},</if>
            <if test="meters != null">meters = #{meters},</if>
        </trim>
    </update>
</mapper>