<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCustomMapper">

    <resultMap id="HaCustomMap" type="com.ktamr.domain.HaCustom">
        <id property="custId" column="custId"/>
        <result property="custNo" column="custNo"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="idNumber" column="idNumber"/>
        <result property="idName" column="idName"/>
        <result property="tel" column="tel"/>
        <result property="mobil" column="mobil"/>
        <result property="addr" column="addr"/>
        <result property="zip" column="zip"/>
        <result property="bank" column="bank"/>
        <result property="account" column="account"/>
        <result property="lastbillId" column="lastbillId"/>
        <result property="billId" column="billId"/>
        <result property="balance" column="balance"/>
        <result property="expense" column="expense"/>
        <result property="paidTime" column="paidTime"/>
        <result property="recharge" column="recharge"/>
        <result property="rechargeTime" column="rechargeTime"/>
        <result property="postTime" column="postTime"/>

        <association property="haRoom" javaType="com.ktamr.domain.HaRoom">
            <id property="roomId" column="roomId"/>
            <result property="custId" column="custId"/>
            <result property="name" column="rname"/>
        </association>

        <association property="haBuilding" javaType="com.ktamr.domain.HaBuilding">
            <id property="buildingId" column="buildingId"/>
            <result property="name" column="bname"/>
        </association>

        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id property="areaId" column="areaId"/>
            <result property="haName" column="haName"/>
        </association>
    </resultMap>

    <select id="HaCustomList" resultMap="HaCustomMap">
        SELECT u.custid as custId,
        a.areaid as areaId,
        b.buildingid as buildingId,
        r.roomid as roomId,
        u.custno as custNo,
        u.name as name,
        u.sex as sex,
        CASE WHEN a.name != ''
        THEN a.name ELSE '无对象' END as haName,
        CASE WHEN b.name != ''
        THEN b.name ELSE '无对象' END  as bname,
        CASE WHEN r.name != ''
        THEN r.name ELSE '无对象' END as rname
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        where u.custid is not null
        ${params.getRightCondition}
        <if test="nodeType != null and nodeType != '' and nodeIds != null and nodeIds != ''">
            <if test="nodeType == 'area'">
                AND a.areaid = ${nodeIds}
            </if>
            <if test="nodeType == 'rgn'">
                AND POSITION(#{nodeIds} in Left(a.areaNo, 1))>0
            </if>
        </if>
        <if test="keyWord!=null and keyWord !=''">
            and u.custno like '%${keyWord}%' or u.name like '%${keyWord}%'
        </if>
        ORDER BY u.custno,a.name,b.name,r.name
        <!--多条件查询-->
        ${multipleConditions}
    </select>

    <select id="selectHaCustomCount" resultType="Integer">
        SELECT count(1)
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
    </select>

    <select id="updateByIdHaCustom" resultMap="HaCustomMap">
        SELECT u.custid as custId,
        u.custno as custNo,
        u.name as name,
        u.sex as sex,
        a.areaid as areaId,
        b.buildingid as buildingId,
        r.roomid as roomId,
        CASE WHEN a.name != ''
        THEN a.name ELSE '无对象' END as haName,
        CASE WHEN b.name != ''
        THEN b.name ELSE '无对象' END  as bname,
        CASE WHEN r.name != ''
        THEN r.name ELSE '无对象' END as rname,
        u.idname as idName,
        u.idnumber as idNumber,
        u.tel as tel,
        u.mobil as mobil,
        u.addr as addr,
        u.zip as zip,
        u.bank as bank,
        u.account as account
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        where u.custid = #{haCustom.custId}
    </select>

    <select id="ByIdHaCustom" resultMap="HaCustomMap">
        SELECT u.custid as custId,
        u.custno as custNo,
        u.name as name,
        u.sex as sex,
        CASE WHEN a.name != ''
        THEN a.name ELSE '[无对象]' END as haName,
        CASE WHEN b.name != ''
        THEN b.name ELSE '[无对象]' END  as bname,
        CASE WHEN r.name != ''
        THEN r.name ELSE '[无对象]' END as rname,
        u.idname as idName,
        u.idnumber as idNumber,
        u.tel as tel,
        u.mobil as mobil,
        u.addr as addr,
        u.zip as zip,
        u.bank as bank,
        u.account as account
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        where u.custid = #{custId}
    </select>

    <insert id="addHaCustom">
        insert into ha_custom values (default ,#{custNo},#{name},#{sex},#{idNumber},#{idName},#{tel},#{mobil},#{addr},#{zip},#{bank},#{account},#{lastbillId},#{billId},#{createTime},#{modifyTime},#{balance},#{expense},#{paidTime},#{recharge},#{rechargeTime},#{postTime})
    </insert>

    <delete id="deleteHaCustom">
        delete from ha_custom where custid = #{custId}
    </delete>

    <update id="updateHaCustom">
        update ha_custom
        <trim prefix="set" suffixOverrides="," suffix="where custid = #{custId}">
            <if test="custNo != null">custno = #{custNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">idnumber = #{idNumber},</if>
            <if test="idName != null">idname = #{idName},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="mobil != null">mobil = #{mobil},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="zip != null">zip = #{zip},</if>
            <if test="bank != null">bank = #{bank},</if>
            <if test="account != null">account = #{account},</if>
        </trim>
    </update>



    <!--映射查询用户账号列表的map集合-->
    <resultMap id="queryHaCustomListMapB" type="HaCustom">
        <result column="custid" property="custId"/>
        <result column="custNo" property="custNo"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="balance" property="balance"/>
        <result column="expense" property="expense"/>
        <result column="paidTime" property="paidTime"/>
        <result column="recharge" property="recharge"/>
        <result column="rechargeTime" property="rechargeTime"/>
        <result column="mobil" property="mobil"/>
        <result column="tel" property="tel"/>
        <result column="bank" property="bank"/>
        <result column="account" property="account"/>
        <association property="haArea" javaType="HaArea">
            <result column="haName" property="haName"/>
        </association>
    </resultMap>

    <!--查询用户账号的列表-->
    <select id="queryHaCustomListB" resultMap="queryHaCustomListMapB">
        select * from (
        SELECT u.custid as custid,u.custno as custNo,u.name as name,
        case when u.sex is null  then '男' else u.sex end as sex,
        concat_ws('-',case  when a.name!='' then  a.name else '[无对象]' end , case  when b.name!='' then  b.name else '[无对象]' end,case  when r.name!='' then  r.name else '[无对象]' end) as haName,
        case when u.balance is null  then 0 else round(u.balance::numeric*1, 2) end as balance,
        case when u.expense is null  then 0 else round(u.expense) end as expense,
        u.paidTime as paidTime,
        case when u.recharge is null  then 0 else round(u.balance) end as recharge,
        u.rechargeTime as rechargeTime,
        u.mobil as mobil, u.tel as tel, u.bank as bank,u.account as account
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        <trim prefix="where" prefixOverrides="and | or">
            <if test="HaCustom.nodeType != null and HaCustom.nodeType != '' and HaCustom.nodeIds != null and HaCustom.nodeIds != ''">
                <if test="HaCustom.nodeType == 'area'">
                    AND a.areaid = ${HaCustom.nodeIds}
                </if>
                <if test="HaCustom.nodeType == 'rgn'">
                    AND POSITION(#{HaCustom.nodeIds} in Left(a.areaNo, 1))>0
                </if>
            </if>

            <if test="HaCustom.balanceType == 'arrearage'">
                AND u.balance &lt; 0
            </if>
            <if test="HaCustom.balanceType == 'notArrearage'">
                AND (u.balance>=0 OR u.balance is null)
            </if>
            <if test="HaCustom.keyWord!=null and HaCustom.keyWord !=''">
                and u.custno like '%${HaCustom.keyWord}%' or u.name like '%${HaCustom.keyWord}%'
            </if>
        </trim>
        ) t
    </select>


    <!--映射查询预存费用-->
    <resultMap id="selectYuCunFeiYongMapB" type="HaCustom">
        <result column="custid" property="custId"/>
        <result column="用户编号" property="custNo"/>
        <result column="用户名称" property="name"/>
        <result column="cusex" property="sex"/>
        <result column="用户地址" property="userAddress"/>
        <result column="余额" property="userBalance"/>
    </resultMap>

    <!--查询预存费用-->
    <select id="selectYuCunFeiYongB" resultMap="selectYuCunFeiYongMapB">
SELECT cu.custid, case when cu.custno is null then '*' else cu.custno end AS 用户编号,
case when cu.name is null then '*' else cu.name end AS 用户名称,
 case when length(cu.sex)=0  then '男' else cu.sex end AS 性别,
 concat_ws('_',a.name,b.name,r.name) AS 用户地址
 FROM ((ha_custom cu LEFT JOIN ha_room r ON cu.custid=r.custid)
 LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
 LEFT JOIN ha_area a ON b.areaid=a.areaid
	  WHERE cu.custid=#{custId}
    </select>

    <!--佛系更新预存费用 -->
    <update id="updateYuCunFeiYongB">
        UPDATE ha_custom cu
        <trim prefix="set" suffixOverrides="," suffix=" WHERE custid = #{custId}">
            <if test="balance != null">
                balance = #{balance},
            </if>
            <if test="balance == null">
                balance = 0,
            </if>

            <if test="recharge != null">
                recharge = #{recharge},
            </if>
            <if test="rechargeTime == null">
                rechargeTime = now(),
            </if>
        </trim>
    </update>

    <select id="addingCellValidation" resultType="Integer">
        select 1
        from ha_custom c
        <trim prefix="where" prefixOverrides="and | or">
            <if test="custNo!=null and custNo!=''">
                and c.custno=#{custNo}
            </if>
        </trim>
        limit 1
    </select>

</mapper>