<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaErrrecordMapper">

    <resultMap id="HaErrrecordMap" type="com.ktamr.domain.HaErrrecord">
        <id column="itemId" property="itemId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>

        <result column="n" property="n" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="readTime" property="readTime" javaType="java.util.Date" ></result>
        <result column="yjzqbh" property="resultParams.yjzqbh" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="nconf" property="resultParams.nconf" javaType="java.lang.String" ></result>
        <result column="ddjzqbh" property="resultParams.ddjzqbh" javaType="java.lang.String" ></result>
        <result column="ddjzqId" property="resultParams.ddjzqId" javaType="java.lang.String" ></result>
        <result column="rawCollectorId" property="resultParams.rawCollectorId" javaType="java.lang.String" ></result>
        <result column="errType" property="errType" javaType="java.lang.String" ></result>
        <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
            <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="meterNumber" property="meterNumber" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        </association>
    </resultMap>

    <select id="selecErrrecordLeftJoinFour" resultMap="HaErrrecordMap">
       SELECT e.itemId
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        , e.meterNumber AS meterNumber
        , e.n AS n
        , e.state AS state
        , e.readtime AS readTime
        ,CASE WHEN c.centorNo IS NOT null And ASCII(Left(c.centorNo, 1))>=65 THEN '0'||Right(c.centorNo, 9) ELSE c.centorNo END  AS yjzqbh
        , to_hex(o.nconf) AS nconf
        , CASE WHEN c1.centorNo IS NOT null And ASCII(Left(c1.centorNo, 1))>=65 THEN '0'||Right(c1.centorNo, 9) ELSE c1.centorNo END  AS ddjzqbh
        ,c1.id AS ddjzqId
        , to_hex(e.raw_collectorid) AS rawCollectorId
        , e.errtype AS errType
        FROM ha_errRecord e
        LEFT JOIN hav_meterinfo mi ON e.meterid=mi.meterid
        LEFT JOIN ha_centor c ON c.id=e.rec_centorid
        LEFT JOIN ha_collector o ON e.rec_collectorid=o.collectorid
        LEFT JOIN ha_centor c1 ON e.raw_centorid=c1.id
        WHERE e.cmdid=#{cmdId}
        ORDER BY mi.用户地址,e.state,e.errtype
    </select>

</mapper>