<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaGprsdtuMapper">


    <resultMap id="HaGprsdtuMap" type="com.ktamr.domain.HaGprsdtu">
        <result property="uId" column="uId"/>
        <result property="telNubmer" column="telNubmer"/>
        <result property="addr" column="addr"/>
        <result property="centors" column="centors"/>
        <result property="state" column="state"/>
        <result property="dscrp" column="dscrp"/>
        <result property="oplastTime" column="oplastTime"/>
        <result property="idle" column="idle"/>
        <result column="xsjcqsm" property="resultParams.xsjcqsm" javaType="java.lang.String" jdbcType="VARCHAR"></result>

        <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
            <id property="id" column="id"/>
            <result property="telNumber" column="telnumber"/>
        </association>

        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id property="areaId" column="areaid"/>
            <result property="areaNo" column="areaNo"/>
        </association>
    </resultMap>

    <select id="selectAllGprsdtuAndCount" resultMap="HaGprsdtuMap" parameterType="com.ktamr.domain.HaGprsdtu">
        SELECT d.uid As uid
        ,d.telnubmer As telnubmer
        , d.addr As addr
        , Count(c.id) As xsjcqsm
        , d.state As state
        , d.dscrp As dscrp
        , to_char(d.oplasttime, 'yyyy-mm-dd hh24:mi:ss') As oplastTime
        , d.idle As idle
        FROM (ha_gprsDTU d LEFT JOIN ha_centor c ON d.uid=c.telnumber)
        LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
        WHERE length(d.uid)>0
        <if test=" params.keyWord != null and params.keyWord != ''  ">
            and (d.uid = #{keyWord} or d.telnubmer like '%${params.keyWord}%' or d.addr like '%${params.keyWord}%' or d.state = #{params.keyWord}
            or d.dscrp like '%${params.keyWord}%' or to_char(d.oplasttime, 'yyyy-mm-dd') like '%${params.keyWord}%')
        </if>
        GROUP BY d.uid,d.telnubmer,d.addr,d.state,d.dscrp,d.oplasttime,d.idle
        ORDER BY d.uid,d.addr
    </select>

    <select id="HaGprsdtuList" resultMap="HaGprsdtuMap">
        SELECT d.uid As uId,
        d.telnubmer As telNubmer,
        d.addr As addr,
        Count(c.id) As centors,
        d.state As state,
        d.dscrp As dscrp,
        to_char(d.oplasttime, 'yyyy-mm-dd hh24:mi:ss') As oplastTime,
        d.idle As idle FROM (ha_gprsDTU d LEFT JOIN ha_centor c ON d.uid=c.telnumber)
        LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
        WHERE length(d.uid)>0
        <if test="haGprsdtu.nodeType != null and haGprsdtu.nodeType != '' and haGprsdtu.nodeIds != null and haGprsdtu.nodeIds != ''">
            <if test="haGprsdtu.nodeType == 'area'">
                AND a.areaid = ${haGprsdtu.nodeIds}
            </if>
            <if test="haGprsdtu.nodeType == 'rgn'">
                AND POSITION(#{haGprsdtu.nodeIds} in Left(a.areaNo, 1))>0
            </if>
        </if>
        <if test="haGprsdtu.keyWord != null and haGprsdtu.keyWord != ''  ">
            and (d.uid = #{haGprsdtu.keyWord} or d.telnubmer like '%${haGprsdtu.keyWord}%' or d.addr like '%${haGprsdtu.keyWord}%' or d.state = #{haGprsdtu.keyWord}
            or d.dscrp like '%${haGprsdtu.keyWord}%' or to_char(d.oplasttime, 'yyyy-mm-dd') like '%${haGprsdtu.keyWord}%')
        </if>
        GROUP BY d.uid,d.telnubmer,d.addr,d.state,d.dscrp,d.oplasttime,d.idle
        ORDER BY d.uid,d.addr
    </select>

    <select id="updateByIdHaGprsdtu" resultMap="HaGprsdtuMap">
        SELECT d.uid As uid,
        d.telnubmer As telnubmer,
        d.addr As addr,
        Count(c.id) As centors,
        d.state As state,
        d.dscrp As dscrp,
        to_char(d.oplasttime, 'yyyy-mm-dd hh24:mi:ss') As oplastTime,
        d.idle As idle FROM (ha_gprsDTU d LEFT JOIN ha_centor c ON d.uid=c.telnumber)
        LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
        WHERE length(d.uid)>0 and d.uid = #{haGprsdtu.uId}
        GROUP BY d.uid,d.telnubmer,d.addr,d.state,d.dscrp,d.oplasttime,d.idle
        ORDER BY d.uid,d.addr
    </select>
    
    <select id="HaGprsdtuCount" resultType="Integer">
        select count(1) from ha_gprsdtu
    </select>

    <insert id="addHaGprsdtu">
        INSERT INTO ha_gprsDTU VALUES(#{uId},#{telNubmer},#{addr},#{centors},#{state},#{dscrp},#{oplastTime},#{idle})
    </insert>

    <update id="updateHaGprsdtu">
        update ha_gprsDTU
        <trim prefix="set" suffixOverrides="," suffix="where uid = #{uId}">
            <if test="uId != null">uid = #{uId},</if>
            <if test="telNubmer != null">telnubmer = #{telNubmer},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="idle != null">idle = #{idle},</if>
        </trim>
    </update>

    <delete id="deleteHaGprsdtu">
        delete from ha_gprsdtu where uid = #{uId}
    </delete>
</mapper>