<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaMeterMapper">

    <resultMap id="haMeterMap" type="com.ktamr.domain.HaMeter">
        <id column="meterId" property="meterId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>

        <result column="meterNumber" property="meterNumber" javaType="java.lang.Long" jdbcType="INTEGER"></result>
        <result column="addr" property="addr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="thNumber" property="thNumber" javaType="java.lang.Double"></result>
        <result column="thRTime" property="thRTime" javaType="java.util.Date"></result>
        <result column="lfNumber" property="lfNumber" javaType="java.lang.Double"></result>
        <result column="sNumber" property="snumber" javaType="java.lang.Double"></result>
        <result column="zjsl" property="zjsl" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="sycjs" property="sycjs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="ysl" property="ysl" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="sjsb" property="sjsb" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="sbbh" property="sbbh" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="csdrbj" property="csdrbj" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="amtabnum" property="amtabnum" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="watermete" property="watermete" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="cbtdate" property="cbtdate" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="fmonn" property="fmonn" javaType="java.lang.Double"></result>
        <result column="waterMete" property="waterMete" javaType="java.lang.String" jdbcType="VARCHAR"></result>

        <association property="haCollector" javaType="com.ktamr.domain.HaCollector">
            <result column="nconf" property="snconf" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
        <association property="haPricestandard" javaType="com.ktamr.domain.HaPricestandard">
            <result column="price1" property="price1" javaType="java.lang.Double"></result>
        </association>
        <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
            <result column="centorNo" property="centorNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
        <association property="haFreeze" javaType="com.ktamr.domain.HaFreeze">
            <result column="ftfNumber" property="tfNumber" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="fthTime" property="thTime" javaType="java.util.Date"></result>
            <result column="fdelta" property="delta" javaType="java.lang.String"></result>
            <result column="flfNumber" property="lfNumber" javaType="java.lang.String"></result>
        </association>

        <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
            <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="meterNumber" property="meterNumber" javaType="java.lang.Long" jdbcType="INTEGER"></result>
            <result column="thRTime" property="thRTime" javaType="java.util.Date"></result>
        </association>
    </resultMap>

    <!-- 主页统计表==》表列表 全部数据List集合    -->
    <select id="zhuYegetStateMeter" resultMap="haMeterMap">
        SELECT
			 m.meterid as meterId,r.ccustno as userNo,r.cname as userName,a.name || '-' || b.name || '-' || r.name AS addr,
			 m.meterNumber ::VARCHAR(16) as meterNumber, m.state as state,
			th_number as thNumber, m.th_r_time AS thRTime
		FROM
			ha_meter m, ha_area a, ha_building b, ha_pricestandard p,
			(SELECT r.*,c.custno AS ccustno, c.name AS cname FROM ha_room r LEFT OUTER JOIN ha_custom c ON(r.custid=c.custid)) r
		WHERE
			m.meterNumber>0 AND b.areaid=a.areaid AND m.pricestand_id=p.pricestand_id AND m.roomid=r.roomid AND r.buildingid=b.buildingid

        <if test="HaMeter.state != null and HaMeter.state == '开阀'">
            AND (position('正常' in m.state)>0 OR position('正确' in m.state)>0 OR position( '光通道干扰' in m.state)>0
            OR position('强光干扰' in m.state)>0 OR position('气泡干扰' in m.state)>0 OR position('表具故障' in m.state)>0)
        </if>
        <if test="HaMeter.state != null and HaMeter.state  != ''">
            AND (Left(m.state, 2) != '重号' AND m.state LIKE '%${HaMeter.state}%')
        </if>

			ORDER BY a.areaid,p.name,b.name,r.name,m.meterNumber
			 limit #{page} OFFSET #{rowNum}
    </select>
    <!-- 主页统计表==》表列表 全部数据的总记录    -->
    <select id="zhuYegetStateMeterCount" resultType="Integer">
        SELECT
			count(1)
		FROM
			ha_meter m, ha_area a, ha_building b, ha_pricestandard p,
			(SELECT r.*,c.custno AS ccustno, c.name AS cname FROM ha_room r LEFT OUTER JOIN ha_custom c ON(r.custid=c.custid)) r
		WHERE
			m.meterNumber>0 AND b.areaid=a.areaid AND m.pricestand_id=p.pricestand_id AND m.roomid=r.roomid AND r.buildingid=b.buildingid
        <if test="HaMeter.state != null and HaMeter.state == '开阀'">
            AND (position('正常' in m.state)>0 OR position('正确' in m.state)>0 OR position( '光通道干扰' in m.state)>0
            OR position('强光干扰' in m.state)>0 OR position('气泡干扰' in m.state)>0 OR position('表具故障' in m.state)>0)
        </if>
        <if test="HaMeter.state != null and HaMeter.state  != ''">
            AND (Left(m.state, 2) != '重号' AND m.state LIKE '%${HaMeter.state}%')
        </if>
    </select>

    <select id="selectMeterById" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT
          th_number AS thNumber
          , th_r_time AS thRTime
          , state AS state
          , s_number AS sNumber
          FROM ha_meter WHERE meterid=#{meterid}
    </select>

    <select id="selectMeterAndBuildingById" resultMap="haMeterMap" parameterType="java.lang.Integer">
        SELECT
          CASE WHEN cu.custno is null THEN  '*' ELSE cu.custno End AS userNo
        , CASE WHEN cu.name is null THEN '*' ELSE cu.name END AS userName
        , a.name||'-'||b.name||'-'||r.name AS userDs
        ,m.meterNumber AS meterNumber
        FROM ha_meter m LEFT JOIN ha_room r ON m.roomid=r.roomid
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid
        LEFT JOIN ha_area a ON m.areaid=a.areaid
        LEFT JOIN ha_custom cu ON r.custid=cu.custid
        WHERE m.meterid =#{meterId}
    </select>

    <select id="selectMeterAndBuildingByKeyWordTwo" resultMap="haMeterMap">
        SELECT
          CASE WHEN cu.custno is null THEN  '*' ELSE cu.custno End AS userNo
        , CASE WHEN cu.name is null THEN '*' ELSE cu.name END AS userName
        , a.name||'-'||b.name||'-'||r.name AS userDs
        ,m.meterNumber AS meterNumber
        ,m.meterid AS meterId
        FROM ha_meter m LEFT JOIN ha_room r ON m.roomid=r.roomid
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid
        LEFT JOIN ha_area a ON m.areaid=a.areaid
        LEFT JOIN ha_custom cu ON r.custid=cu.custid
        WHERE (cu.custno = #{ketWordTwo} or to_char(m.meterNumber,'fm9999999999999') = #{ketWordTwo})
    </select>

    <select id="selectDosageRecently" resultMap="haMeterMap" parameterType="com.ktamr.domain.HaMeter">
        SELECT
        m.meterid AS meterId
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        ,m.meterNumber AS meterNumber
        , m.th_number AS thNumber
        ,m.lf_number AS lfNumber
        ,m.s_number AS sNumber
        , m.state AS state
        ,m.th_r_time AS thRTime
        ,m.lf_time AS lfTime
        FROM ha_meter m
        inner join hav_meterinfo mi on mi.meterid = m.meterid
        where 1=1
        and (LEFT(mi.areaNo,1) = #{rgnAndAreaId} or mi.areaNo = #{rgnAndAreaId} or #{rgnAndAreaId} = '')
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND mi.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND  position(Left(mi.areaNo, 1) IN #{params.nodeIds})>0
        </if>
        <if test=" params.monthType != null and params.monthType != '' ">
            AND mi.DS=#{params.monthType}
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%'
            or mi.用户地址 like '%${params.keyWord}%' or m.state = #{params.keyWord}
            or to_char(mi.表号,'fm999999999999999') like '%${params.keyWord}%'
            or to_char(m.th_number, 'fm99999999999999') like '%${params.keyWord}%'
            or to_char(m.lf_number, 'fm99999999999999') like '%${params.keyWord}%'
            or to_char(m.s_number, 'fm99999999999999') like '%${params.keyWord}%'
            or to_char(m.th_r_time, 'yyyy-mm-dd hh24:mi:ss') like '%${params.keyWord}%'
            or to_char(m.lf_time, 'yyyy-mm-dd hh24:mi:ss') like '%${params.keyWord}%')
        </if>
        ORDER BY mi.用户地址
    </select>

    <select id="selectNotok" resultMap="haMeterMap" parameterType="com.ktamr.domain.HaMeter">
        SELECT mi.meterid AS meterId
        ,mi.用户号 AS userNo
        ,mi.用户名 AS userName
        ,mi.用户地址 AS userDs
        ,mi.表号 AS meterNumber
        ,t.th_number AS thNumber
        ,t.lf_number AS lfNumber
        ,t.s_number AS sNumber
        ,mi.状态 AS state
        ,mi.抄表时间 AS thRTime
        , t.centorNo AS centorNo
        , to_hex(t.nconf) AS nconf
        FROM hav_meterinfo mi
        left join (
          SELECT * FROM ha_meter m
            LEFT JOIN ha_centor ce ON m.centorid=ce.id
            LEFT JOIN ha_collector co ON m.collectorid=co.collectorid
        ) t on t.meterId=mi.meterId
        WHERE is_meter_err_state(mi.状态)
        AND mi.表号 >0
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND mi.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position(Left(mi.areaNo, 1) IN #{params.nodeIds})>0
        </if>
        <if test=" params.dataType !=null and params.dataType != '' ">
            AND mi.状态 IN <foreach item="zt" index="index" collection="params.dataTypes"
                                     open="(" separator="," close=")">
                              #{zt}
                          </foreach>
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%'
            or mi.用户地址 like '%${params.keyWord}%' or to_char(mi.表号, 'fm9999999999999999') like '%${params.keyWord}%'
            or to_char(t.lf_number, 'fm9999999999999999') like '%${params.keyWord}%'
            or to_char(t.s_number, 'fm9999999999999999') like '%${params.keyWord}%'
            or mi.状态 =#{params.keyWord} or  t.centorNo like '%${params.keyWord}%'
            or to_hex(t.nconf) like '%${params.keyWord}%'
            )
        </if>
        ORDER BY mi.用户地址, mi.状态, mi.用户号
    </select>

    <select id="selectRecordByHand" resultMap="haMeterMap" parameterType="com.ktamr.domain.HaMeter">
        SELECT m.meterid AS meterId
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        ,m.meterNumber AS meterNumber
        ,m.th_number AS thNumber
        ,m.lf_number AS lfNumber
        ,m.s_number AS sNumber
        , m.state AS state
        ,m.th_r_time AS thRTime
        ,m.lf_time AS lfTime
        ,m.th_number AS recentRead
        , m.state AS recentreadstate
        , m.th_r_time AS recentreadtime
        FROM ha_meter m, hav_meterinfo mi, ha_area a
        WHERE m.meterid=mi.meterid AND a.areaid=mi.areaid
        and (LEFT(mi.areaNo,1) = #{rgnAndAreaId} or mi.areaNo = #{rgnAndAreaId} or #{rgnAndAreaId} = '')
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and ( mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%'
            or mi.用户地址 like '%${params.keyWord}%' or to_char(m.meterNumber,'fm99999999999999') like '%${params.keyWord}%'
            or to_char(mi.最近度数, 'fm9999999999999999') like '%${params.keyWord}%'
            or to_char(m.lf_number, '99999999999999') like '%${params.keyWord}%'
            or to_char(m.s_number, '99999999999999') like '%${params.keyWord}%'
            or m.state = #{params.keyWord}
            or to_char(m.th_r_time, 'yyyy-mm-dd hh24:mi:ss') like '%${params.keyWord}%')
        </if>
        ORDER BY mi.用户地址
    </select>

    <update id="updateMeter"  parameterType="com.ktamr.domain.HaMeter">
        UPDATE ha_meter  SET th_number=#{thNumber},th_r_time=#{thRTime},s_number=#{thNumber}-lf_number,
        state=#{state},fday=to_date(#{thRTime},'yyyy-mm-dd')-1,fmon=to_date(#{thRTime},'yyyy-mm-dd')-CAST(date_part('day', current_date)  as  INTEGER),
        fday_n=#{thNumber},fmon_n=#{thNumber}
        WHERE meterid=#{meterId}
    </update>

    <select id="selectMeterByCentorId" resultMap="haMeterMap">
        SELECT m.meterId AS meterId
        , cu.custno AS userNo
        , a.name||'-'||b.name||'-'||r.name AS userDs
        , cu.name AS userName
        , m.meterNumber AS meterNumber
        , m.state AS state
        , to_hex(co.nconf) AS nconf
        FROM ha_meter m
        LEFT JOIN ha_room r ON m.roomid=r.roomid
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid
        LEFT JOIN ha_area a ON m.areaid=a.areaid
        LEFT JOIN ha_custom cu ON r.custid=cu.custid
        LEFT JOIN ha_collector co ON m.collectorid=co.collectorid
        WHERE m.centorid=#{centorId}
         ORDER BY cu.custno,b.name||'-'||r.name,to_hex(co.nconf)
    </select>

    <select id="selectMeterByCollectorId" resultMap="haMeterMap">
        SELECT m.meterid AS meterId
        , cu.custno AS userNo
        , r.name AS rname
        , cu.name AS userName
        , m.meterNumber AS meterNumber
        , to_hex(co.nconf) AS nconf
        FROM ha_meter m
        LEFT JOIN ha_room r ON m.roomid=r.roomid
        LEFT JOIN ha_custom cu ON r.custid=cu.custid
        LEFT JOIN ha_collector co ON m.collectorid=co.collectorid
        WHERE m.collectorId=#{collectorId}
    </select>


    <resultMap id="queryHaMeterMap" type="com.ktamr.domain.HaMeter">
        <id property="meterId" column="meterId"/>
        <result  property="meterNumber" column="meterNumber"/>
        <result property="areaId" column="areaId"/>
        <result property="collectorId" column="collectorId"/>

        <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
            <id property="meterId" column="meterId"/>
            <result property="userNo" column="userNo"/>
            <result property="userName" column="userName"/>
            <result property="userDs" column="userDs"/>
        </association>

        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id property="areaId" column="areaid"/>
        </association>

        <association property="haCustom" javaType="com.ktamr.domain.HaCustom">
            <id property="custId" column="custId"/>
            <result property="custNo" column="custNo"/>
            <result property="name" column="cname"/>
        </association>

        <association property="haBuilding" javaType="com.ktamr.domain.HaBuilding">
            <id property="buildingId" column="buildingId"/>
            <result property="name" column="bname"/>
        </association>

        <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
            <id property="id" column="id"/>
            <result property="addr" column="centoraddr"/>
        </association>

        <association property="haCollector" javaType="com.ktamr.domain.HaCollector">
            <id property="collectorId" column="collectorId"/>
            <result property="addr" column="collectoraddr"/>
        </association>

        <association property="haRoom" javaType="com.ktamr.domain.HaRoom">
            <id property="roomId" column="roomId"/>
            <result property="name" column="rname"/>
        </association>
    </resultMap>

    <select id="HaMeterList" resultMap="queryHaMeterMap">
        SELECT meterid as meterId, cu.custno AS custNo, b.name AS bname,
        r.name AS rname, Left(cu.name,16) AS cname,
        m.meterNumber ::VARCHAR(16) AS meterNumber,
        ce.addr AS centoraddr, co.addr AS collectoraddr
        FROM ((((ha_meter m LEFT JOIN ha_room r ON m.roomid=r.roomid)
		LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
		LEFT JOIN ha_custom cu ON r.custid=cu.custid)
		LEFT JOIN ha_centor ce ON m.centorid=ce.id) LEFT JOIN
		ha_collector co ON m.collectorid=co.collectorid WHERE m.areaid=#{haMeter.areaId}
		ORDER BY cu.custno,b.name||'-'||r.name
    </select>

    <select id="queryHaMeter" resultMap="queryHaMeterMap">
        SELECT m.meterid as meterId,
        mi.用户号 AS userNo,
        mi.用户名 AS userName,
        mi.用户地址 AS userDs,
        m.meterNumber AS meterNumber
        from (ha_meter m LEFT JOIN hav_meterinfo mi ON m.meterid=mi.meterid)
        LEFT JOIN ha_area a ON m.areaid=a.areaid WHERE m.meterid>0
        <if test="collectorId!=null">
            and m.collectorid=#{collectorId}
        </if>
        <if test="centorId!=null">
            AND m.centorid=#{centorId}
        </if>
        order by mi.用户地址
    </select>

    <select id="HaMeterCount" resultType="Integer">
        select count(1) from ha_meter
    </select>

    <insert id="addHaMeter">
        insert into ha_meter (meterid, roomid, pricestand_id, rate, isbranch, starttime,centorid, meternumber, collectorid,p_number,offset_n)
        values (default ,#{roomId},#{pricestandId},#{rate},#{isBranch},#{startTime},#{centorId},#{meterNumber},#{collectorId},#{pnumber},#{offsetN})
    </insert>

    <!--采集器选择表,端口选择表-->
    <update id="updateHaMeterCollector">
        update ha_meter m
        <trim prefix="set" suffixOverrides="," suffix="where ce.id=#{haCentor.centorId} and co.collectorid=#{haCollector.collectorId} and m.meterid IN (#{haMeter.meterId})">
            <if test="haMeter.centorId != null">centorid = #{haMeter.centorId},</if>
            <if test="haMeter.collectorId != null">collectorid = #{haMeter.collectorId},</if>
            addr=ce.centorid::varchar(10)||','||to_hex(co.nconf)||','||(CASE WHEN m.meterNumber!=0 THEN m.meterNumber::varchar(16) ELSE 'x' END)
            FROM ha_centor ce,ha_collector co
        </trim>
    </update>

    <!--采集器选择表,端口选择表关联成功记录数-->
    <select id="HaMeterCollectorCount" resultType="INTEGER">
        SELECT Count(m.meterId) FROM ha_meter m
        WHERE m.centorid=#{centorId} AND m.collectorid=#{collectorId} AND m.meterid IN (#{meterIds})
    </select>

    <!--线路选择表-->
    <update id="updateHaMeterReadLine">
        update ha_meter m
        <trim prefix="set" suffixOverrides="," suffix="where ce.id=#{readLineId} and m.meterid IN (#{haMeter.meterId})">
            <if test="haMeter.centorId != null">centorid = #{readLineId},</if>
            collectorid=NULL,
            addr=ce.centorid::varchar(10)||',x,'||(CASE WHEN m.meterNumber!=0 THEN m.meterNumber::varchar(16) ELSE 'x' END)
            FROM ha_centor ce
        </trim>
    </update>

    <!--线路选择表关联成功记录数-->
    <select id="HaMeterReadLineCount" resultType="INTEGER">
        SELECT Count(m.meterId) FROM ha_meter m WHERE m.centorid=#{readLineId} AND m.meterid IN (#{meterIds})
    </select>

    <!--都不是 centorId < 0 && collectorId < 0 或 readLineId < 0-->
    <update id="updateHaMeterNull">
        update ha_meter m
        <trim prefix="set" suffixOverrides="," suffix="where m.meterid IN (#{haMeter.meterId})">
            centorid=NULL,
            collectorid=NULL,
            addr='x,x,'||(CASE WHEN m.meterNumber!=0 THEN m.meterNumber::varchar(16) ELSE 'x' END)
        </trim>
    </update>

    <!--空关联成功记录数-->
    <select id="HaMeterNullCount" resultType="INTEGER">
        SELECT Count(m.meterId) FROM ha_meter m WHERE m.meterid IN (#{meterIds})
    </select>

    <!--删除价格列表时判断收费标准是否在使用-->
    <select id="isPriceUsed" resultType="INTEGER">
        SELECT COUNT(meterid) FROM ha_meter WHERE pricestand_id IN (#{id})
    </select>

    <delete id="deleteHaMeter">
        delete from ha_meter where meterid=#{haMeter.meterId}
    </delete>

    <select id="delByIdHaMeter" resultType="com.ktamr.domain.HaMeter">
        SELECT addr,rate,starttime,isbranch,roomid,pricestand_id as pricestandId, g_number,lf_number,th_number,state,centorid,meterNumber,collectorid,offset_n FROM ha_meter WHERE meterid=#{haMeter.meterId}
    </select>

    <select id="meterCountNum" resultType="INTEGER">
        SELECT COUNT(meterid) FROM ha_meter WHERE roomid=#{roomId}
    </select>

    <update id="updateHaMeter">
        update ha_meter
        <trim prefix="set" suffixOverrides="," suffix="where meterid = #{meterId}">
            <if test="addr != null">addr = #{addr},</if>
            <if test="centorId != null">centorid = #{centorId},</if>
            <if test="meterNumber != null">meternumber = #{meterNumber},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="startTime != null">starttime = #{startTime},</if>
            <if test="lastTime != null">lasttime = #{lastTime},</if>
            <if test="isBranch != null">isbranch = #{isBranch},</if>
            <if test="roomId != null">roomid = #{roomId}</if>
            <if test="pricestandId != null">pricestand_id = #{pricestandId}</if>
            <if test="collectorId !=null">collectorid = #{collectorId}</if>
            <if test="gnumber !=null">g_number = #{gnumber}</if>
            <if test="offsetN !=null">offset_n = #{offsetN}</if>
            <if test="meterSequence !=null">meter_sequence = #{meterSequence}</if>
        </trim>
    </update>

    <!--原表底数-->
    <select id="orIgNumber" resultType="com.ktamr.domain.HaMeter">
        SELECT g_number FROM ha_meter WHERE meterid=#{meterId}
    </select>

    <!--原表号-->
    <select id="orImeterNumber" resultType="com.ktamr.domain.HaMeter">
        SELECT meterNumber FROM ha_meter WHERE meterid=#{meterId}
    </select>

    <select id="mMeterSequence" resultType="com.ktamr.domain.HaMeter">
        SELECT meter_sequence FROM ha_meter WHERE meterid=#{meterId}
    </select>

    <select id="mMeterSequence2" resultType="com.ktamr.domain.HaMeter">
        SELECT MIN(meter_sequence)+1 FROM
        (SELECT meter_sequence FROM ha_meter WHERE centorid=#{centorId} AND meter_sequence+1 NOT IN (SELECT meter_sequence FROM ha_meter WHERE centorid=#{centorId2} AND isNull(meter_sequence)=false))
    </select>
</mapper>