<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaMonFreezeMapper">

    <resultMap id="HaMonFreezeMap" type="com.ktamr.domain.HaMonfreeze">

        <result column="itemId" property="itemId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="tRead" property="tRead" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="aMount" property="aMount" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="fDay" property="fDay" javaType="java.util.Date" ></result>
    </resultMap>

    <insert id="insertMonFreeze" useGeneratedKeys="true"  keyProperty="resultParams.MonFreezeId"  parameterType="com.ktamr.domain.HaMeter">
        INSERT INTO ha_monfreeze(meterid, meterNumber, centorid, collectorid, fday, lday, readTime, state, t_read, l_read, amount)
        SELECT m.meterId, m.meterNumber, m.centorid, m.collectorid, to_date(#{thRTime},'yyyy-mm-dd')-1,m.fday,
         to_date(#{thRTime},'yyyy-mm-dd'),#{state},#{thNumber},#{thNumber},0
         from ha_meter m
         WHERE m.meterId=#{meterId}
    </insert>

    <insert id="insertMonFreezeTwo">
        INSERT INTO ha_monfreeze(meterid, meterNumber, centorid, collectorid, fday, lday, readTime, state, t_read, l_read, amount)
        SELECT m.meterId
        , m.meterNumber
        , m.centorid
        , m.collectorid
        , current_date-date_part('day',current_date)::integer
        , m.fmon
        , t.readTime
        , t.state
        , t.readNumber
        ,t.readNumber
        , 0
        FROM ha_meter m, hat_metersRecordImport t
        WHERE m.meterId=t.meterId AND t.hasMonFreeze!=1 AND t.check_result='待导入' AND to_char(importTime,'yyyy-MM-dd HH24:mi:ss')=#{importTime}
    </insert>

    <update id="updateMonFreeze">
        UPDATE ha_monfreeze SET t_read=#{thNumber},l_read=#{thNumber},readTime=to_date(#{thRTime},'yyyy-mm-dd'),
        amount=0,state=#{state}
        WHERE meterid=#{meterId} and fday=to_date(#{thRTime},'yyyy-mm-dd')-CAST(date_part('day', current_date)  as  INTEGER)
    </update>

    <update id="updateMonFreezeTwo">
        update ha_monfreeze mf set
        t_read=t.readNumber, l_read=t.readNumber, readTime=t.readTime, amount=0, state=t.state
        FROM hat_metersRecordImport t
        WHERE mf.meterid=t.meterId
        AND mf.fday=current_date-date_part('day',current_date)::integer
        AND t.check_result='待导入'
        AND to_char(importTime,'yyyy-MM-dd HH24:mi:ss')=#{importTime}
    </update>

    <delete id="delHaMonFreeze">
        delete from ha_monfreeze where meterid=#{meterId}
    </delete>

    <select id="selectMonFreezeMeterIdCount" resultType="java.lang.Integer"  parameterType="com.ktamr.domain.HaMeter">
        SELECT Count(meterid) FROM ha_monfreeze WHERE meterid=#{meterId} and fday=to_date(#{thRTime},'yyyy-mm-dd')-1
    </select>

    <select id="selectAllMonfreeze" resultMap="HaMonFreezeMap" parameterType="java.util.Map">
        select * from (SELECT meterid AS meterId
            , t_read AS tRead
            , amount AS aMount
            , fday AS fDay
            , state AS state
            FROM ha_monfreeze
            WHERE meterid = #{meterId}
            <if test="  startDate != null and startDate != ''  ">
                and fday BETWEEN to_date(#{startDate}, 'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},
                'yyyy-mm-dd hh24:mi:ss')
            </if>
        ) t
        <!--多条件查询-->
        ${multipleConditions}
        order by fday desc
    </select>

    <!--加入月冻结数据-->
    <select id="fmonDataCount" resultType="com.ktamr.domain.HaMonfreeze">
        SELECT Count(meterid) FROM ha_monfreeze WHERE meterid=#{meterId} AND fday=current_date - extract(day from current_date)::int
    </select>

    <update id="fmonDataCount2">
        UPDATE ha_monfreeze SET t_read=#{orimeterRead},l_read=#{orimeterRead},readTime=now(),amount=0,state='已更换' WHERE meterid=#{meterId} AND fday=current_date - extract(day from current_date)::int
    </update>

    <insert id="fmonDataCount3">
        INSERT INTO ha_monfreeze(meterid, meterNumber, centorid, collectorid, fday, lday, readTime, state, t_read, l_read, amount)
        SELECT
        m.meterId, m.meterNumber, m.centorid, m.collectorid, current_date - extract(day from current_date)::int, m.fmon,now(), '已更换',#{orimeterRead},#{orimeterRead}, 0 FROM ha_meter m
		WHERE m.meterId=#{meterId}
    </insert>

</mapper>