<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaOperatorMapper">

    <resultMap id="HaOperatorMap" type="com.ktamr.domain.HaOperator">
        <result property="operatorCode" column="operatorCode"/>
        <result property="operatorName" column="operatorName"/>
        <result property="operatorPwd" column="operatorPwd"/>
        <result property="operatorSex" column="operatorSex"/>
        <result property="operatorMobile" column="operatorMobile"/>
        <result property="operatorRemark" column="operatorRemark"/>
        <result property="operatorUpper" column="operatorUpper"/>
        <result property="operatorLevel" column="operatorLevel"/>
        <result property="operatorRgnType" column="operatorRgnType"/>
        <result property="operatorState" column="operatorState"/>
        <result property="operatorCreatTime" column="operatorCreatTime"/>
        <result property="operatorCompany" column="operatorCompany"/>
        <result property="operatorCompanyId" column="operatorCompanyId"/>
    </resultMap>

    <select id="selectOperatorByUid" resultMap="HaOperatorMap">
       Select
       o.operator_code AS operatorCode
      ,operator_name AS operatorName
      ,operator_sex AS operatorSex
      ,operator_pwd AS operatorPwd
      ,operator_upper AS operatorUpper
      ,operator_level AS operatorLevel
      ,operator_state AS operatorState
      ,operator_company AS operatorCompany
      ,operator_rgn_type AS operatorRgnType
      ,case when o.operator_level = 'admin' then 0 when o.operator_level = 'normal' then 1 when o.operator_level = 'readMan' then 2 when o.operator_level = 'viewMan' then 3 end AS operatorLevelCode
      From ha_operator o
      Where o.operator_code = #{uid}
    </select>

    <select id="selectOperatorCompany" resultMap="HaOperatorMap">
        select * from (
	        select
			operator_code AS operatorCode,
			operator_name AS operatorName,
			case when operator_company = '镇江水司' then 'sys_zjss'
			when operator_company =  '泰州水司' then 'sys_tzss'
			when operator_company =  '南通燃气' then 'sys_ntrq'
			when operator_company =  '鹤山水司' then 'sys_hsss'
			when operator_company =  '浦口水司' then 'sys_pkss'
			when operator_company =  '融安水司' then 'sys_rass'
			when operator_company =  '句容水司' then 'sys_jrss'
			when operator_company =  '湖南成聪' then 'sys_hncc'
			when operator_company =  '宁远水司' then 'sys_nyss'
			when operator_company =  '安徽全椒' then 'sys_ahqj'
			when operator_company =  '河池水司' then 'sys_hcss'
			when operator_company =  '武汉易维' then 'sys_whyw'
			when operator_company =  '郁南水务' then 'sys_ynsw'
			when operator_company =  '巴南水司' then 'sys_bnss'
			when operator_company =  '大竹水司' then 'sys_dzss'
			when operator_company =  '新田水司' then 'sys_xtss'
			when operator_company =  '获嘉水司' then 'sys_hjss'
			when operator_company =  '三川邵阳' then 'sys_scsy'
			when operator_company =  '三川景德镇' then 'sys_scjdz'
			when operator_company =  '东莞相思鸟' then 'sys_dgxsn'
			when operator_company =  '华龙仪表' then 'sys_hlyb'
			when operator_company =  '佛山威星' then 'sys_fswx'
			when operator_company =  '广东韶关' then 'sys_gdsg'
			when operator_company =  '福达' then 'sys_lclxgss'
			when operator_company =  '安徽来安水司' then 'sys_ahlass'
			when operator_company =  '吉林桦甸' then 'sys_jlhd'
			when operator_company =  '湖南新邵' then 'sys_hnxs' end AS operatorCompanyId
                from ha_operator
            ) t
            where (operatorCode = #{id} or #{id} = 'ha') and (operatorCompanyId is not null)
    </select>

    <select id="HaOperatorList" resultMap="HaOperatorMap">
        select operator_code AS operatorCode,
        operator_name AS operatorName,
        CASE WHEN operator_sex='M' THEN '男'
        WHEN operator_sex='F' THEN '女'
        WHEN operator_sex='N' THEN '未知' end as operatorSex,
        CASE WHEN operator_state='Y' THEN '启用'
        WHEN operator_state='N' THEN '禁用' end as operatorState,
        CASE WHEN operator_level='admin' THEN '系统管理员'
        WHEN operator_level='normal' THEN '普通管理员'
        WHEN operator_level='readMan' THEN '抄收员'
        WHEN operator_level='viewMan' THEN '查阅员' end as operatorLevel,
        CASE WHEN operator_rgn_type='all' THEN '全部区域'
        WHEN operator_rgn_type='rgn' THEN '大区'
        WHEN operator_rgn_type='area' THEN '小区' end as operatorRgnType,operator_upper as operatorUpper,
        operator_company as operatorCompany, operator_mobile as operatorMobile, operator_remark as operatorRemark,
        to_char(operator_creattime, 'yyyy-mm-dd hh24:mi:ss') as operatorCreatTime from ha_operator
        where 1=1
        <if test="haOperator.keyWord != null and haOperator.keyWord != ''">
            and operator_name like '%${haOperator.keyWord}%'
            or operator_company like '%${haOperator.keyWord}%'
            or operator_upper like '%${haOperator.keyWord}%'
            or operator_mobile like '%${haOperator.keyWord}%'
            or operator_remark like '%${haOperator.keyWord}%'
        </if>
        <!--多条件查询-->
        ${haOperator.multipleConditions}
    </select>

    <select id="selectHaOperatorCount" resultType="Integer">
        select count(1) from ha_operator
    </select>

    <insert id="addHaOperator">
        insert into ha_operator values (#{operatorCode},#{operatorName},#{operatorPwd},#{operatorSex},#{operatorMobile},#{operatorRemark},#{operatorUpper},#{operatorLevel},#{operatorRgnType},#{operatorState},#{operatorCreatTime},#{operatorCompany})
    </insert>

    <delete id="deleteHaOperator">
        delete from ha_operator where operator_code = #{operatorCode}
    </delete>


    <update id="updateHaOperator">
        update ha_operator
        <trim prefix="set" suffixOverrides="," suffix="where operator_code = #{operatorCode}">
            <if test="operatorCode != null">operator_code = #{operatorCode},</if>
            <if test="operatorName != null">operator_name = #{operatorName},</if>
            <if test="operatorPwd != null">operator_pwd = #{operatorPwd},</if>
            <if test="operatorSex != null">operator_sex = #{operatorSex},</if>
            <if test="operatorMobile != null">operator_mobile = #{operatorMobile},</if>
            <if test="operatorRemark != null">operator_remark = #{operatorRemark},</if>
            <if test="operatorUpper != null">operator_upper = #{operatorUpper},</if>
            <if test="operatorLevel != null">operator_level = #{operatorLevel},</if>
            <if test="operatorRgnType != null">operator_rgn_type = #{operatorRgnType},</if>
            <if test="operatorState != null">operator_state = #{operatorState},</if>
            <if test="operatorCompany != null">operator_company = #{operatorCompany},</if>
        </trim>
    </update>

    <select id="updateByIdHaOperator" resultMap="HaOperatorMap">
        select operator_code AS operatorCode,
        operator_name AS operatorName,
        CASE WHEN operator_sex='M' THEN '男'
        WHEN operator_sex='F' THEN '女'
        WHEN operator_sex='N' THEN '未知' end as operatorSex,
        CASE WHEN operator_state='Y' THEN '启用'
        WHEN operator_state='N' THEN '禁用' end as operatorState,
        CASE WHEN operator_level='admin' THEN '系统管理员'
        WHEN operator_level='normal' THEN '普通管理员'
        WHEN operator_level='readMan' THEN '抄收员'
        WHEN operator_level='viewMan' THEN '查阅员' end as operatorLevel,
        CASE WHEN operator_rgn_type='all' THEN '全部区域'
        WHEN operator_rgn_type='rgn' THEN '大区'
        WHEN operator_rgn_type='area' THEN '小区' end as operatorRgnType,operator_upper as operatorUpper,
        operator_pwd as operatorPwd,operator_company as operatorCompany,
        operator_mobile as operatorMobile, operator_remark as operatorRemark,
        to_char(operator_creattime, 'yyyy-mm-dd hh24:mi:ss') as operatorCreatTime from ha_operator
        where operator_code = #{operatorCode}
    </select>

    <select id="selUpperRgnType" resultType="com.ktamr.domain.HaOperator">
        SELECT operator_rgn_type as operatorRgnType  FROM ha_operator WHERE operator_code=#{operatorCode}
    </select>

    <!--修改密码时验证原密码   -->
    <select id="CheckPwd" resultType="string">
        select operator_pwd from ha_operator where operator_code=#{operatorCode}
    </select>

    <!--修改密码操作-->
    <update id="ChangePWD">
        update ha_operator set operator_pwd=#{operatorPwd} where operator_code=#{operatorCode}
    </update>

    <select id="HaOperatorGetByID" resultMap="HaOperatorMap">
        select
        operator_code AS operatorCode
      ,operator_name AS operatorName
      ,operator_sex AS operatorSex
      ,operator_pwd AS operatorPwd
      ,operator_upper AS operatorUpper
      ,operator_level AS operatorLevel
      ,operator_state AS operatorState
      ,operator_company AS operatorCompany
      ,operator_rgn_type AS operatorRgnType
      ,operator_remark as operatorRemark
        from ha_operator where operator_code=#{operatorCode}
    </select>
</mapper>