<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HavMeterinfoMapper">

    <resultMap id="havMeterinfoMap" type="com.ktamr.domain.HavMeterinfo">
        <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="meterNumber" property="meterNumber" javaType="java.lang.Long"></result>

        <association property="haRecords" javaType="com.ktamr.domain.HaRecords">
            <result column="itemId" property="itemId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
            <result column="thNumber" property="thNumber" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
            <result column="lfNumber" property="lfNumber" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
            <result column="delta" property="delta" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="thTime" property="thTime" javaType="java.util.Date"></result>
            <result column="lfTime" property="lfTime" javaType="java.util.Date"></result>
        </association>
    </resultMap>

    <select id="selectReadResult" resultMap="havMeterinfoMap" parameterType="java.util.Map">
        SELECT
        t1.itemId AS itemId
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        , mi.表号 AS meterNumber
        , t1.thNumber
        , t1.lfNumber
        , t1.delta
        , t1.state
        , t1.thTime
        , t1.lfTime
        FROM hav_meterinfo mi
        LEFT JOIN (
            SELECT rc1.itemid AS itemId
            , rc1.meterid AS meterId
            , rc1.th_number AS thNumber
            , rc1.lf_number AS lfNumber
            , rc1.delta AS delta
            , rc1.state AS state
            , rc1.th_time AS thTime
            ,rc1.lf_time AS lfTime
            FROM ha_records rc1
            WHERE rc1.cmdid IN <foreach item="id" index="index" collection="cmdids"
                                        open="(" separator="," close=")">
                                ${id}
                            </foreach>
            UNION ALL
            SELECT er1.itemid AS itemId
            , er1.meterid AS meterId
            , er1.n AS thNumber
            , 0 AS lfNumber
            , 0 AS delta
            , er1.state AS state
            , er1.readtime AS thTime
            , null AS lfTime
            FROM ha_errRecord er1
            WHERE er1.cmdid IN <foreach item="id" index="index" collection="cmdids"
                                        open="(" separator="," close=")">
                                ${id}
                            </foreach>)
            t1 ON t1.meterId=mi.meterid
        where 1=1
        <if test=" cmdName == '抄收区域' ">
            and mi.areaid IN (
            SELECT a.areaid FROM ha_rgn n, ha_area a
            WHERE n.id=Left(a.areaNo, 1) and #{ids} = n.id)
        </if>
        <if test=" cmdName == '抄收小区' ">
            and mi.areaid IN  <foreach item="id" index="index" collection="ids"
                                  open="(" separator="," close=")">
                          ${id}
                    </foreach>
        </if>
        ORDER BY mi.用户地址,mi.用户号
    </select>

</mapper>