<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.NodesMapper">

    <sql id="getRightCondition">
        <if test=" haOperator.operatorRgnType != null and haOperator.operatorRgnType != '' ">
            <if test=" haOperator.operatorRgnType == 'rgn' ">
                and position( LEFT(n.id,1) in #{rgnStr})>0
            </if>
            <if test=" haOperator.operatorRgnType == 'area' ">
                and n.id = left(#{areaNo},1)
            </if>
        </if>
    </sql>

    <sql id="getRightConditionTwo">
        <if test=" haOperator.operatorRgnType != null and haOperator.operatorRgnType != '' ">
            <if test=" haOperator.operatorRgnType == 'rgn' ">
                and position( LEFT(a.areaNo,1) in #{rgnStr})>0
            </if>
            <if test=" haOperator.operatorRgnType == 'area' ">
                and a.areaNo = #{areaNo}
            </if>
        </if>
    </sql>

    <select id="selectAllRgnNodes" resultType="java.util.Map">
        SELECT
        n.id
        ,n.name
        ,(SELECT Count(a.areaid) FROM ha_area a WHERE n.id=Left(a.areaNo,1)) as haAreaCount
        FROM ha_rgn n
        where 1=1
        <include refid="getRightCondition"></include>
    </select>

    <select id="selectAllAreaNodes" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT a.areaid as areaid
        , a.name as aname
        , case when a.DS='S' then '单月' when a.DS='D' then '双月' end AS ds
        , case when a.registeredNo != null or length(a.registeredNo)=0 then Right(a.areaNo, 4) else a.registeredNo end as ar
        , COUNT(b.name) as bnameCount
        FROM ha_area a LEFT JOIN ha_building b ON b.areaid=a.areaid
        where Left(a.areaNo, 1)= #{id}
        GROUP BY a.areaid,a.name,a.areaNo,a.registeredNo
        , case when a.DS='S' then '单月' when a.DS='D' then '双月' end
        , case when a.registeredNo != null or length(a.registeredNo)=0 then Right(a.areaNo, 4) else a.registeredNo end
        ORDER BY case when a.DS='S' then '单月' when a.DS='D' then '双月' end
        ,case when a.registeredNo != null or length(a.registeredNo)=0 then Right(a.areaNo, 4) else a.registeredNo end
    </select>

    <select id="selectAllBuildingNodes" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT b.buildingid
        , b.name
        , COUNT(r.roomid) as roomId
        FROM ha_building b LEFT JOIN ha_room r ON b.buildingid=r.buildingid
        WHERE b.areaid=#{id}
        GROUP BY b.buildingid, b.name ORDER BY b.name
    </select>

    <select id="selectAllCentorzNodes" resultType="java.util.Map">
        SELECT ce.id,
         '' as columns
         , ce.addr, COUNT(co.collectorid) as collectorcount
         , ce.centorNo
         , ce.description
        FROM (ha_centor ce LEFT JOIN ha_collector co ON ce.id=co.centorid)
        LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
        WHERE Left(ce.description, 3)='KT4'
        <if test=" areaType == 'area' and id != '' ">
            AND a.areaid IN (cast(#{id} as INTEGER))
        </if>
        <if test=" areaType == 'rgn' and id != '' ">
            AND position( Left(a.areaNo, 1) in #{id})>0
        </if>
        GROUP BY ce.id, substring(ce.centorNo, 2, 4)||'-'||substring(ce.centorNo, 6, 5), ce.addr, ce.centorNo, ce.description
        ORDER BY ce.centorNo,ce.addr
    </select>
    <select id="selectAllCollectorNodes" resultType="java.util.Map" parameterType="java.lang.Integer">
            SELECT
            co.collectorid
            , to_hex(co.nconf) as nconf
            , co.addr
            , COUNT(m.meterid) as metercount
            FROM ha_collector co
            LEFT JOIN ha_meter m ON co.collectorid=m.collectorid
            WHERE co.centorid=#{collectorid}
            GROUP BY co.collectorid, to_hex(co.nconf), co.addr ORDER BY co.addr
    </select>
    <select id="selectAllCentorcNodes" resultType="java.util.Map">
            SELECT ce.id
            , ce.centorid
            , ce.addr
            , COUNT(m.meterid) as meteridcount
            , ce.centorNo
            , ce.description
            FROM (ha_centor ce
            Left JOIN ha_meter m ON ce.id=m.centorId)
            LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
            WHERE (Left(ce.description, 3)='KT3'
            OR ce.description='GPRS'
            OR ce.description='COM')
            <include refid="getRightConditionTwo"></include>
            GROUP BY ce.id, ce.centorid, ce.centorNo, ce.addr, ce.description
            ORDER BY ce.centorNo,ce.addr
    </select>
</mapper>