<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.NodesMapper">


    <sql id="collector">
         AND a.areaid in ( select b.areaid from ha_building b inner join ha_room hr ON hr.buildingid = b.buildingid inner join ha_meter m ON m.roomid = hr.roomid inner JOIN ha_centor cr ON m.centorid = cr.id where cr.description='KT3NB VIRTUAL' group by b.areaid)
    </sql>

    <select id="selectAllRgnNodes" resultType="java.util.Map">
        SELECT
        n.id
        ,n.name
        ,COUNT(a.areaNo) as haAreaCount
        FROM ha_rgn n
        inner JOIN ha_area a ON n.id=LEFT(a.areaNo,1)
        where 1=1
        and (n.id = left(#{rgnAndAreaId},1) or #{rgnAndAreaId} = '')
        <if test=' parameterType == "collector" '>
            <include refid="collector"></include>
        </if>
        GROUP BY n.id,n.name ORDER BY n.id
    </select>

    <select id="selectAllAreaNodes" resultType="java.util.Map">
        SELECT a.areaid as areaid
        , a.name as aname
        , case when a.DS='S' then '单月' when a.DS='D' then '双月' end AS ds
        , case when a.registeredNo != null or length(a.registeredNo)=0 then Right(a.areaNo, 4) else a.registeredNo end as ar
        , COUNT(b.name) as bnameCount
        FROM ha_area a
        LEFT JOIN ha_building b ON b.areaid=a.areaid
        where Left(a.areaNo, 1)= #{id}
        and (LEFT(a.areaNo,1) = #{rgnAndAreaId} or a.areaNo = #{rgnAndAreaId} or #{rgnAndAreaId} = '')
        <if test=' parameterType == "collector" '>
            <include refid="collector"></include>
        </if>
        GROUP BY a.areaid,aname,a.areaNo,a.registeredNo,ds,ar
        ORDER BY ds,ar
    </select>

    <select id="selectAllBuildingNodes" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT b.buildingid
        , b.name
        , COUNT(r.roomid) as roomId
        FROM ha_building b LEFT JOIN ha_room r ON b.buildingid=r.buildingid
        WHERE b.areaid=#{id}
        GROUP BY b.buildingid, b.name ORDER BY b.name
    </select>

    <select id="selectAllCentorzNodes" resultType="java.util.Map">
        SELECT ce.id,
         '' as columns
         , ce.addr, COUNT(co.collectorid) as collectorcount
         , ce.centorNo
         , ce.description
        FROM (ha_centor ce LEFT JOIN ha_collector co ON ce.id=co.centorid)
        LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
        WHERE Left(ce.description, 3)='KT4'
        <if test=" areaType == 'area' and id != '' ">
            AND a.areaid IN (cast(#{id} as INTEGER))
        </if>
        <if test=" areaType == 'rgn' and id != '' ">
            AND position( Left(a.areaNo, 1) in #{id})>0
        </if>
        GROUP BY ce.id, substring(ce.centorNo, 2, 4)||'-'||substring(ce.centorNo, 6, 5), ce.addr, ce.centorNo, ce.description
        ORDER BY ce.centorNo,ce.addr
    </select>
    <select id="selectAllCollectorNodes" resultType="java.util.Map" parameterType="java.lang.Integer">
            SELECT
            co.collectorid
            , to_hex(co.nconf) as nconf
            , co.addr
            , COUNT(m.meterid) as metercount
            FROM ha_collector co
            LEFT JOIN ha_meter m ON co.collectorid=m.collectorid
            WHERE co.centorid=#{collectorid}
            GROUP BY co.collectorid, to_hex(co.nconf), co.addr ORDER BY co.addr
    </select>
    <select id="selectAllCentorcNodes" resultType="java.util.Map">
            SELECT ce.id
            , ce.centorid
            , ce.addr
            , COUNT(m.meterid) as meteridcount
            , ce.centorNo
            , ce.description
            FROM (ha_centor ce
            Left JOIN ha_meter m ON ce.id=m.centorId)
            LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
            WHERE (Left(ce.description, 3)='KT3'
            OR ce.description='GPRS'
            OR ce.description='COM')
            and (left(a.areano,1) = #{id} or a.areano = #{id})
            and (LEFT(a.areaNo,1) = #{rgnAndAreaId} or a.areaNo = #{rgnAndAreaId} or #{rgnAndAreaId} = '')
            GROUP BY ce.id, ce.centorid, ce.centorNo, ce.addr, ce.description
            ORDER BY ce.centorNo,ce.addr
    </select>
</mapper>