<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaOperatorMapper">

    <resultMap id="OperatorMap" type="com.ktamr.domain.HaOperator">
        <result column="operator_code" property="operatorCode" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_name" property="operatorName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_pwd" property="operatorPwd" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_sex" property="operatorSex" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_mobile" property="operatorMobile" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_remark" property="operatorRemark" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_upper" property="operatorUpper" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_level" property="operatorLevel" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_rgn_type" property="operatorRgnType" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_state" property="operatorState" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_creattime" property="operatorCreattime" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operator_company" property="operatorCompany" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operatorLevelCode" property="operatorLevelCode" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="rgnAndAreaId" property="rgnAndAreaId" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="operatorCompanyId" property="operatorCompanyId" javaType="java.lang.String" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectOperatorByUid" resultMap="OperatorMap">
      Select  operator_code
      ,operator_name
      ,operator_sex
      ,operator_pwd
      ,operator_upper
      ,operator_level
      ,operator_state
      ,operator_company
      ,operator_rgn_type
      ,case when o.operator_level = 'admin' then 0 when o.operator_level = 'normal' then 1 when o.operator_level = 'readMan' then 2 when o.operator_level = 'viewMan' then 3 end AS operatorLevelCode
	  ,case when a.areano is not null then a.areano when n.id is not null then n.id when o.operator_rgn_type = 'all' then '' else '-1' end AS rgnAndAreaId
      From ha_operator o
      left join ha_rgn n on n.name = o.operator_name
	  left join ha_area a on a.name = o.operator_name
      Where operator_code = #{uid}
      limit 1
    </select>

    <select id="selectOperatorCompany" resultMap="OperatorMap">
        select * from (
	        select
			operator_code,
			operator_company,
			case when operator_company = '镇江水司' then 'sys_zjss'
			when operator_company =  '泰州水司' then 'sys_tzss'
			when operator_company =  '南通燃气' then 'sys_ntrq'
			when operator_company =  '鹤山水司' then 'sys_hsss'
			when operator_company =  '浦口水司' then 'sys_pkss'
			when operator_company =  '融安水司' then 'sys_rass'
			when operator_company =  '句容水司' then 'sys_jrss'
			when operator_company =  '湖南成聪' then 'sys_hncc'
			when operator_company =  '宁远水司' then 'sys_nyss'
			when operator_company =  '安徽全椒' then 'sys_ahqj'
			when operator_company =  '河池水司' then 'sys_hcss'
			when operator_company =  '武汉易维' then 'sys_whyw'
			when operator_company =  '郁南水务' then 'sys_ynsw'
			when operator_company =  '巴南水司' then 'sys_bnss'
			when operator_company =  '大竹水司' then 'sys_dzss'
			when operator_company =  '新田水司' then 'sys_xtss'
			when operator_company =  '获嘉水司' then 'sys_hjss'
			when operator_company =  '三川邵阳' then 'sys_scsy'
			when operator_company =  '三川景德镇' then 'sys_scjdz'
			when operator_company =  '东莞相思鸟' then 'sys_dgxsn'
			when operator_company =  '华龙仪表' then 'sys_hlyb'
			when operator_company =  '佛山威星' then 'sys_fswx'
			when operator_company =  '广东韶关' then 'sys_gdsg' end AS operatorCompanyId
                from ha_operator
            ) t
            where (operator_code = #{id} or #{id} = 'ha') and operatorCompanyId is not null
    </select>

    <select id="selectOperatorRgnByName" resultType="java.lang.String">
        select id from ha_rgn where name = #{operatorName}
    </select>

    <select id="selectOperatorAreaByName" resultType="java.lang.String">
        select areano from ha_area where name = #{operatorName}
    </select>
</mapper>