<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.ZhuYeMapper">

    <!-- 小区总数   -->
    <select id="areaCount" resultType="Integer">
    SELECT Count(areaid) FROM ha_area
    </select>

    <!--表档案总数    -->
    <select id="meterCount" resultType="Integer">
        SELECT Count(m.meterid) FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid
    </select>

    <!--不良表总数    -->
    <select id="notOkCount" resultType="Integer">
       SELECT Count(m.meterid) FROM ha_meter m,ha_area a WHERE (m.state NOT IN ('正常','正确','关阀','建档','集中器无返回','采集器无返回','修改','已更正','已更换','失联') AND m.state NOT LIKE '%用量异常%' AND m.meterNumber >0) AND m.areaid=a.areaid
    </select>

    <!--失联表总数    -->
    <select id="notConnectedCount" resultType="Integer">
        SELECT Count(m.meterid) FROM ha_meter m,ha_area a WHERE m.state='失联' AND m.meterNumber >0 AND m.areaid=a.areaid
    </select>

    <!--用户资料总数    -->
    <select id="userCount" resultType="Integer">
        SELECT Count(t.id) FROM (SELECT cu.custid AS id FROM ((ha_custom cu LEFT JOIN ha_room r ON cu.custid=r.custid) LEFT JOIN ha_building b ON r.buildingid=b.buildingid) LEFT JOIN ha_area a ON a.areaid=b.areaid
						 GROUP BY cu.custid) t
    </select>

    <!--集采器总数    -->
    <select id="ccentorCount" resultType="Integer">
        SELECT Count(ce.id) FROM ha_centor ce WHERE Left(ce.description, 3)='KT3'
    </select>

    <!--集中器总数    -->
    <select id="centorCount" resultType="Integer">
       SELECT Count(ce.id) FROM ha_centor ce WHERE Left(ce.description, 3)='KT4'
    </select>

    <!--采集器总数    -->
    <select id="collectorCount" resultType="Integer">
       SELECT Count(co.collectorid) FROM ha_centor ce,ha_collector co WHERE ce.id=co.centorid AND Left(ce.description, 3)='KT4'
    </select>

    <!--  《表状态统计begin》  -->
    <!--1、正常表计数    -->
    <select id="meterStateCount03" resultType="Integer">
    SELECT Count(m.meterid) AS 总数 FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid AND (position('正常' in m.state)>0 OR position('正确' in m.state)>0 OR m.state='关阀')
    </select>

    <!--  2、异常状态计数  -->
    <select id="meterStateCount09" resultType="Integer">
        SELECT Count(m.meterid) AS 总数 FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid AND m.state LIKE '异常%'
    </select>

    <!--  3、无返回数据计数  -->
    <select id="meterStateCount01" resultType="Integer">
        SELECT Count(m.meterid) AS 总数 FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid AND m.state LIKE '%无返回%'
    </select>

    <!--  4、用量异常计数  -->
    <select id="meterStateCount10" resultType="Integer">
       SELECT Count(m.meterid) AS 总数 FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid AND m.state LIKE '%用量异常%'
    </select>

    <!--  5、开阀状态计数  -->
    <select id="meterStateCount11" resultType="Integer">
       SELECT Count(m.meterid) AS 总数 FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid AND (position('正常' in m.state)>0 OR position('正确' in m.state)>0 OR position('光通道干扰' in m.state)>0 OR position('强光干扰' in m.state)>0 OR position('气泡干扰' in m.state)>0 OR position('表具故障' in m.state)>0)
    </select>

    <!--主页查询时映射的别名    -->
    <resultMap id="zhuYeMap" type="zhuYe">
        <result property="state" column="状态"/>
        <result property="total" column="总数"/>
    </resultMap>
    <!--  6、其他状态表计数  -->
    <select id="meterStateCountQiTa" resultMap="zhuYeMap">
     SELECT m.state AS 状态, Count(m.meterid) AS 总数
    FROM ha_meter m,ha_area a WHERE m.areaid=a.areaid
    AND m.meterNumber>0 AND m.state NOT LIKE '%用量异常%' AND m.state NOT LIKE '%重号%'
    GROUP BY m.state ORDER BY m.state
    </select>

    <!--集中器状态统计    -->
    <select id="meterStateCountJiZhongQi" resultMap="zhuYeMap">
    SELECT ce.state AS 状态,Count(ce.id) AS 总数 FROM ha_centor ce WHERE (Left(ce.description,3)='KT4' OR Left(ce.description,3)='KT3')
    GROUP BY ce.state ORDER BY ce.state DESC
    </select>

    <!-- 采集器统计1   -->
    <select id="meterStateCountCaiJiQi1" resultType="Integer">
    SELECT Count(co.collectorid) AS 总数 FROM ha_centor ce,ha_collector co WHERE ce.id=co.centorid AND co.state ~* '^[0-9]'
    </select>

    <!-- 采集器统计2   -->
    <select id="meterStateCountCaiJiQi2" resultType="Integer">
    SELECT Count(co.collectorid) AS 总数 FROM ha_centor ce,ha_collector co WHERE ce.id=co.centorid AND co.state='EE'
    </select>
    <!--  《表状态统计end》  -->
</mapper>