<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="/area/DeleteArea" method="post" onsubmit="">
    <input type="hidden" id="areaId" name="areaId" th:value="${areaId}">
    <table class="table table-bordered">
        <input type="hidden" name="areaids" value=<%=areaids%>>
        <thead>
        <tr>
            <th>小区编号</th>
            <th>小区名称</th>
            <th>地址</th>
            <th>抄收月份</th>
            <th>说明</th>
            <th>执行结果</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="areas:${area}">
            <td th:text="${areas.areaNo}"></td>
            <td th:text="${areas.name}"></td>
            <td th:text="${areas.addr}"></td>
            <td th:if="${areas.ds}=='S'">双月</td>
            <td th:if="${areas.ds}=='D'">单月</td>
            <td th:text="${areas.description}"></td>
            <td></td>
        </tr>
        </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button type="submit" class="btn btn-default btn-sm"><img src="../images/delete.png" />删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
</body>
</html>