<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="" method="post" onsubmit="">
    <table class="table table-bordered">
        <input type="hidden" id="roomId" name="roomId" th:value="${roomId}">
        <thead>
        <tr>
            <th>所在楼栋</th>
            <th>名称</th>
            <th>说明</th>
            <th>安装表数量</th>
            <th>执行结果</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rooms:${room}">
            <td th:text="${rooms.haBuilding.name}"></td>
            <td th:text="${rooms.name}"></td>
            <td th:text="${rooms.description}"></td>
            <td th:text="${countNum}"></td>
            <td><font id="delResult" color="red"></font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><button id="del" type="button" class="btn btn-default btn-sm"><img src="../images/delete.png" />删除</button>
            </td>
        </tr>
        <tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,get_result_url = "/room/RoomDel";

        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        $("#delResult").html("删除成功");
                        parent.$("#jqGrid").trigger("reloadGrid");
                    }else{
                        $("#delResult").html("删除失败");
                    }
                }
            });
        }
        $("#del").click(function(){
            var roomId = $("#roomId").val();
            var data = {
                roomId : roomId
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>