<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
	</button>
	提示：用于“兰德M73E”型号手持机的表册导入导出。表册文件类型为<b>.CSV</b>。其中：
	表册以压缩包形式传输，由用户将下载的压缩包自行解压出表册下装至手抄器,表册由手持机上装本地电脑并依次上传至抄表服务器。
</div>
<div class="container" style="padding:20px 5px;">
	<div class="row">
		<div class="col-xs-2 col-md-2" style="text-align:right;padding-top:7px;">
			<div class="form-group">
				<label>抄收小区：</label>
			</div>
		</div>
		<div class="col-xs-2 col-md-10">
			<form class="form-inline">
				<div class="form-group">
					<select class="selectpicker" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" data-size="5">
						<%
						AreaByWhere dbconn, GetRightCondition("areaNo", "area", ""), "id", ""
						%>
					</select>
				</div>
			</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-2 col-md-2">
		</div>
		<div id="btns" class="col-xs-2 col-md-10">
			<div style="display:block;">
				<input type="button" value="生成表册" name="createMeterTables" class="layui-btn layui-btn-sm layui-btn-primary btns">
				<input type="button" id="uploadfile" value="上传表册" class="layui-btn layui-btn-sm layui-btn-primary">
				<span>
					*表册以压缩包形式下载，以CSV文件上传
				</span>
			</div>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript" >
	function downloadPackage(areaId){
		var url = "/handwork/meterTableDerived";
		$.ajax({
			url: url
			,type: "POST"
			,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
			,data: {areaId: areaId,areaName:}
			,success: function(data){
				result = data.split(",");
				if(result[0] == "true"){
					location.href = result[1];
				}else{
					layer.msg(data);
				}

			}
		});
	}
	layui.use(['layer','form','upload'], function(){
		var layer = layui.layer,
				upload = layui.upload;

		upload.render({
			elem: '#uploadfile' //指定原始元素
			,url: './meter_table_upload.asp' //上传接口
			,method: 'post' //上传接口的http类型
			,accept: 'file'
			,exts: 'csv'
			,auto: true//选择文件后自动上传
			,done: function(res, index, upload){ //上传成功后的回调
				if(res.state == "ok"){
					//g_cmdName = "上传表册";
					//start_do(g_cmdName, "");
				}
			}
		});

		$(".btns").click(function(){
			var areaIds = $(".selectpicker").val();
			var button_name = $(this).attr('name');


			if(areaIds == null && button_name=="createMeterTables"){
				layer.msg("请选择小区！");
				return false;
			}

			downloadPackage(areaIds);
		});
	});
</script>
</body></html>