<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row my-form-no-edge">
		<div class="col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
	<div class="form-inline" style="margin:5px 5px;text-align: right;padding-right:10px;">
		<button lay-submit type="button" data-title="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
		<button type="button" data-title="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.use(['form', 'layer'], function(){
		var form = layui.form
				,layer = layui.layer;
		var g_importTime = [[${importTime}]];
		var g_errors = [[${errors}]];
		var g_msg = [[${msg}]];
		var g_fileName = [[${fileName}]];
		var op_url = "/handwork/metersRecordImportThree";
		var layerIndex = parent.layer.getFrameIndex(window.name);

		var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 182,"/handwork/metersRecordImportListJson");
		GridObj.jqdefaultGridConfig.caption = [[${msgTitle}]];
		GridObj.jqdefaultGridConfig.postData = {importTime: g_importTime};
		GridObj.jqdefaultGridConfig.colNames = ['id','校验结果','用户编号','用户名称','表号','状态','读数','抄表时间'];
		GridObj.jqdefaultGridConfig.colModel = [
			{ name: 'id',  width: 75, key: true, hidden: true},
			{ name: 'checkResult', width: 120, cellattr: importCheckCellColor },
			{ name: 'userCode', width: 80 },
			{ name: 'userName', width: 80 },
			{ name: 'meterNumber', width: 120 },
			{ name: 'state', width: 80 },
			{ name: 'readNumber',align: 'right', width: 80 },
			{ name: 'readTime', width: 150 }
		];
		GridObj.jqdefaultGridConfig.scroll = true;
		GridObj.jqdefaultGridConfig.footerrow = true;
		GridObj.jqdefaultGridConfig.userDataOnFooter = true;
		GridObj.drawGrid();
		GridObj.drawGridPager();
		GridObj.setGridSize();
		GridObj.gridResize();

		function submitInfo(sendData){
			$.ajax({
				url: op_url
				,data: sendData
				,type: "POST"
				,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
				,async:false //同步请求
				,success: function(data){
					if(data == "true"){
						parent.layer.msg("批量导入成功！", {icon: 1});
					}else{
						parent.layer.msg(data, {icon: 5});
					}
				}
			});
		}

		$(".btn").click(function(){
			var btnTitle = $(this).data("title")
			var data = {
				msg: g_msg,
				fileName: g_fileName,
				importTime: g_importTime,
				op: btnTitle
			}
			if(Number(g_errors)>0 && btnTitle == "sure"){
				layer.confirm("存在错误行资料，确实只导入'待导入'吗？", {icon:3, title:'提示'},
						function(index, layero){
							submitInfo(data);
							layer.close(index);
							parent.layer.close(layerIndex); //再执行关闭
						});
			}else{
				submitInfo(data);
				parent.layer.close(layerIndex); //再执行关闭
			}
		});
	});
</script>
</body>
</html>
