<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row" style="padding:5px 0px 5px 0px;margin:0;">
		<div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
			<input id="nodeType" type="text" class="input-sm form-control hide" value="">
			<input id="nodeIds" type="text" class="input-sm form-control hide" value="">
			<input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
			<div id="menuContent" class="menuContent">
				<div class="ztreeInput">
					<div>
						<input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
					</div>
					<div class="ztreeSkip">
						<label type="text" id="resultKey" class="form-control ztreeSkipLabel">
							<div class="ztreeSkipBtns">
								<a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
								<a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
							</div>
							<label id="number" class="ztreeSkipNum"></label>
						</label>
					</div>
				</div>
				<ul id="areaTree" class="ztree"></ul>
				<div class="clearfloat"></div>
			</div>
		</div>
		<div class="col-xs-2 my-form-col">

			<input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">

		</div>
		<div class="col-xs-2 my-form-col">
			<button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
		</div>
		<div class="my-btns pull-right" name="MngButtons" style="display:block;">
			<button data-modal="" data-title="批量录入" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-import"></span> 批量录入</button>
		</div>
	</div>
	<div class="row my-form-no-edge">
		<div class="col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>

<script th:inline="javascript" >
	layui.config({
		base : '/common/js/',
		version: [[${session.version}]]
	}).extend({
		myLayui: 'myLayui'
	});
	var _myLayui = null;
	layui.use(['layer','form', 'myLayui'], function(){
		var layer = layui.layer, g_checkResult = "";
		var zOption = {
			url: "/nodes/getAreaNodes",
			selectedMulti: true,
			nodeTypeId: "nodeType",
			nodeIdsId: "nodeIds",
			nodeNamesId: "areaSel",
			clickCallBack: ""
		};

		var tree = new myzTree("areaTree", zOption);
		tree.dropDownTreeOpen();
		tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
		$("#areaSel").click(function(){
			tree.showMenu();
		});

		function colValueCheck(value, colname){
			if(colname.indexOf("时间")>0 && checkTimeType(value)==false){
				return [false, "请填写时间格式YYYY-MM-DD hh:mi:ss！"];
			}
			return [true, ""];
		}
		var g_dataType = "editLastData";
		var g_showListType = 1;
		var nowStr = [[${nowStr}]];
		var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 114,'/handwork/recordByHandJson');
		GridObj.jqdefaultGridConfig.editurl = "/handwork/RowEditing";
		GridObj.jqdefaultGridConfig.caption = "";
		GridObj.jqdefaultGridConfig.multiselect = false;
		GridObj.jqdefaultGridConfig.postData = {"params[dataType]": g_dataType,"params[showListType]": g_showListType,"params[exportType]":"1"};
		GridObj.jqdefaultGridConfig.colModel = [
			{ label:'表ID', name: 'meterId', width: 75, key: true, hidden: true},
			{ label:'用户编号', name: 'havMeterinfo.userNo', width: 100 },
			{ label:'用户名称', name: 'havMeterinfo.userName', width: 100 },
			{ label:'用户地址', name: 'havMeterinfo.userDs', width: 160 },
			{ label:'表号', name: 'havMeterinfo.meterNumber', align: 'right', width: 110 },
			{ label:'最近读数', name: 'havMeterinfo.thNumber', align: 'right' ,width: 80, editable:true,  editrules:{ required:true, number:true, minValue:0} },
			{ label:'上期结算', name: 'havMeterinfo.lfNumber', align: 'right' ,width: 80 },
			{ label:'本期用量', name: 'havMeterinfo.snumber', align: 'right' ,width: 80 },
			{ label:'表状态', name: 'state', width: 80, editable:true ,edittype:"select", editoptions:{value: "正常:正常;正确:正确;关阀:关阀;强光干扰:强光干扰;气泡干扰:气泡干扰;表具故障:表具故障;通讯故障:通讯故障"}, editrules:{ required:true}, cellattr: MeterStateCellColor },
			{ label:'最近抄表时间', name: 'thRTime', width: 150, editable:true,editrules:{ required:true, custom:true, custom_func:colValueCheck},
				editoptions:{
					dataInit:function(e){
						$(e).datetimepicker({
							language: 'zh-CN',//显示中文
							format: 'yyyy-mm-dd hh:ii:ss',//显示格式
							initialDate: new Date(),//初始化当前日期
							autoclose: true,//选中自动关闭
							todayBtn: true//显示今日按钮
						});
						$(e).datetimepicker('setStartDate',$(e).val());
						$(this).click(function(e){//选中时间后隐藏
							$(e).parent().datepicker('hide');
						});
						$(e).val(nowStr);
					}
				}
			},
			{ label:'操作', name: 'operation', width: 140, align: 'center'
				,formatter: function (cellvalue, options, rowObject) {
					var btns = '<div class="layui-btn-group">';
					btns += '<button type="button" data-id="'+rowObject["meterId"]+'" class="layui-btn layui-btn-xs meterRecord"><span class="glyphicon glyphicon-edit"></span> 录入</button>';
					btns += '<button type="button" data-id="'+rowObject["meterId"]+'" class="layui-btn layui-btn-xs layui-btn-disabled dataSave">保存</button>';
					btns += '<button type="button" data-id="'+rowObject["meterId"]+'" class="layui-btn layui-btn-xs layui-btn-disabled dataCancel">取消</button>';
					btns += '</div>';

					return btns;
				}
			}
		];
		GridObj.drawGrid();
		GridObj.drawGridPager();
		GridObj.setGridSize();
		GridObj.gridResize();

		$(document).keydown(function(event){
			if(event.keyCode==13){
				$(".search").click();
			}
		});
		//全文查找
		$(".search").click(function(){
			var grid = $("#jqGrid");
			var  _pdArray = "";
			_pdArray = {
				"params[keyWord]": $("#keyWord").val(),
				"params[dataType]": g_dataType,
				"params[nodeType]": $("#nodeType").val(),
				"params[nodeIds]": $("#nodeIds").val()
			};
			fullTextSearch("jqGrid", _pdArray);
		});
		//录入
		$(document).on('click','.meterRecord',function(){
			var btnObj = $(this), selRowId = "";
			selRowId = btnObj.data("id");

			$("#jqGrid").jqGrid('editRow', selRowId);
			btnObj.addClass("layui-btn-disabled");
			btnObj.next().removeClass("layui-btn-disabled");
			btnObj.next().next().removeClass("layui-btn-disabled");
		});
		//保存
		$(document).on('click','.dataSave',function(){
			var btnObj = $(this), selRowId = "";
			selRowId = btnObj.data("id");
			$("#jqGrid").jqGrid('saveRow', selRowId,  {
				successfunc: function (response) {
					if(response.responseText == "true"){
						layer.msg("表数据录入成功！", {icon: 1});
						btnObj.addClass("layui-btn-disabled");
						btnObj.prev().removeClass("layui-btn-disabled");
						btnObj.next().addClass("layui-btn-disabled");
						relodThisPage("jqGrid");
					}else
						layer.msg(response.responseText, {icon: 5});
				}
			});
		});
		//取消
		$(document).on('click','.dataCancel',function(){
			var btnObj = $(this), selRowId = "";
			selRowId = btnObj.data("id");
			$("#jqGrid").jqGrid('restoreRow', selRowId);
			btnObj.addClass("layui-btn-disabled");
			btnObj.prev().addClass("layui-btn-disabled");
			btnObj.prev().prev().removeClass("layui-btn-disabled");
		});
		_myLayui = new myLayui;
		$(".my-btns .layui-btn").click(function(){
			var _this = this, _layerSize, _queryStr;
			var btnName = $(_this).data("title");

			switch(btnName) {
				case "批量录入":
					_layerSize = ['560px', '400px'];
					_queryStr = [
						"cmdName=批量录入"
					];
					_myLayui.showLayer("批量录入","/handwork/metersRecordImport", _queryStr, _layerSize);
					break;
				default:
					layer.msg("不支持的命令", {icon: 5});
					break;
			}
		});
	});
</script>
</body></html>