<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="/gprsdtu/deleteHaGprsdtu" method="post" onsubmit="">
    <table class="table table-bordered">
        <input type="hidden" id="uId" name="uId" th:value="${uId}">
        <thead>
        <tr>
            <th>终端编号</th>
            <th>电话号码</th>
            <th>安装地址</th>
            <th>状态</th>
            <th>说明</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gprsdtus:${gprsdtu}">
            <td th:text="${gprsdtus.uId}"></td>
            <td th:text="${gprsdtus.telNubmer}"></td>
            <td th:text="${gprsdtus.addr}"></td>
            <td th:text="${gprsdtus.idle}"></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-default btn-sm"><img src="../images/delete.png"/>删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
</body>
</html>