<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</head>
<body class="myPage-body">
<div class="container myContainer">
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <div class="layui-tab layui-tab-brief" lay-filter="device" style="margin:0;">
                <ul class="layui-tab-title hide" style="margin-bottom: 0px;">
                    <li class="layui-this" lay-id="ccentor">DTU列表</li>
                </ul>
                <div class="layui-tab-content" style="padding: 0;">
                    <div class="layui-tab-item layui-show">
                        <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
                            <div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
                                <input id="nodeType" type="text" class="input-sm form-control hide" value="">
                                <input id="nodeIds" type="text" class="input-sm form-control hide" value="">
                                <input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
                                <div id="menuContent" class="menuContent">
                                    <div class="ztreeInput">
                                        <div>
                                            <input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
                                        </div>
                                        <div class="ztreeSkip">
                                            <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                                                <div class="ztreeSkipBtns">
                                                    <a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                                    <a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                                                </div>
                                                <label id="number" class="ztreeSkipNum"></label>
                                            </label>
                                        </div>
                                    </div>
                                    <ul id="areaTree" class="ztree"></ul>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="col-xs-2 my-form-col">
                                <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
                            </div>
                            <div class="col-xs-1 my-form-col">
                                <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
                            </div>
                            <!--<%if appPage = "management" then%>-->
                            <div id="nav2" class="my-btns pull-right" name="MngButtons" style="display:block;">
                                <button data-modal="" data-title="新增" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-plus"></span> 新增</button>
                                <button data-modal="" data-title="修改" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
                                <button data-modal="" data-title="删除" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                            </div>
                            <!--<%end if%>-->
                        </div>
                        <form class="form-horizontal" id="jqgridForm" role="form">
                            <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                            <div id="jqGridPager"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    layui.config({
        base : '/common/js/',
        version: '<%=Application("webVersion")%>'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer','element','myLayui'], function(){
        var layer = layui.layer,
            element = layui.element,
            myLayui = layui.myLayui;
        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 145,"/gprsdtu/gprsdtuListJson");
        GridObj.jqdefaultGridConfig.caption = "";
        GridObj.jqdefaultGridConfig.multiselect = false;
        GridObj.jqdefaultGridConfig.postData = {ListNumber: 18, TotalLocation: "终端编号", SumColName: "下属集采器数目"};

        GridObj.jqdefaultGridConfig.jsonReader.rows="rows";
        GridObj.jqdefaultGridConfig.jsonReader.id="id";
        GridObj.jqdefaultGridConfig.jsonReader.page="page";
        GridObj.jqdefaultGridConfig.jsonReader.total="total";
        GridObj.jqdefaultGridConfig.jsonReader.records="records";
        GridObj.jqdefaultGridConfig.jsonReader.repeatitems=false;

        GridObj.jqdefaultGridConfig.colNames = ['终端编号','电话号码','安装地址','下属集采器数目','状态','说明','最近抄收时间','抄收间隔时间'];
        GridObj.jqdefaultGridConfig.colModel = [
            { name: 'uId',  width: 120, key: true, hidden: false},
            { name: 'telNubmer', width: 100 },
            { name: 'addr', width: 200 },
            { name: 'centors', width: 100, align: 'right' },
            { name: 'state', width: 100, cellattr: deviceStateCellColor },
            { name: 'dscrp', width: 200 },
            { name: 'oplastTime', width: 120 },
            { name: 'idle', width: 120, align: 'right' }
        ];
        GridObj.jqdefaultGridConfig.footerrow = true;
        GridObj.jqdefaultGridConfig.userDataOnFooter = true;
        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();

        var zOption = {
            // url: "../client_trans/getAreaNodes.asp",
            url:"/area/ShowBigName23",
            selectedMulti: true,
            nodeTypeId: "nodeType",
            nodeIdsId: "nodeIds",
            nodeNamesId: "areaSel",
            clickCallBack: ""
        };
        var tree = new myzTree("areaTree", zOption);
        tree.dropDownTreeOpen();
        tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
        $("#areaSel").click(function(){
            tree.showMenu();
        });

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            var  _pdArray = "";
            _pdArray = {
                "keyWord": $("#keyWord").val(),
                "nodeType": $("#nodeType").val(),
                "nodeIds": $("#nodeIds").val()
            };
            fullTextSearch("jqGrid", _pdArray);
        });
        var _myLayui = new myLayui;
        $(".my-btns .layui-btn").click(function(){
            var _this = this, _layerSize, _queryStr;
            var btnName = $(_this).data("title"), dtuids = GridObj.getSelRowIds();
            var b_isMultiIDs = isMultiIDs(dtuids);
            if(dtuids=="" && btnName != "新增"){
                layer.msg("请选择操作行", {icon: 5});
                return false;
            }
            if(b_isMultiIDs == true && (btnName == "修改")){
                dtuids=getLastMultiIDs("jqGrid");
                //layer.msg("只能单选", {icon: 5});
                //return false;
            }
            switch(btnName) {
                case "新增":
                    _layerSize = ['455px', '350px'];
                    _queryStr = [
                        "cmdName=新增DTU资料"
                    ];
                    _myLayui.showLayer("新增DTU资料","/gprsdtu/JumpAddGprsdtu", _queryStr, _layerSize);
                    break;
                case "修改":
                    _layerSize = ['455px', '350px'];
                    _queryStr = [
                        "cmdName=修改DTU资料",
                        "uId="+dtuids
                    ];
                    _myLayui.showLayer("修改DTU资料","/gprsdtu/JumpUpdateGprsdtu", _queryStr, _layerSize);
                    break;
                case "删除":
                    _layerSize = ['650px', '300px'];
                    _queryStr = [
                        "cmdName=删除DTU资料",
                        "uids="+dtuids
                    ];
                    _myLayui.showLayer("删除DTU资料","/gprsdtu/JumpDeleteGprsdtu", _queryStr, _layerSize);
                    break;
                default:
                    layer.msg("不支持的命令", {icon: 5});
                    break;
            }
        });
    });
</script>
</body>
</html>