BODY {
SCROLLBAR-FACE-COLOR: #D8D8D8;
 SCROLLBAR-HIGHLIGHT-COLOR: #D8D8D8;
 SCROLLBAR-SHADOW-COLOR: #D8D8D8;
 SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
 SCROLLBAR-ARROW-COLOR: #444444;
 SCROLLBAR-TRACK-COLOR: #FFFFFF;
 SCROLLBAR-DARKSHADOW-COLOR: #8C8C8C;
 font-size:12px;
 cursor:default;
 background-color:#FFFFFF;
}

td { font-size: 12px;cursor:default;}
input {height: 20px;  font-size: 10pt;}

A:link {font-size:12px;text-decoration: none;}
A:visited {font-size:12px;text-decoration: none; }
A:active {font-size:12px;text-decoration: none}
A:hover {font-size:12px;text-decoration: underline;}

A.funcarea:link {font-size:12px;text-decoration: none; color: #000000}
A.funcarea:visited {font-size:12px;text-decoration: none; color: #000000}
A.funcarea:active {font-size:12px;text-decoration: none;color:#FF0000;}
A.funcarea:hover {font-size:12px;text-decoration: underline ; color: #FF0000}

.tx { border-width:0px; } 
.tx0 { text-Align:left;} 
.tx1 { height: 20px; width:30px; font-size: 10pt; cursor: hand}
 
.button1{ height: 16px;width:60px;font-size: 12px; border-bottom: 1px solid #002980; border-right: 
1px solid #002980; border-left: 1px solid #f0f5fb;border-top:1px solid #f0f5fb; cursor: hand; background-color: #D8D8D8; color: #002980} 

.button2 {width=100%; height: 16px; font-size: 12px; border: 0px solid; cursor: hand; background-color: #D8D8D8; color: #002980}

.button3{ height: 16px;width:35px;font-size: 12px; border-bottom: 1px solid #002980; border-right: 
1px solid #002980; border-left: 1px solid #f0f5fb;border-top:1px solid #f0f5fb; cursor: hand; background-color: #D8D8D8; color: #002980} 


.tab0 {background-color: #ffffff;font-size:18px}
 

.atop { color: #336633; text-decoration:underline} 

.atop:hover { text-decoration: underline overline; color: #336633} 

.atop:visited {color: #336633; text-decoration: underline} 


.font2 { COLOR: #000000; FILTER: dropshadow(color=#ffffff,offx=1,offy=1, positive=true);FONT-FAMILY: "宋体"; FONT-SIZE: 10pt } 

.blueTxt { color:blue; }

.select1 {font-size: 9pt;}

th { background-color: #add6d6; font-size:xx-small} 

.th0 {background-color:#add6d6; font-size: small; font-weight: bold}

.th1 {  background-color: #C6D9FF;font-size: 10pt;font-weight: bold; COLOR: #666666; FONT-FAMILY: "宋体"}

.th2 {  background-image: url(../images/table_head.gif);color:#002980}

.th3 {  background-color: #D9E6FF}

.th4 {  background-color: #B3CBFF}

.hidden_obj { display: none}

.progress_bg { height:6px; font-size:3px; background-color:#6699FF;}

.textarea_1 {  width:99%;}

.textarea_2 { width:100%;}

.table1 { border-top: #888888 1px solid; border-left: #888888 1px solid; border-bottom: #eeeeee 1px solid; border-right: #eeeeee 1px solid; padding:1px; padding-right: 1px; padding-left: 1px;background-color:#ffffff;}
.table2 { border-top: #6CA5D2 1px solid; border-left: #6CA5D2 1px solid; border-bottom: #6CA5D2 1px solid; border-right: #6CA5D2 1px solid; border-collapse:collapse;}

.hand { cursor:hand; }

.jnfont1 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#cccccc,offx=1,offy=1); COLOR: #666666; FONT-FAMILY: "宋体"}

.jnfont2 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#e1e2ff,offx=1,offy=1); COLOR: #4F4F00; FONT-FAMILY: "宋体"}

.jnfont3 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#ffffff,offx=1,offy=1); COLOR: #444444; FONT-FAMILY: "宋体"; }

.jnfont4 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#000000,offx=1,offy=1); COLOR: #0F375F; FONT-FAMILY: "宋体"}

.jnfont5 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#FFFFff,offx=1,offy=1); COLOR: #336600; FONT-FAMILY: "宋体"}

.jnfont6 {height:20;FONT-SIZE: 10pt; FILTER: dropshadow(color=#cccccc,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "宋体"; background-image:url(../images/table_head.gif)}

.jnfont7 {FONT-SIZE: 10pt; FILTER: dropshadow(color=#ffffff,offx=1,offy=1); COLOR: #FFFFFF; FONT-FAMILY: "宋体"}

.bluefont {  color: #004FF2; FONT-SIZE: 10pt;}

.linktxt { TEXT-DECORATION: underline; COLOR: #3300FF }

.visitedtxt { TEXT-DECORATION: underline; COLOR: #4F4F00 }

.titlefont { FONT-SIZE: 12pt;  color: #004FF2}

.text002980 {  color: #002980}

.text1a64ff { color: #1a64ff}

.text_glow { filter:glow(color=#FFFFFF,direction=10)}

.notify{width:50;height: 40; font-size: 14px; font-weight: bolder; border: 0px solid; cursor: hand;; background-image: url(../images/button.gif);background-color:transparent}
.notify_st{width:50;height: 40; font-size: 14px; font-weight: bolder; border: 0px solid; cursor: hand;; background-image: url(../images/button_still.gif);background-color:transparent}

.filemng{width:30;height: 30; text-align: bottom; color:red; font-size: 12px; font-weight: bolder; border: 0px solid; cursor: hand;; background-image: url(../images/button_01.gif);background-color:transparent}
.workmng{width:30;height: 30;text-align: bottom; font-size: 12px; color: red;  font-weight: bolder; border: 0px solid; cursor: hand;background-position:left; background-image: url(../images/button_01.gif);background-color:transparent}
.msgmng{width:30;height: 30;text-align: bottom; font-size: 12px; color: red;  font-weight: bolder; border: 0px solid; cursor: hand;background-position:left; background-image: url(../images/button_01.gif);background-color:transparent}

#floater {
position: absolute;
left: 500;
top: 146;
width: 125;
visibility: visible;
z-index: 10;
}

p {  font-size: 12px}
.btn_01 {width:100%;height:16px;font-size: 12px;}
.toolbar_td_00{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;}
.toolbar_td_01{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;cursor:hand;}
.toolbar_td_02{border-top:#000000 1px solid;border-left:#000000 1px solid;border-right:#FFFFFF 1px solid;border-bottom:#FFFFFF 1px solid;cursor:hand;}
.toolbar_td_03{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;cursor:hand;}
.table_01{border-bottom:#002d88 1px solid;}
.table_02{border-bottom:#FFFFFF 1px solid;}
.table_03{border-top:#B8D3E9 1px solid;}
.table_04{border-top:#FFFFFF 1px solid;}

.noclass{cursor:hand;}
.selectTxt { color:white; background-color:#000080; cursor:hand;}
.text_04 {	font-size:16px;	color: #FFFFFF;}
.text_01 { font-size:24px; }
.hiddenObj { display:none; }
.whiteTxt { color:white;}
.blackTxt { color:black;cursor:hand;}
.tr_00 { background-color:#374FAE;color:white;}
.tr_01 { background-color:#738dc6;color:white;}
.tr_02 { background-color:#F2F4FB;border-top:#FFFFFF 1px solid;}
.tr_03 { background-color:#bcc8e2;border-top:#FFFFFF 1px solid;}
.tr_04 { background-color:#FbFcFf;border-top:#FFFFFF 1px solid;}
.redTxt {
	color: #FF0000;
}
.16Txt {
	font-size:16px;
	height:14pt;
}
.14Txt { color:brown; font-size:14px ;cursor:hand; }
.select14Txt { color:red; font-size:14px; } 
.12Txt { color:black; font-size:12px ;cursor:hand; }
.select12Txt { color:red; font-size:12px; } 
.blue16Txt { color:blue; font-size:16px ; height:14pt;}
.borderRight {border-right:#888888 1px solid;}
.borderRight2 {border-right:#888888 1px solid;background-color: #FFFFFF;}
.leftBTN { height:20;background-color:#A5A9F9;border-width:0; }
