<!DOCTYPE html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head title="首页" th:include="include :: header">
    <title>主页信息概况</title>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=yes">
    <script type="text/javascript" src="/plugins/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-v3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/plugins/echarts-v3.8.4/echarts.min.js"></script>
    <script type="text/javascript" src="/plugins/daterangepicker/moment.js"></script>
    <script type="text/javascript" src="/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/common/js/myDateRangePickerFUNC.js?v="></script>
    <script type="text/javascript" src="/plugins/layui-v2.2.45/layui.js"></script>
    <script type="text/javascript" src="/plugins/layui-v2.2.45/layui-mz-min.js"></script>
    <script type="text/javascript" src="/plugins/jqGrid-v5.2.1/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/plugins/jqGrid-v5.2.1/src/jquery.jqGrid.js"></script>
    <script type="text/ecmascript" src="/plugins/jqGrid-v5.2.1/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src='/common/js/myJqGridFUNC.js?v='></script>
    <script type="text/JavaScript" src="/common/js/common.js?v="></script>
    <script type="text/javascript" src='/plugins/jquery/jquery.timer.js'></script>
    <script type="text/javascript" src="/plugins/ui-choose/ui-choose.js"></script>
    <script type="text/javascript" src='/plugins/zTree_v3/js/jquery.ztree.core.js'></script>
    <script type="text/javascript" src='/plugins/zTree_v3/js/jquery.ztree.exhide.js'></script>
    <script type="text/javascript" src='/plugins/zTree_v3/demo/js/fuzzysearch.js'></script>
    <script type="text/javascript" src="/common/js/myZtreeFunc.js?v=2.66"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/common/css/global.css?v=" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/layui-v2.2.45/css/layui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/bootstrap-v3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/bootstrap-select/css/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/jqGrid-v5.2.1/css/ui.jqgrid-bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/ui-choose/css/ui-choose.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/zTree_v3/css/metroStyle/metroStyle.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/common/css/main.css?v=" />


    <style type="text/css">
        .layui-field-title {
            margin: 10px 0 0px;
        }
        .layui-field-title .layui-field-box {
            padding: 10px 0px 0px 0px;
        }
    </style>


</head>
<body>
<div class="container myContainer">
    <fieldset class="layui-elem-field layui-field-title field">
        <legend class="lgd">统计信息</legend>
        <div class="layui-field-box">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="小区总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${areaCount}">420</h1>
                            <span>小区总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="表资料总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${meterCount}">111812</h1>
                            <span>表档案总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="不良表总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${notOkCount}">5019</h1>
                            <span>不良表总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="失联表总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${notConnectedCount}">5390</h1>
                            <span>失联表总数（无线）</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="用户总量"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${userCount}">109450</h1>
                            <span>用户资料总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="集采器总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${ccentorCount}">7733</h1>
                            <span>集采器总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="集中器总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${centorCount}">95</h1>
                            <span>集中器总数</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="value tab-menu" style="width:100%;height:100%;background-color:#F5F5F5;border-left: 2px solid #009688;">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="采集器总数"><i class="iconfont " data-icon='&#xe672;'></i>
                            <h1 th:text="${collectorCount}">332</h1>
                            <span>采集器总数</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field layui-field-title field">
        <legend class="lgd">数据概览</legend>
        <div class="layui-field-box">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            表状态总览
                        </div>
                        <div class="panel-body">
                            <div id="meterState" style="height:300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            设备状态总览
                        </div>
                        <div class="panel-body">
                            <div id="deviceState" style="height:300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>


</div>

<div th:include="include :: footer"></div>

<script  type="text/javascript" th:inline="none">
    <!--在打开页面的同时直接从页面获取直接ajax从后台获取-->
    window.onload=function() {
        $.ajax({
            url: "/openMainHtml2"
            ,type: "POST"
            ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'

            ,success: function(data){


                layui.config({
                    base : '/common/js/',
                    version: ''
                }).extend({
                    myLayui: 'myLayui'
                });
                layui.use(['element','layer','myLayui'], function(){
                    var layer = layui.layer,
                        myLayui = layui.myLayui;
                    var _myLayui = new myLayui;
                    var areaId="";
                    var colorList1 = [
                        '#C0C0C0' //建档
                        ,'#FFA07A' //无返回
                        ,'#B87070' //失联
                        ,'#5FB878' //正常
                        ,'#FFCC00' //光通道干扰
                        ,'#FFFF00'	//强光干扰
                        ,'#CCCCFF'	//气泡干扰
                        ,'#9900CC' //通讯故障
                        ,'#C23531' //表具故障
                        ,'#FFC0CB' //异常
                        ,'#FF9900' //用量异常
                        ,'#6495ED' //开阀
                        ,'#808080' //关阀
                        ,'#D48265' //开阀故障
                        ,'#FF00CC' //关阀故障
                    ];
                    var legendData1 = data.stateNameList;
                    //var dataList1 = [[6000],[100],[100],[0],[100],[50],[150],[150],[100],[100],[4000],[1000],[100],[100]];

                    var dataList1 = [[data.meterStateCount[0]],[data.meterStateCount[1]],[data.meterStateCount[2]],
                        [data.meterStateCount[3]]
                        ,[data.meterStateCount[4]],[data.meterStateCount[5]],[data.meterStateCount[6]],[data.meterStateCount[7]]
                        ,[data.meterStateCount[8]],[data.meterStateCount[9]],[data.meterStateCount[10]],[data.meterStateCount[11]]
                        ,[data.meterStateCount[12]],[data.meterStateCount[13]],[data.meterStateCount[14]]
                    ];
                    var colorList2 = [
                        '#3CB371' //联机
                        ,'#D48265' //离线
                    ];
                    var dataList2 = [[data.centorStateCount[0]],[data.centorStateCount[1]],[data.collectorConnCount],[data.collectorDisConnCount]];
                    var option1 = {
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} : {c}",
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        legend: {
                            //formatter: function (name) {
                            //	return echarts.format.truncateText(name, 40, '14px Microsoft Yahei', '…');
                            //},
                            tooltip: {
                                show: false
                            },
                            //selectedMode: false,
                            data: legendData1.split(",")
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                dataView : {show: true, readOnly: false},
                                saveAsImage : {show: true}
                            },
                            top: 'middle',
                            orient: 'vertical'
                        },
                        label:{
                            emphasis:{
                                show: true
                            }
                        },
                        grid: {
                            left: '20px',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                data : ['']
                            }
                        ],
                        yAxis : [
                            {
                                name : "表档案数",
                                nameLocation : "middle",
                                nameGap : 35,
                                type : 'value',
                                max : data.meterCount,
                                axisLabel:{
                                    show: true,
                                    showMaxLabel: true
                                }
                            }
                        ],
                        series : [
                            //背景
                            /*{
                                name:'表档案总数',
                                type:'bar',
                                //颜色需要有透明度
                                //barGap: '-100%',
                                itemStyle: {normal: {color:'rgba(102, 102, 102,0.5)'}},
                                //data填你需要的背景的值
                                data:[6180]
                            },*/
                            {
                                name:'建档',
                                type:'bar',
                                stack: '表抄收状态',
                                data: dataList1[0],
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, meterCount=0;
                                            for(i=0; i<=2; i++){
                                                meterCount = meterCount+dataList1[i][0];
                                            }
                                            return "无数据表("+meterCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[0]
                                    }
                                }
                            },
                            {
                                name:'无返回',
                                type:'bar',
                                stack: '表抄收状态',
                                //barMaxWidth: '15%',
                                data: dataList1[1],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[1]
                                    }
                                }
                            },
                            {
                                name:'失联',
                                type:'bar',
                                stack: '表抄收状态',
                                data: dataList1[2],
                                //barMaxWidth: '15%',
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[2]
                                    }
                                }
                            },
                            {
                                name:'正常',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[3],
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, meterCount=0;
                                            for(i=3; i<=9; i++){
                                                meterCount = meterCount+dataList1[i][0];
                                            }
                                            return "表具状态("+meterCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[3],
                                    }

                                }
                            },
                            {
                                name:'光通道干扰',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[4],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[4]
                                    }
                                }
                            },
                            {
                                name:'强光干扰',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[5],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[5]
                                    }
                                }
                            },
                            {
                                name:'气泡干扰',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[6],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[6]
                                    }
                                }
                            },
                            {
                                name:'通讯故障',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[7],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[7]
                                    }
                                }
                            },
                            {
                                name:'表具故障',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[8],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[8]
                                    }
                                }
                            },
                            {
                                name:'异常',
                                type:'bar',
                                stack: '表具状态',
                                data: dataList1[9],
                                //barMaxWidth: '15%',
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[9]
                                    }
                                }
                            },
                            {
                                name:'用量异常',
                                type:'bar',
                                stack: '表用量状态',
                                data: dataList1[10],
                                //barMaxWidth: '15%',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, meterCount=0;
                                            for(i=10; i<=10; i++){
                                                meterCount = meterCount+dataList1[i][0];
                                            }
                                            return "表用量状态("+meterCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[10]
                                    }

                                }
                            },
                            {
                                name:'开阀',
                                type:'bar',
                                stack: '表阀门状态',
                                data: dataList1[11],
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, meterCount=0;
                                            for(i=11; i<=14; i++){
                                                meterCount = meterCount+dataList1[i][0];
                                            }
                                            return "表阀门状态("+meterCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[11]
                                    }

                                }
                            },
                            {
                                name:'关阀',
                                type:'bar',
                                stack: '表阀门状态',
                                data: dataList1[12],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[12]
                                    }
                                }
                            },
                            {
                                name:'开阀故障',
                                type:'bar',
                                stack: '表阀门状态',
                                data: dataList1[13],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[13]
                                    }
                                }
                            },
                            {
                                name:'关阀故障',
                                type:'bar',
                                stack: '表阀门状态',
                                barGap: '100%',
                                data: dataList1[14],
                                //barMaxWidth: '15%',
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList1[14]
                                    }
                                }
                            }
                        ]
                    };

                    var option2 = {
                        tooltip : {
                            trigger: 'item',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        legend: {
                            data:['集中器联机总数','集中器离线总数','采集器联通总数','采集器失联总数']
                            //,selectedMode: false
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                dataView : {show: true, readOnly: false},
                                saveAsImage : {show: true}
                            },
                            top: 'middle',
                            orient: 'vertical'
                        },
                        grid: {
                            left: '20px',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                data : ['']
                            }
                        ],
                        yAxis : [
                            {
                                name : "设备档案数",
                                nameLocation : "middle",
                                nameGap : 20,
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'集中器联机总数',
                                type:'bar',
                                stack: '集中器状态',
                                data: dataList2[0],
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, deviceCount=0;
                                            for(i=0; i<=1; i++){
                                                deviceCount = deviceCount+dataList2[i][0];
                                            }
                                            return "集中器状态("+deviceCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList2[0]
                                    }

                                }
                            },
                            {
                                name:'集中器离线总数',
                                type:'bar',
                                stack: '集中器状态',
                                data: dataList2[1],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList2[1]
                                    }

                                }
                            },
                            {
                                name:'采集器联通总数',
                                type:'bar',
                                stack: '采集器状态',
                                data: dataList2[2],
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom',
                                        textStyle: {
                                            color: '#666'
                                        },
                                        formatter: function(params) {
                                            var i, deviceCount=0;
                                            for(i=2; i<=3; i++){
                                                deviceCount = deviceCount+dataList2[i][0];
                                            }
                                            return "采集器状态("+deviceCount+")";
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        position: 'inside',
                                        formatter: function(params) {
                                            return params.value;
                                        }
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList2[0]
                                    }

                                }
                            },
                            {
                                name:'采集器失联总数',
                                type:'bar',
                                stack: '采集器状态',
                                barGap: '100%',
                                data: dataList2[3],
                                label: {
                                    normal: {
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle : {
                                    normal: {
                                        color: colorList2[1]
                                    }

                                }
                            }
                        ]
                    };
                    var layerIndex1 = "", layerIndex2 = "";
                    var initWidth = 900;
                    var initHeight = 400;
                    var width = "";
                    var height = "";

                    function showMeterStateList(meterState){
                        url = "/meter/meters_state_list?state="+ meterState
                        var size = _myLayui.initLayerSize(initWidth, initHeight);
                        width = size[0];
                        height = size[1];
                        layerIndex1 = top.layer.open({
                            type: 2 //iframe
                            ,title: '['+meterState+']状态表列表'
                            ,area: [width, height]
                            ,shade: 0
                            ,moveType: 0 //拖拽风格，0是默认，1是传统拖动
                            ,shift: 1 //0-6的动画形式，-1不开启
                            ,maxmin: true
                            ,fixed: true
                            ,content: url
                        });
                    }

                    function showDeviceStateList(deviceState){
                        url = "/equipment/centorz?state="+ deviceState
                        var size = _myLayui.initLayerSize(initWidth, initHeight);
                        width = size[0];
                        height = size[1];
                        layerIndex2 = top.layer.open({
                            type: 2 //iframe
                            ,id: 'deviceInfo'
                            ,title: '集中器采集器列表'
                            ,area: [width, height]
                            ,shade: 0
                            ,maxmin: true
                            ,content: url
                        });
                    }

                    var charts = new Array();
                    charts[0] = echarts.init(document.getElementById('meterState'));
                    charts[0].setOption(option1);
                    charts[1] = echarts.init(document.getElementById('deviceState'));
                    charts[1].setOption(option2);

                    //echarts相应式显示
                    $(window).resize(function(){
                        $(charts).each(function(index, chart){
                            chart.resize();
                        });

                        //top.$("#layui-layer"+layerIndex1).width('80%');
                        //top.$("#layui-layer"+layerIndex1).height('80%');
                        _myLayui.resizeLayer(layerIndex1, initWidth, initHeight);
                        _myLayui.resizeLayer(layerIndex2, initWidth, initHeight);
                    });
                    charts[0].on('click', function (params) {
                        if (params.componentType === 'markPoint') {
                            // 点击到了 markPoint 上
                            console.log('markPoint：'+params.seriesName);
                        }else if (params.componentType === 'series') {
                            // 点击到了 graph 的 node（节点）上。
                            //console.log(params.seriesName);
                            showMeterStateList(params.seriesName);
                        }
                    });
                    // 图例开关的行为只会触发 legendselectchanged 事件
                    charts[0].on('legendselectchanged', function (params) {
                        // 获取点击图例的选中状态
                        var isSelected = params.selected[params.name];
                        // 在控制台中打印
                        //console.log((isSelected ? '选中了' : '取消选中了') + '图例' + params.name);
                        // 打印所有图例的状态
                        //console.log(params.selected);
                        showMeterStateList(params.name);
                    });
                    charts[1].on('click', function (params) {
                        showDeviceStateList(params.seriesName);
                    });
                    // 图例开关的行为只会触发 legendselectchanged 事件
                    charts[1].on('legendselectchanged', function (params) {
                        showDeviceStateList(params.name);
                    });
                });
            }
        });
    }



</script>
</body>
</html>