<!DOCTYPE html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head title="用户账单" th:include="include :: header">

<body>

<div class="container myContainer">
    <div class="row my-form-no-edge">
        <div class="col-xs-12 my-form-no-edge">
            <span style="border-left: 2px solid green;padding-left:5px;">
                <!--这里设置隐藏域 -->
                <input id="custId" type="hidden" th:value="${HaCustomYuCunHuaFei.custId}">
             <b>
                用户编号:</b><b th:text="${HaCustomYuCunHuaFei.custNo}"></b><b>，
                用户名称:</b><b th:text="${HaCustomYuCunHuaFei.name}"></b><b>，
                性别:</b><b th:text="${HaCustomYuCunHuaFei.sex}"></b><b>，
                用户地址:</b><b th:text="${HaCustomYuCunHuaFei.userAddress}"></b><b>

            </b>
            </span>
        </div>
    </div>
    <div class="row my-form-no-edge" style="padding:5px 0px 5px 0px;">
        <div class="col-xs-3 my-form-col">
            <select id='query_type' class="selectpicker form-control" multiple data-style="btn-default btn-sm" title="选择查询类型">
                <option value=''>全部</option>
                <option value='收费'>收费</option>
                <option value='扣费'>扣费</option>
                <option value='退费'>退费</option>
                <option value='减免'>减免</option>
                <option value='恢复收费'>恢复收费</option>
            </select>
        </div>
        <div class="col-xs-3 my-form-col">
            <input id="date_range" class="input-sm form-control"  type="text" value='' readonly="readonly" placeholder="选择查询日期范围"/>
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div>
        <div class="my-btns pull-right" name="MngButtons" style="display:block;">
            <button data-modal="" data-title="恢复收费" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-remove-sign"></span> 恢复收费</button>
        </div>
    </div>
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>



<script language="JavaScript">
    layui.config({
        base : '/common/js/',
        version: '2.7.10'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'form', 'myLayui'], function(){
        var layer = layui.layer,
            myLayui = layui.myLayui,
            form = layui.form;

        $('#date_range').click(function(){
            var options = {};
            options.startDate = '';
            options.endDate = '';
            options.format_start = "YYYY-MM-DD";
            options.format_end = "YYYY-MM-DD";
            options.align="right";
            options.cb_add = function(p_value){
            };
            myData.DataRangePicker(this, "DateRange", options);
        });

        var Post_Data = {ListNumber: 48, optType: "", custId: $("#custId").val()};
        //console.log(Post_Data);
        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 152,"/selectYongHuZhangDan");
        GridObj.jqdefaultGridConfig.caption = "";
        GridObj.jqdefaultGridConfig.multiselect = false;
        GridObj.jqdefaultGridConfig.postData = Post_Data;
        //GridObj.jqdefaultGridConfig.colNames = [];
        GridObj.jqdefaultGridConfig.colModel = [
            {label:'bId', name: 'bid',  width: 75, key: true, hidden: true,frozen : true},
            {label:'操作', name: 'operaTion', cellattr: CustBillOptCellColor, width: 80 },
            {label:'金额', name: 'charge', align: 'right', width: 80 },
            {label:'当前余额', name: 'currentBalance', align: 'right', width: 80 },
            {label:'操作时间', name: 'optTime',width: 150 },
            {label:'操作人', name: 'caoZuoRen', width: 100 }
        ];

        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        //全文查找
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            if($("#query_type").val()!=null){
                var optType = $("#query_type").val().join(",");
            }
            var  _pdArray = "";
            var date_range = ['', ''];
            if($("#date_range").val())
                date_range = $("#date_range").val().split("~");
            console.log(optType);
            _pdArray = {
                "optType": optType,
                "startDate": date_range[0],
                "endDate": date_range[1]
            };
            fullTextSearch("jqGrid", _pdArray);
        });

        function submitInfo(postUrl, sendData){
            $.ajax({
                url: postUrl
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,data: sendData
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        layer.msg("操作成功！", {icon: 1});
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        var _myLayui = new myLayui;
        var get_result_url = "/cust_bill_operation_do"
        $(".my-btns .layui-btn").click(function(){
            var _this = this, _layerSize, _queryStr;
            var btnName = $(_this).data("title"), bId = GridObj.getSelRowIds();
            var b_isMultiIDs = isMultiIDs(bId);
            var rowData = "";
            if(btnName == "查询")
                return false;
            if(bId==""){
                layer.msg("请选择操作行", {icon: 5});
                return false;
            }
            if(b_isMultiIDs == true){
                bId=getLastMultiIDs("jqGrid");
                //layer.msg("只能单选", {icon: 5});
                //return false;
            }
            rowData = $("#jqGrid").jqGrid('getRowData', bId);

            switch(btnName) {
                case "恢复收费":


                    if(rowData["operaTion"]!="收费"){
                        layer.msg("只能对收费进行恢复", {icon: 5});
                        return false;
                    }
                    layer.confirm('确定要对本次收费进行误收费恢复吗？', {icon:3, title:'提示'},
                        function(index, layero){
                            var post_data = {
                                custId: $("#custId").val(),
                                optType: "恢复收费",
                                charge: rowData["currentBalance"],
                                optMan: "ha"
                            };
                            submitInfo(get_result_url, post_data);
                            layer.close(index);
                        });
                    break;
                default:
                    layer.msg("不支持的命令", {icon: 5});
                    break;
            }
        });
    });
</script>

</body>
</html>
