<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head title="用户账户" th:include="include :: header">
<body class="myPage-body">
<div class="container myContainer">
    <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
        <div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
            <input id="nodeType" type="text" class="input-sm form-control hide" value="">
            <input id="nodeIds" type="text" class="input-sm form-control hide" value="">
            <input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
            <div id="menuContent" class="menuContent">
                <div class="ztreeInput">
                    <div>
                        <input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
                    </div>
                    <div class="ztreeSkip">
                        <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                            <div class="ztreeSkipBtns">
                                <a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                <a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                            </div>
                            <label id="number" class="ztreeSkipNum"></label>
                        </label>
                    </div>
                </div>
                <ul id="areaTree" class="ztree"></ul>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="col-xs-2 my-form-col">
            <select id="balanceType" class="selectpicker form-control" data-style="btn-default btn-sm" data-size="5" title="请选择余额类型">
                <option value="all" selected>所有用户</option>
                <option value="arrearage">欠费用户</option>
                <option value="notArrearage">非欠费用户</option>
            </select>
        </div>
        <div class="col-xs-2 my-form-col">
            <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div>
        <div class="my-btns pull-right" name="MngButtons" style="display:block;">
            <button id="btn1" data-modal="" data-title="预存费用" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-usd"></span> 预存费用</button>
            <button id="btn2" data-modal="" data-title="查询账单" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-list-alt"></span> 查询账单</button>
            <button id="btn3" data-modal="" data-title="导入余额" class="layui-btn layui-btn-sm"><span class=" 	glyphicon glyphicon-import"></span> 导入余额</button>
        </div>
    </div>
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.config({
        base : '/common/js/',
        version: '2.8.2'
    }).extend({
        myLayui: 'myLayui'
    });
    var _myLayui = null;
    layui.use(['layer', 'form', 'myLayui'], function(){
        var layer = layui.layer,
            myLayui = layui.myLayui,
            form = layui.form;

        $('.selectpicker').selectpicker({
            actionsBox: true //保留全选,全不选按键
            ,noneSelectedText: '请选择'
            ,selectAllText: '选择所有'
            ,deselectAllText: '取消全选'
            ,liveSearchPlaceholder: '搜索'
            //,maxOptions: 10 //最多可选数
        });

        var Post_Data = {ListNumber: 47, TotalLocation: "用户编号", SumColName: "账户余额,最近费用,最近收费"};

        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 145,"/pay/yhzh/queryHaCustomList");
        //GridObj.jqdefaultGridConfig.caption = "用户余额：";
        GridObj.jqdefaultGridConfig.multiselect = true;
        GridObj.jqdefaultGridConfig.postData = Post_Data;
        //GridObj.jqdefaultGridConfig.colNames = [];
        GridObj.jqdefaultGridConfig.colModel = [

            {label:'custId', name: 'custId',  width: 75, key: true, hidden: true,frozen : true},
            {label:'用户编号', name: 'custNo', width: 120 ,frozen : true},
            {label:'用户名称', name: 'name', width: 150 ,frozen : true},
            {label:'性别', name: 'sex', width: 40 },
            {label:'用户地址', name: 'haArea.haName', width: 150 },
            {label:'账户余额', name: 'balance', formatter:'integer', align: 'right', width: 80 },
            {label:'最近费用', name: 'expense', align: 'right', width: 80 },
            {label:'最近扣费时间', name: 'paidTime', width: 150 },
            {label:'最近收费', name: 'recharge', align: 'right', width: 80 },
            {label:'最近收费时间', name: 'rechargeTime', width: 150 },
            {label:'手机号码', name: 'mobil', width: 120 },
            {label:'联系电话', name: 'tel', width: 120 },
            {label:'开户银行', name: 'bank', width: 80 },
            {label:'银行账户', name: 'account', width: 150 }

        ];
        GridObj.jqdefaultGridConfig.footerrow = true;
        GridObj.jqdefaultGridConfig.userDataOnFooter = true;
        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();

        var zOption = {
            url: "/nodes/getNodes",
            selectedMulti: true,
            nodeTypeId: "nodeType",
            nodeIdsId: "nodeIds",
            nodeNamesId: "areaSel",
            clickCallBack: ""
        };
        var tree = new myzTree("areaTree", zOption);
        tree.dropDownTreeOpen();
        tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
        $("#areaSel").click(function(){
            tree.showMenu();
        });

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        //全文查找
        $(".search").click(function(){
            var  _pdArray = "";
            _pdArray = {
                "keyWord": $("#keyWord").val(),
                "balanceType": $("#balanceType").val(),
                "nodeType": $("#nodeType").val(),
                "nodeIds": $("#nodeIds").val()
            };
            fullTextSearch("jqGrid", _pdArray);
        });
        _myLayui = new myLayui;
        $(".layui-btn-sm").mouseenter(function(){
            var btnName = $(this).data("title");
            switch(btnName){
                case "预存费用":
                    layer.tips('用于用户账户收费、退费和减免的操作', '#btn1', {tips: [4, '#222222']});
                    break;
                case "查询账单":
                    layer.tips('用于用户账户明细查询和误收费的恢复', '#btn2', {tips: [4, '#222222']});
                    break;
                case "导入余额":
                    layer.tips('通过excel文件批量导入用户余额', '#btn3', {tips: [4, '#222222']});
                    break;
                default:
                    break;
            }
        });
        $(".my-btns .layui-btn").click(function(){
            var _this = this, _layerSize, _queryStr;
            var btnName = $(_this).data("title"), custids = GridObj.getSelRowIds();
            var b_isMultiIDs = isMultiIDs(custids);
            if(custids=="" && btnName!="导入余额"){
                layer.msg("请选择操作行", {icon: 5});
                return false;
            }
            if(b_isMultiIDs == true && btnName!="导入余额"){
                custids=getLastMultiIDs("jqGrid");
                //layer.msg("只能单选", {icon: 5});
                //return false;
            }
            switch(btnName) {
                case "预存费用":
                    _layerSize = ['560px', '350px'];
                    _queryStr = [
                        "cmdName=预存费用",
                        "custId="+custids
                    ];
                    _myLayui.showLayer("预存费用","/opencust_bill_operation", _queryStr, _layerSize);
                    break;
                case "查询账单":
                    _layerSize = ['560px', '400px'];
                    _queryStr = [
                        "cmdName=查询账单",
                        "custId="+custids
                    ];
                    _myLayui.showLayer("查询账单","/cust_bill_list2", _queryStr, _layerSize);
                    break;
                case "导入余额":
                    _layerSize = ['560px', '400px'];
                    _queryStr = [
                        "cmdName=导入余额"
                    ];
                        _myLayui.showLayer("导入余额","/cust_balance_import", _queryStr, _layerSize);
                    break;
                default:
                    layer.msg("不支持的命令", {icon: 5});
                    break;
            }
        });
    });
</script>
</body>
</html>