<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="集采器抄控" th:include="include :: header"></head>

<body class="myPage-body">
<div class="container myContainer">
    <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
        <div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
            <input id="nodeType1" type="text" class="input-sm form-control hide" value="">
            <input id="nodeIds1" type="text" class="input-sm form-control hide" value="">
            <input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
            <div id="areaMenuContent" class="menuContent">
                <div class="ztreeInput">
                    <div>
                        <input type="text" class="input-key input-sm form-control" id="zTreeKey1" placeholder="请输入节点关键字">
                    </div>
                    <div class="ztreeSkip">
                        <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                            <div class="ztreeSkipBtns">
                                <a id="clickUp1" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                <a id="clickDown1" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                            </div>
                            <label id="number1" class="ztreeSkipNum"></label>
                        </label>
                    </div>
                </div>
                <ul id="areaTree" class="ztree"></ul>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="col-xs-2 my-form-col my-tree-class deviceTreeDiv">
            <input id="nodeType2" type="text" class="input-sm form-control hide" value="">
            <input id="nodeIds2" type="text" class="input-sm form-control hide" value="">
            <input id="deviceDescription" type="text" class="input-sm form-control hide" value="">
            <input id="deviceSel" name="deviceSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择设备---"/>
            <div id="deviceMenuContent" class="menuContent" style="overflow-x:auto;">
                <div class="ztreeInput">
                    <div>
                        <input type="text" class="input-key input-sm form-control" id="zTreeKey2" placeholder="请输入节点关键字">
                    </div>
                    <div class="ztreeSkip">
                        <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                            <div class="ztreeSkipBtns">
                                <a id="clickUp2" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                <a id="clickDown2" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                            </div>
                            <label id="number2" class="ztreeSkipNum"></label>
                        </label>
                    </div>
                </div>
                <ul id="deviceTree" class="ztree"></ul>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="col-xs-2 my-form-col">
            <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div>
    </div>
    <div class="row" style="margin:0;padding:0px 0px 5px 0px;">
        <div class="col-xs-12 my-form-no-edge btns centorcBtns">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="多表抄收">多表抄收</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="刷新数据">刷新数据</button>
                <button class="layui-btn layui-btn-sm" data-title="搜寻表具">搜寻表具</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="读设备地址">读设备地址</button>
                <button class="layui-btn layui-btn-sm" data-title="读表具总数">读表具总数</button>
                <button class="layui-btn layui-btn-sm" data-title="读IP端口">读IP端口</button>
                <button class="layui-btn layui-btn-sm" data-title="读心跳周期">读心跳周期</button>
                <button class="layui-btn layui-btn-sm" data-title="读刷新数据间隔">读刷新数据间隔</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="设心跳周期">设心跳周期</button>
                <button class="layui-btn layui-btn-sm" data-title="设刷新数据间隔">设刷新数据间隔</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="加全部表">加全部表</button>
                <button class="layui-btn layui-btn-sm" data-title="读IMSI/IMEI">读IMSI/IMEI</button>
            </div>
        </div>
        <div class="col-xs-12 my-form-no-edge btns meterBtns">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm meterOp" data-title="单表抄表">单表抄收</button>
                <button class="layui-btn layui-btn-sm meterOp" data-title="关阀">单表关阀</button>
                <button class="layui-btn layui-btn-sm meterOp" data-title="开阀">单表开阀</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm meterOp" data-title="加表">加表</button>
                <button class="layui-btn layui-btn-sm meterOp" data-title="删表">删表</button>
            </div>
        </div>
    </div>
    <div class="row my-form-no-edge">
        <div class="col-xs-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm1" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>

</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.config({
        base : '/common/js/',
        version: [[${version}]]
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'element', 'myLayui'], function(){
        var layer = layui.layer,
            element = layui.element,
            myLayui = layui.myLayui;

        function gridChange(){
            var nodeType = $('#nodeType1').val() ? $('#nodeType1').val() : "allRgn";
            var nodeIds = $('#nodeIds1').val();
            var deviceType = $('#nodeType2').val() ? $('#nodeType2').val() : "allCentor";
            var deviceId = $('#nodeIds2').val();
            $(".btns").hide();
            if($(".layui-btn-group .layui-btn").hasClass("layui-btn-disabled")){
                $(".layui-btn-group .layui-btn").removeClass("layui-btn-disabled");
            }

            if(deviceType == "allCentor"){
                $(".centorcBtns").show();

                var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 180,'/equipment/collector/centorcListJson');
                GridObj.unloadGrid();
                GridObj.removeGridResize();
                GridObj.jqdefaultGridConfig.caption = "";
                GridObj.jqdefaultGridConfig.multiselect = true;
                GridObj.jqdefaultGridConfig.postData = {"params[nodeType]": nodeType, "params[nodeIds]": nodeIds,"params[exportType]":"1"};
                GridObj.jqdefaultGridConfig.colNames = ['id','编号','设备号','安装地点','连接说明','状态','总表数','读入表数','建档表数','无返回表数','最近联断时间','信号强度','电池电压','版本','备注','拨号号码','安装时间'];
                GridObj.jqdefaultGridConfig.colModel = [
                    { name: 'id',  width: 75, key: true, hidden: true},
                    { name: 'centorNo', width: 100 },
                    { name: 'centorId', width: 90 },
                    { name: 'addr', width: 200 },
                    { name: 'description', width: 110 },
                    { name: 'state', width: 50, cellattr: deviceStateCellColor },
                    { name: 'zbs', width: 75, align: 'right' },
                    { name: 'meters', width: 75, align: 'right', cellattr: compareMetersCellColor},
                    { name: 'jdbs', width: 75, align: 'right' },
                    { name: 'wfhbs', width: 80, align: 'right' },
                    { name: 'lastStateChangeTime', width: 150 },
                    { name: 'xhqd', width: 75, align: 'right' },
                    { name: 'dcdy', width: 80, align: 'right' },
                    //{ name: '固定抄表时间', width: 100 },
                    { name: 'ver', width: 70 },
                    { name: 'remark', width: 100 },
                    { name: 'telNumber', width: 100 },
                    { name: 'setupTime', width: 100 }
                ];
                GridObj.jqdefaultGridConfig.footerrow = true;
                GridObj.jqdefaultGridConfig.userDataOnFooter = true;
                GridObj.drawGrid();
                GridObj.drawGridPager();
                GridObj.setGridSize();
                GridObj.gridResize();
            }else if(deviceType == "centorc"){
                $(".meterBtns").show();

                var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 180,'/equipment/collector/centorcByQueryIdListJson');
                GridObj.unloadGrid();
                GridObj.removeGridResize();
                GridObj.jqdefaultGridConfig.caption = "";
                GridObj.jqdefaultGridConfig.multiselect = true;
                GridObj.jqdefaultGridConfig.postData = {"centorId": deviceId,"params[exportType]":"2"};
                GridObj.jqdefaultGridConfig.colNames = ['meterId','centorId','centorAddr','用户编号','用户名称','用户地址','表号','上期结算','最近读数','本期用量','表状态','最近抄表时间','操作结果'];
                GridObj.jqdefaultGridConfig.colModel = [
                    { name: 'havMeterinfo.meterId',  width: 75, key: true, hidden: true},
                    { name: 'centorId',  width: 75, hidden: true},
                    { name: 'centorAddr',  width: 75, hidden: true},
                    { name: 'havMeterinfo.userNo', width: 120 },
                    { name: 'havMeterinfo.userName', width: 120 },
                    { name: 'havMeterinfo.userDs', width: 200 },
                    { name: 'havMeterinfo.meterNumber', align: 'right', width: 120 },
                    { name: 'havMeterinfo.lfNumber', align: 'right' ,width: 80 },
                    { name: 'havMeterinfo.thNumber', align: 'right' ,width: 80 },
                    { name: 'havMeterinfo.snumber', width: 80, align: 'right' },
                    { name: 'havMeterinfo.state', width: 80, cellattr: MeterStateCellColor },
                    { name: 'havMeterinfo.thRTime', width: 150 },
                    { name: '操作结果', width: 100 }
                ];
                GridObj.jqdefaultGridConfig.footerrow = true;
                GridObj.jqdefaultGridConfig.userDataOnFooter = true;
                GridObj.drawGrid();
                GridObj.drawGridPager();
                GridObj.setGridSize();
                GridObj.gridResize();
            }
        }
        function pageInit(){
            $("#nodeType1").val("");
            $("#nodeIds1").val("");
            $("#nodeType2").val("");
            $("#nodeIds2").val("");
            $("#areaSel").val("");
            $("#deviceSel").val("");
            gridChange();
        }

        function reloadDeviceNodes(){
            var treePostData = {
                areaType: $("#nodeType1").val(),
                id: $("#nodeIds1").val(),
                deviceType: "centor"
            };
            tree2.postData = treePostData;
            tree2.reloadZtreeNodes();

            $("#nodeType2").val("");
            $("#nodeIds2").val("");
            $("#deviceSel").val("");
            gridChange();
        }

        var zOption1 = {
            url: "/nodes/getAreaNodes",
            selectedMulti: true,
            nodeTypeId: "nodeType1",
            nodeIdsId: "nodeIds1",
            nodeNamesId: "areaSel",
            treeFormClass: "areaTreeDiv",
            inputSelId: "areaSel",
            menuId: "areaMenuContent",
            clickCallBack: reloadDeviceNodes
        };
        var tree1 = new myzTree("areaTree", zOption1);
        tree1.dropDownTreeOpen();
        tree1.fuzzySearch("zTreeKey1", "clickUp1", "clickDown1", "number1");
        $("#areaSel").click(function(){
            tree1.showMenu();
        });

        var zOption2 = {
            url: "/nodes/getEquipmentCentorcNodes",
            selectedMulti: false,
            nodeTypeId: "nodeType2",
            nodeIdsId: "nodeIds2",
            nodeNamesId: "deviceSel",
            deviceDescriptionId: "deviceDescription",
            treeFormClass: "deviceTreeDiv",
            inputSelId: "deviceSel",
            menuId: "deviceMenuContent",
            postData: {
                deviceType: "centor"
            },
            clickCallBack: gridChange
        };
        var tree2 = new myzTree("deviceTree", zOption2);
        tree2.dropDownTreeOpen();
        tree2.fuzzySearch("zTreeKey2", "clickUp2", "clickDown2", "number2");
        $("#deviceSel").click(function(){
            tree2.showMenu();
        });
        pageInit();

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            var  _pdArray = {
                "params[keyWord]": $("#keyWord").val()
            };
            var deviceType = $('#nodeType2').val();
            var deviceId = $('#nodeId2').val();
            if(!deviceType || deviceType == "allCCentor"){
                _pdArray["params[nodeType]"] = $("#nodeType1").val();
                _pdArray["params[nodeIds]"] = $("#nodeIds1").val();
            }
            fullTextSearch("jqGrid", _pdArray);
        });

        _myLayui = new myLayui;
        var get_cmdid_url="/smallbox/haCmd/cmdAdd";
        var get_result_url = "/smallbox/haCmd/getCmdAjax";
        var g_cmd = "";
        var cmdsManage = function(cmdName, gridId, rowIds, index){
            this.cmdName = cmdName;
            this.gridId = gridId;
            this.rowIds = rowIds;
            this.index = index;
            this.get_result_timer = this.generate_timer();
        };
        cmdsManage.prototype.generate_timer = function(){
            var _this = this;
            return $.timer(function(){
                var selRowId = _this.rowIds[_this.index];
                $.get(get_result_url,
                    {cmdid: _this.cmdid},
                    function(data,status){
                        if (status == "success"){
                            var n, state, processing, s;
                            s = unescape(data);
                            n = s.indexOf(":");
                            if (n > 1){
                                state = s.substr(0,n);
                                processing = s.substr(n+1);
                            }else{
                                processing = s;
                            }
                            if ((state == "完成") || (state == "失败")){
                                if(state == "完成"){
                                    processing = "<span class='fontGreen'>"+_this.cmdName+"成功</span>";
                                }else{
                                    processing = "<span class='fontRed'>"+_this.cmdName+"失败</span>";
                                }
                                _this.get_result_timer.stop();
                                $("#"+_this.gridId).setRowData(selRowId,{"操作结果": processing});
                                _this.index ++;
                                _this.loadCmd();
                            }
                        }
                    }
                );
            });
        }
        cmdsManage.prototype.loadCmd = function(){
            var _this = this, cmdName = _this.cmdName, cmd = "";
            var selRowId = _this.rowIds[_this.index];
            if(selRowId != "" && selRowId != undefined){
                $(".layui-btn-group .layui-btn").addClass("layui-btn-disabled");
            }else{
                $(".layui-btn-group .layui-btn").removeClass("layui-btn-disabled");
                if($("#deviceDescription").val() != "KT3NB GPRS"){
                    $(".layui-btn-group .layui-btn[data-title='加全部表']").addClass("layui-btn-disabled");
                    $(".layui-btn-group .layui-btn[data-title='删全部表']").addClass("layui-btn-disabled");
                }
                return false;
            }
            var rowData = $("#"+_this.gridId).jqGrid('getRowData', selRowId);
            var deviceDescription = $("#deviceDescription").val();
            switch(cmdName){
                case "单表抄表":
                case "关阀":
                case "开阀":
                    cmd = cmdName +":"+ rowData["haMeter.havMeterinfo.meterNumber"];
                    break;
                case "加表":
                    cmd = cmdName +":"+ rowData["resultParams.centorAddr"] +","+ rowData["haMeter.havMeterinfo.meterNumber"];
                    if(deviceDescription == "KT3NB GPRS"){
                        for(var i=_this.index+1; i<_this.rowIds.length; i++){
                            rowData = $("#"+_this.gridId).jqGrid('getRowData', _this.rowIds[i]);
                            cmd = cmd +","+ rowData["haMeter.havMeterinfo.meterNumber"];
                        }
                        _this.rowIds.length = 1;
                    }
                    break;
                case "删表":
                    cmd = cmdName +":"+ rowData["resultParams.centorAddr"] +","+ rowData["haMeter.havMeterinfo.meterNumber"];
                    break;
                default:
                    cmd = cmdName +":"+ "0";
                    break;
            }
            $.ajax({
                url: get_cmdid_url
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,data: {
                    centorid: rowData["centorId"]
                    ,cmd: cmd
                }
                ,async:false //同步请求
                ,success: function(data){
                    if(!isNaN(data)){
                        $("#"+_this.gridId).setRowData(selRowId,{"操作结果":"<img src="+"/images/loading-0.gif"+" />"});
                        _this.cmdid = data;
                        _this.get_result_timer.set({time: 3*1000, autostart: true});
                    }else{
                        $("#"+_this.gridId).setRowData(selRowId,{"操作结果": data});
                        _this.index ++;
                        _this.loadCmd();
                    }
                }
            });
        }
        var cmdsObj = new cmdsManage("", "jqGrid", "", 0);

        $(".layui-btn").click(function(){
            if($(this).hasClass("layui-btn-disabled")){
                return false;
            }
            var cmdName = $(this).data("title");
            var deviceType = $("#nodeType2").val() ? $("#nodeType2").val() : "allCCentor";
            //var deviceId = $("#nodeId2").val();
            var rowIds = getSelectedRows("jqGrid");
            var b_isMultiIDs = isMultiIDs(rowIds);

            if (cmdName.indexOf("查询")>=0){
                return false;
            }

            if(rowIds == ""){
                layer.msg("请选择操作行！", {icon: 5});
                return false;
            }
            if(b_isMultiIDs == true && cmdName.indexOf("设置设备地址")>=0){
                rowIds=getLastMultiIDs("jqGrid");
                //layer.msg("只能单选！", {icon: 5});
                //return false;
            }
            if((cmdName == "加表" || cmdName == "删表") && rowIds.split(",").length>5){
                layer.msg("一次最多只能选择5条表资料！", {icon: 5});
                return false;
            }

            if(deviceType == "allCCentor"){
                _layerSize = ['455px', '360px'];
                _queryStr = [
                    "deviceType=centorc",
                    "cmdName="+cmdName,
                    "ids="+rowIds
                ];
                _myLayui.showLayer(cmdName,"/equipment/concentrator/deviceMng", _queryStr, _layerSize);
            }else{
                cmdsObj.cmdName = cmdName;
                cmdsObj.rowIds = rowIds.split(",");
                cmdsObj.index = 0;
                cmdsObj.loadCmd();
            }
        });
    });
</script>
</body></html>