<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="集中器抄控" th:include="include :: header"></head>

<body class="myPage-body" style="">
<div class="container myContainer">
    <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
        <div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
            <input id="nodeType1" type="text" class="input-sm form-control hide" value="">
            <input id="nodeIds1" type="text" class="input-sm form-control hide" value="4">
            <input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
            <div id="areaMenuContent" class="menuContent">
                <div class="ztreeInput">
                    <div>
                        <input type="text" class="input-key input-sm form-control" id="zTreeKey1" placeholder="请输入节点关键字">
                    </div>
                    <div class="ztreeSkip">
                        <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                            <div class="ztreeSkipBtns">
                                <a id="clickUp1" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                <a id="clickDown1" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                            </div>
                            <label id="number1" class="ztreeSkipNum"></label>
                        </label>
                    </div>
                </div>
                <ul id="areaTree" class="ztree"></ul>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="col-xs-2 my-form-col my-tree-class deviceTreeDiv">
            <input id="nodeType2" type="text" class="input-sm form-control hide" value="">
            <input id="nodeIds2" type="text" class="input-sm form-control hide" value="">
            <input id="deviceDescription" type="text" class="input-sm form-control hide" value="">
            <input id="deviceSel" name="deviceSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择设备---"/>
            <div id="deviceMenuContent" class="menuContent" style="overflow-x:auto;">
                <div class="ztreeInput">
                    <div>
                        <input type="text" class="input-key input-sm form-control" id="zTreeKey2" placeholder="请输入节点关键字">
                    </div>
                    <div class="ztreeSkip">
                        <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                            <div class="ztreeSkipBtns">
                                <a id="clickUp2" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                <a id="clickDown2" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                            </div>
                            <label id="number2" class="ztreeSkipNum"></label>
                        </label>
                    </div>
                </div>
                <ul id="deviceTree" class="ztree"></ul>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="col-xs-2 my-form-col">
            <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div>
    </div>
    <div class="row" style="margin:0;padding:0px 0px 5px 0px;">
        <div class="col-xs-12 my-form-no-edge btns centorBtns">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="多表抄收">多表抄收</button>
                <button class="layui-btn layui-btn-sm" data-title="抄日冻结">抄日冻结</button>
                <button class="layui-btn layui-btn-sm" data-title="抄月冻结">抄月冻结</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="读采集器列表">读采集器列表</button>
                <button class="layui-btn layui-btn-sm" data-title="读采集中继表">读采集中继表</button>
                <button class="layui-btn layui-btn-sm" data-title="读集中器时钟">读集中器时钟</button>
                <button class="layui-btn layui-btn-sm" data-title="读取参数">读取参数</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="集中器校时">集中器校时</button>
                <button class="layui-btn layui-btn-sm" data-title="设置参数">设置参数</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="重启集中器">重启集中器</button>
            </div>
        </div>
        <div class="col-xs-12 my-form-no-edge btns collectorBtns" style="display:none;">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="刷新采集器">刷新采集器</button>
                <button class="layui-btn layui-btn-sm" data-title="读采集器状态">读采集器状态</button>
                <button class="layui-btn layui-btn-sm" data-title="初始化采集器">初始化采集器</button>
                <button class="layui-btn layui-btn-sm" data-title="采集器寻表">采集器寻表</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="加采集器">加采集器地址</button>
                <button class="layui-btn layui-btn-sm" data-title="删采集器">删采集器地址</button>
            </div>
        </div>
        <div class="col-xs-12 my-form-no-edge btns meterBtns" style="display:none;">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="单表抄表">单表抄收</button>
                <button class="layui-btn layui-btn-sm" data-title="关阀">单表关阀</button>
                <button class="layui-btn layui-btn-sm" data-title="开阀">单表开阀</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="集中器加表">集中器加表</button>
                <button class="layui-btn layui-btn-sm" data-title="删除表">集中器删表</button>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" data-title="采集器加表">采集器加表</button>
                <button class="layui-btn layui-btn-sm" data-title="采集器删表">采集器删表</button>
            </div>
        </div>
    </div>
    <div class="row my-form-no-edge">
        <div class="col-xs-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm1" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script>
    layui.config({
        base : '/common/js/',
        version: '2.8.2'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'element', 'myLayui'], function(){
        var layer = layui.layer,
            element = layui.element,
            myLayui = layui.myLayui;

        function gridChange(){
            var nodeType = $('#nodeType1').val() ? $('#nodeType1').val() : "allRgn";
            var nodeIds = $('#nodeIds1').val();
            var deviceType = $('#nodeType2').val() ? $('#nodeType2').val() : "allCentor";
            var deviceId = $('#nodeIds2').val();
            $(".btns").hide();
            if($(".layui-btn-group .layui-btn").hasClass("layui-btn-disabled")){
                $(".layui-btn-group .layui-btn").removeClass("layui-btn-disabled");
            }

            if(deviceType == "allCentor"){
                $(".centorBtns").show();

                var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 180,'/equipment/centorzListJson');
                GridObj.unloadGrid();
                GridObj.removeGridResize();
                GridObj.jqdefaultGridConfig.caption = "";
                GridObj.jqdefaultGridConfig.multiselect = true;
                GridObj.jqdefaultGridConfig.postData = {"params[nodeType]": nodeType, "params[nodeIds]": nodeIds};
                GridObj.jqdefaultGridConfig.colNames = ['id','编号','设备区域号','设备地址','安装地点','连接说明','状态','总表数','读入表数','建档表数','无返回表数','最近联断时间','版本','备注','拨号号码','安装时间'];
                GridObj.jqdefaultGridConfig.colModel = [
                    { name: 'id',  width: 75, key: true, hidden: true},
                    { name: 'centorNo', width: 100 },
                    { name: 'resultParams.centorAreaNo', width: 90 },
                    { name: 'resultParams.centorDs', width: 80 },
                    { name: 'addr', width: 200 },
                    { name: 'description', width: 110 },
                    { name: 'state', width: 50, cellattr: deviceStateCellColor },
                    { name: 'resultParams.zbs', width: 75, align: 'right' },
                    { name: 'resultParams.meters', width: 75, align: 'right', cellattr: compareMetersCellColor},
                    { name: 'resultParams.jdbs', width: 75, align: 'right' },
                    { name: 'resultParams.wfhbs', width: 80, align: 'right' },
                    { name: 'lastStateChangeTime', width: 150 },
                    //{ name: '固定抄表时间', width: 100 },
                    { name: 'ver', width: 70 },
                    { name: 'remark', width: 100 },
                    { name: 'telNumber', width: 100 },
                    { name: 'setupTime', width: 100 }
                ];
                GridObj.jqdefaultGridConfig.footerrow = true;
                GridObj.jqdefaultGridConfig.userDataOnFooter = true;
                GridObj.drawGrid();
                GridObj.drawGridPager();
                GridObj.setGridSize();
                GridObj.gridResize();
            }else if(deviceType == "centorz"){
                $(".collectorBtns").show();

                var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 180,'/equipment/centorzByIdListJson');
                GridObj.unloadGrid();
                GridObj.removeGridResize();
                GridObj.jqdefaultGridConfig.caption = "";
                GridObj.jqdefaultGridConfig.multiselect = true;
                GridObj.jqdefaultGridConfig.postData = {"centorId": deviceId};
                GridObj.jqdefaultGridConfig.colNames = ['collectorId','centorid','现设备地址','原设备地址','安装地点','版本','表总数','读入表数','建档状态数','无返回表数','状态','中继路由','操作结果'];
                GridObj.jqdefaultGridConfig.colModel = [
                    { name: 'haCollector.collectorId',  width: 75, key: true, hidden: true},
                    { name: 'haCollector.haCentor.id',  width: 75, hidden: true},
                    { name: 'resultParams.nconf', align: 'right' ,width: 85 },
                    { name: 'resultParams.oconf', align: 'right' ,width: 85 },
                    { name: 'addr', width: 200 },
                    { name: 'ver' ,width: 80 },
                    { name: 'resultParams.zbs', width: 60, align: 'right' },
                    { name: 'resultParams.meters', width: 80, align: 'right', cellattr: compareMetersCellColor },
                    { name: 'resultParams.jdbs', width: 90, align: 'right', cellattr: greatThen0CellColor },
                    { name: 'resultParams.wfhbs', width: 90, align: 'right', cellattr: greatThen0CellColor},
                    { name: 'state', width: 80, cellattr: collectorStateCellColor },
                    { name: 'routers', width: 140 },
                    { name: '操作结果', width: 100 }
                ];
                GridObj.jqdefaultGridConfig.footerrow = true;
                GridObj.jqdefaultGridConfig.userDataOnFooter = true;
                GridObj.drawGrid();
                GridObj.drawGridPager();
                GridObj.setGridSize();
                GridObj.gridResize();
            }else if(deviceType == "collector"){
                $(".meterBtns").show();

                var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 180,'/equipment/centorcByQueryIdListJson');
                GridObj.unloadGrid();
                GridObj.removeGridResize();
                GridObj.jqdefaultGridConfig.caption = "";
                GridObj.jqdefaultGridConfig.multiselect = true;
                GridObj.jqdefaultGridConfig.postData = {"haCollector.collectorId": deviceId};
                GridObj.jqdefaultGridConfig.colNames = ['meterId','centorId','collectorAddr','用户编号','用户名称','用户地址','表号','上期结算','最近读数','本期用量','表状态','最近抄表时间','操作结果'];
                GridObj.jqdefaultGridConfig.colModel = [
                    { name: 'haMeter.meterId',  width: 75, key: true, hidden: true},
                    { name: 'haMeter.haCentor.id',  width: 75, hidden: true},
                    { name: 'resultParams.collectorAddr',  width: 75, hidden: true},
                    { name: 'haMeter.havMeterinfo.userNo', width: 120 },
                    { name: 'haMeter.havMeterinfo.userName', width: 120 },
                    { name: 'haMeter.havMeterinfo.userDs', width: 200 },
                    { name: 'haMeter.havMeterinfo.meterNumber', align: 'right', width: 120 },
                    { name: 'haMeter.lfNumber', align: 'right' ,width: 80 },
                    { name: 'haMeter.thNumber', align: 'right' ,width: 80 },
                    { name: 'haMeter.sNumber', width: 80, align: 'right' },
                    { name: 'haMeter.state', width: 80, cellattr: MeterStateCellColor },
                    { name: 'haMeter.thRTime', width: 150 },
                    { name: '操作结果', width: 100 }
                ];
                GridObj.jqdefaultGridConfig.footerrow = true;
                GridObj.jqdefaultGridConfig.userDataOnFooter = true;
                GridObj.drawGrid();
                GridObj.drawGridPager();
                GridObj.setGridSize();
                GridObj.gridResize();
            }
        }
        function pageInit(){
            $("#nodeType1").val("");
            $("#nodeIds1").val("");
            $("#nodeType2").val("");
            $("#nodeIds2").val("");
            $("#areaSel").val("");
            $("#deviceSel").val("");
            gridChange();
        }

        function reloadDeviceNodes(){
            var treePostData = {
                "params[areaType]": $("#nodeType1").val(),
                "params[id]": $("#nodeIds1").val()
            };
            tree2.postData = treePostData;
            tree2.reloadZtreeNodes();

            $("#nodeType2").val("");
            $("#nodeIds2").val("");
            $("#deviceSel").val("");
            gridChange();
        }

        var zOption1 = {
            url: "/nodes/getEquipmentNodes",
            selectedMulti: true,
            nodeTypeId: "nodeType1",
            nodeIdsId: "nodeIds1",
            nodeNamesId: "areaSel",
            treeFormClass: "areaTreeDiv",
            inputSelId: "areaSel",
            menuId: "areaMenuContent",
            clickCallBack: reloadDeviceNodes
        };
        var tree1 = new myzTree("areaTree", zOption1);
        tree1.dropDownTreeOpen();
        tree1.fuzzySearch("zTreeKey1", "clickUp1", "clickDown1", "number1");
        $("#areaSel").click(function(){
            tree1.showMenu();
        });

        var zOption2 = {
            url: "/nodes/getEquipmentCentorzNodes",
            selectedMulti: false,
            nodeTypeId: "nodeType2",
            nodeIdsId: "nodeIds2",
            nodeNamesId: "deviceSel",
            deviceDescriptionId: "deviceDescription",
            treeFormClass: "deviceTreeDiv",
            inputSelId: "deviceSel",
            menuId: "deviceMenuContent",
            postData: {
                deviceType: "centor"
            },
            clickCallBack: gridChange
        };
        var tree2 = new myzTree("deviceTree", zOption2);
        tree2.dropDownTreeOpen();
        tree2.fuzzySearch("zTreeKey2", "clickUp2", "clickDown2", "number2");
        $("#deviceSel").click(function(){
            tree2.showMenu();
        });
        pageInit();

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            var _pdArray = {
                "params[keyWord]": $("#keyWord").val()
            };
            var deviceType = $('#nodeType2').val();
            var deviceId = $('#nodeId2').val();
            if(!deviceType || deviceType == "allCentor"){
                _pdArray["params[nodeType]"] = $("#nodeType1").val();
                _pdArray["params[nodeIds]"] = $("#nodeIds1").val();
            }else if(deviceType == "collector"){
                _pdArray["centorId"] = deviceId;
            }else if(deviceType == "meter"){
                _pdArray["haCollector.collectorId"] = deviceId;
            }
            fullTextSearch("jqGrid", _pdArray);
        });

        _myLayui = new myLayui;
        var get_cmdid_url="../datamng/ha_cmd/cmd_add_do.asp";
        var get_result_url = "../datamng/ha_cmd/cmd_ajax_get.asp";
        var g_cmd = "";
        var cmdsManage = function(cmdName, gridId, rowIds, index){
            this.cmdName = cmdName;
            this.gridId = gridId;
            this.rowIds = rowIds;
            this.index = index;
            this.get_result_timer = this.generate_timer();
        };
        cmdsManage.prototype.generate_timer = function(){
            var _this = this;
            return $.timer(function(){
                var selRowId = _this.rowIds[_this.index];
                $.get(get_result_url,
                    {cmdid: _this.cmdid},
                    function(data,status){
                        if (status == "success"){
                            var n, state, processing, s;
                            s = unescape(data);
                            n = s.indexOf(":");
                            if (n > 1){
                                state = s.substr(0,n);
                                processing = s.substr(n+1);
                            }else{
                                processing = s;
                            }
                            if ((state == "完成") || (state == "失败")){
                                if(state == "完成"){
                                    processing = "<font color='green'>"+_this.cmdName+"成功</font>";
                                }else{
                                    processing = "<font color='red'>"+_this.cmdName+"失败</font>";
                                }
                                _this.get_result_timer.stop();
                                $("#"+_this.gridId).setRowData(selRowId,{"操作结果": processing});
                                _this.index ++;
                                _this.loadCmd();
                            }
                        }
                    }
                );
            });
        }
        cmdsManage.prototype.loadCmd = function(){
            var _this = this, cmdName = _this.cmdName, cmd = "";
            var selRowId = _this.rowIds[_this.index];
            //console.log("cmdName", cmdName);
            //console.log("selRowId", selRowId);
            if(selRowId != "" && selRowId != undefined){
                $(".layui-btn-group .layui-btn").addClass("layui-btn-disabled");
            }else{
                $(".layui-btn-group .layui-btn").removeClass("layui-btn-disabled");
                return false;
            }
            var rowData = $("#"+this.gridId).jqGrid('getRowData', selRowId);
            switch(cmdName){
                case "刷新采集器":
                case "读采集器状态":
                case "初始化采集器":
                case "采集器寻表":
                case "加采集器":
                case "删采集器":
                    cmd = cmdName +":"+ rowData["现设备地址"];
                    break;
                case "单表抄表":
                case "关阀":
                case "开阀":
                    cmd = cmdName +":"+ rowData["表号"];
                    break;
                case "集中器加表":
                case "删除表":
                    cmd = cmdName +":"+ "10"+","+rowData["表号"]+","+rowData["collectorAddr"];
                    break;
                case "采集器加表":
                case "采集器删表":
                    cmd = cmdName +":"+ rowData["collectorAddr"] +","+ rowData["表号"];
                    break;
                default:
                    cmd = cmdName +":"+ "0";
                    break;
            }
            $.ajax({
                url: get_cmdid_url
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,data: {
                    centorid: rowData["centorid"]
                    ,cmd: cmd
                }
                ,async:false //同步请求
                ,success: function(data){
                    if(!isNaN(data)){
                        $("#"+_this.gridId).setRowData(selRowId,{"操作结果":"<img src='http://localhost:8877/images/loading-0.gif'/>"});
                        _this.cmdid = data;
                        _this.get_result_timer.set({time: 3*1000, autostart: true});
                    }else{
                        $("#"+_this.gridId).setRowData(selRowId,{"操作结果": data});
                        _this.index ++;
                        _this.loadCmd();
                    }
                }
            });
        }
        var cmdsObj = new cmdsManage("", "jqGrid", "", 0);

        $(".layui-btn").click(function(){
            if($(this).hasClass("layui-btn-disabled")){
                return false;
            }
            var cmdName = $(this).data("title");
            var deviceType = $("#nodeType2").val() ? $("#nodeType2").val() : "allCentor";
            //var deviceId = $("#nodeId2").val();
            var rowIds = getSelectedRows("jqGrid");
            var b_isMultiIDs = isMultiIDs(rowIds);
            var rowData = "";

            if (cmdName.indexOf("查询")>=0){
                return false;
            }

            if(rowIds == ""){
                layer.msg("请选择操作行！", {icon: 5});
                return false;
            }
            if(b_isMultiIDs == true && (cmdName.indexOf("设置参数")>=0 || cmdName.indexOf("集中器校时")>=0)){
                rowIds=getLastMultiIDs("jqGrid");
                //layer.msg("只能单选！", {icon: 5});
                //return false;
            }
            if(cmdName.indexOf("读取参数")>=0 || cmdName.indexOf("设置参数")>=0){
                rowData = $("#jqGrid").jqGrid('getRowData', rowIds);
                if(rowData["连接说明"].substr(0, 5) == "KT4EW"){
                    layer.msg("不支持的命令！", {icon: 5});
                    return false;
                }
            }

            if(deviceType == "allCentor"){
                _layerSize = ['455px', '360px'];
                if(cmdName.indexOf("集中器校时")>=0){
                    rowData = $("#jqGrid").jqGrid('getRowData', rowIds);
                    _queryStr = [
                        "deviceType=centor",
                        "devDescription="+rowData["连接说明"],
                        "cmdName="+cmdName,
                        "ids="+rowIds
                    ]
                }else{
                    _queryStr = [
                        "deviceType=centor",
                        "cmdName="+cmdName,
                        "ids="+rowIds
                    ];
                }
                _myLayui.showLayer(cmdName,"./device_mng.asp", _queryStr, _layerSize);
            }else{
                //console.log(deviceType);
                //console.log(rowIds);
                cmdsObj.cmdName = cmdName;
                cmdsObj.rowIds = rowIds.split(",");
                cmdsObj.index = 0;
                cmdsObj.loadCmd();
            }
        });
    });
</script>
</body></html>