<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="手抄器" th:include="include :: header"></head>

<body class="myPage-body">
<div class="container myContainer">
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <div class="layui-tab layui-tab-brief" lay-filter="device" style="margin:0;">
                <ul class="layui-tab-title hide" style="margin-bottom: 0px;">
                    <li class="layui-this" lay-id="ccentor"></li>
                    <li lay-id="meter"></li>
                </ul>
                <div class="row" style="margin:0;padding:5px 0px 0px 0px;">
                    <div class="col-xs-3 my-form-col" style="width:128px;padding-bottom:5px;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-default">
                                <input type="radio" name="options" data-title="ccentor" checked >线路列表
                            </label>
                            <label class="btn btn-sm btn-default">
                                <input type="radio" name="options" data-title="meter">表列表
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
                        <input id="nodeType" type="text" class="input-sm form-control hide" value="">
                        <input id="nodeIds" type="text" class="input-sm form-control hide" value="">
                        <input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
                        <div id="menuContent" class="menuContent">
                            <div class="ztreeInput">
                                <div>
                                    <input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
                                </div>
                                <div class="ztreeSkip">
                                    <label type="text" id="resultKey" class="form-control ztreeSkipLabel">
                                        <div class="ztreeSkipBtns">
                                            <a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
                                            <a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
                                        </div>
                                        <label id="number" class="ztreeSkipNum"></label>
                                    </label>
                                </div>
                            </div>
                            <ul id="areaTree" class="ztree"></ul>
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                    <div class="col-xs-2 my-form-col">
                        <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
                    </div>
                    <div class="col-xs-1 my-form-col">
                        <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
                    </div>
                </div>
                <div class="layui-tab-content" style="padding: 0;">
                    <div class="layui-tab-item layui-show">
                        <form class="form-horizontal" id="jqgridForm1" role="form">
                            <table id="jqGrid1" rel="jqgridForm" class="jqgrid"></table>
                            <div id="jqGridPager1"></div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <form class="form-horizontal" id="jqgridForm3" role="form">
                            <table id="jqGrid3" rel="jqgridForm" class="jqgrid"></table>
                            <div id="jqGridPager3"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script>
    layui.use(['layer','element'], function(){
        var layer = layui.layer,
            element = layui.element;
        var lastSel1="", lastSel2="";
        var isSubGridDraw = false;
        var GridObj1 = new myJqGrid("jqGrid1", "jqGridPager1", "jqgridForm1", 145,'/equipment/readLineList1');
        GridObj1.jqdefaultGridConfig.caption = "";
        GridObj1.jqdefaultGridConfig.multiselect = false;
        GridObj1.jqdefaultGridConfig.postData = {};
        GridObj1.jqdefaultGridConfig.colNames = ['id','编号','安装地点','连接说明','状态','总表数','读入表数','建档状态数','备注','安装时间'];
        GridObj1.jqdefaultGridConfig.colModel = [
            { name: 'id',  width: 75, key: true, hidden: true},
            { name: 'centorNo', width: 120 },
            { name: 'addr', width: 200 },
            { name: 'description' ,width: 120 },
            { name: 'state', width: 100, cellattr: deviceStateCellColor },
            { name: 'resultParams.zbs', width: 100, align: 'right' },
            { name: 'resultParams.meters', width: 100, align: 'right', cellattr: compareMetersCellColor },
            { name: 'resultParams.jdbs', width: 100, align: 'right' },
            { name: 'remark', width: 100 },
            { name: 'setupTime', width: 120 }
        ];
        GridObj1.jqdefaultGridConfig.footerrow = true;
        GridObj1.jqdefaultGridConfig.userDataOnFooter = true;
        GridObj1.jqdefaultGridConfig.gridComplete = function(){
            var firstRowId = $("#jqGrid1").jqGrid('getDataIDs')[0];
            if(firstRowId == "undefined" || firstRowId == null){
                firstRowId = "";
            }
            $("#jqGrid1").jqGrid('setSelection', firstRowId);//选中第一行
            if(isSubGridDraw == false){
                subGridDraw(firstRowId);
                isSubGridDraw = true;
            }
        };
        GridObj1.jqdefaultGridConfig.onSelectRow = function(id){
            if(id && id!==lastSel1){
                lastSel1=id;
                $("#jqGrid3").jqGrid('setGridParam',{
                    postData: {"id": id}
                }).trigger("reloadGrid");
            }
        };
        GridObj1.drawGrid();
        GridObj1.drawGridPager();
        GridObj1.setGridSize();
        GridObj1.gridResize();

        var GridObj3 = new myJqGrid("jqGrid3", "jqGridPager3", "jqgridForm3", 145,'/equipment/centorHandByQueryIdListJson');
        function subGridDraw(centorid){
            GridObj3.jqdefaultGridConfig.caption = "";
            GridObj3.jqdefaultGridConfig.multiselect = false;
            GridObj3.jqdefaultGridConfig.postData = {centorid: centorid};
            GridObj3.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','用户地址','表号','上期结算','最近读数','本期用量','表状态','最近抄表时间'];
            GridObj3.jqdefaultGridConfig.colModel = [
                { name: 'haMeter.meterId',  width: 75, key: true, hidden: true},
                { name: 'haMeter.havMeterinfo.userNo', width: 120 },
                { name: 'haMeter.havMeterinfo.userName', width: 120 },
                { name: 'haMeter.havMeterinfo.userDs', width: 200 },
                { name: 'haMeter.havMeterinfo.meterNumber', align: 'right', width: 120 },
                { name: 'haMeter.lfNumber', align: 'right' ,width: 80 },
                { name: 'haMeter.thNumber', align: 'right' ,width: 80 },
                { name: 'haMeter.sNumber', width: 80, align: 'right' },
                { name: 'haMeter.state', width: 80, cellattr: MeterStateCellColor },
                { name: 'haMeter.thRTime', width: 150 }
            ];
            GridObj3.jqdefaultGridConfig.footerrow = true;
            GridObj3.jqdefaultGridConfig.userDataOnFooter = true;
            GridObj3.jqdefaultGridConfig.onSelectRow = function(id){
            };
            GridObj3.drawGrid();
            GridObj3.drawGridPager();
            GridObj3.setGridSize();
            GridObj3.gridResize();
        }

        function switchGrid(listName){
            if(listName == "ccentor"){
                $(".areas-params").show();
                GridObj1.setGridSize();
            }else if(listName == "meter"){
                $(".areas-params").hide();
                GridObj3.setGridSize();
            }
            $("#keyWord").val("");
            var postData1=$("#jqGrid1").getGridParam("postData");
            var postData3=$("#jqGrid3").getGridParam("postData");
            delete postData1["params[keyWord]"];
            delete postData3["params[keyWord]"];
            $("#jqGrid1").jqGrid('setGridParam',{
                postData: postData1
            });
            $("#jqGrid3").jqGrid('setGridParam',{
                postData: postData3
            });
        }
        $('input:radio[name="options"]:checked').parent('label').addClass('active');
        $('input:radio[name="options"]').change(function(){
            var listName = $('input:radio[name="options"]:checked').data("title");
            element.tabChange('device', listName);
            switchGrid(listName);
        });

        var zOption = {
            url: "/nodes/getAreaNodes",
            selectedMulti: true,
            nodeTypeId: "nodeType",
            nodeIdsId: "nodeIds",
            nodeNamesId: "areaSel",
            clickCallBack: ""
        };
        var tree = new myzTree("areaTree", zOption);
        tree.dropDownTreeOpen();
        tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
        $("#areaSel").click(function(){
            tree.showMenu();
        });

        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".search").click();
            }
        });
        $(".search").click(function(){
            var  _pdArray = "", _areaid = "";
            var listName = $('input:radio[name="options"]:checked').data("title");
            if(listName == "ccentor"){
                _pdArray = {
                    "params[keyWord]": $("#keyWord").val()
                };
                fullTextSearch("jqGrid1", _pdArray);
            }else if(listName == "meter"){
                _pdArray = {
                    "params[keyWord]": $("#keyWord").val()
                };
                fullTextSearch("jqGrid3", _pdArray);
            }
        });
    });
</script>
</body></html>