<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<style type="text/css">
	.my-form-col {
		margin-right:10px;padding:0;
	}
	.my-form-no-edge{
		padding:0px;margin:0px;
	}
</style>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:5px 0px 5px 0px;">
		<div class="col-xs-2 my-form-col">
			<input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
		</div>
		<div class="col-xs-1 my-form-col">
			<button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
		</div>
	</div>
	<div class="row my-form-no-edge">
		<div class="col-xs-12 col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	var g_cmdName = [[${cmdName}]];
	var g_cmdids = [[${cmdids}]];
	var g_ids = [[${ids}]];
	$(document).ready(function () {
		var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 160,'/smallbox/meter/metersReadResultListJson');
		GridObj.unloadGrid();
		GridObj.removeGridResize();
		GridObj.jqdefaultGridConfig.caption = g_cmdName;
		GridObj.jqdefaultGridConfig.postData = {"params[cmdName]": g_cmdName, "params[cmdIds]": g_cmdids, "params[ids]": g_ids};
		GridObj.jqdefaultGridConfig.colNames = ['meterid','用户编号','用户名称','用户地址','表号','最近读数','上期结算','本期用量','表状态','最近抄表时间','上期结算时间'];
		GridObj.jqdefaultGridConfig.colModel = [
			{ name: 'haRecords.itemId',  width: 75, key: true, hidden: true},
			{name: 'userNo', width: 90, formatter:'interger' },
			{name: 'userName', width: 100 },
			{name: 'userDs', width: 140 },
			{name: 'meterNumber', width: 110, align: 'right' },
			{name: 'haRecords.thNumber', width: 70, align: 'right' },
			{name: 'haRecords.lfNumber', width: 70, align: 'right' },
			{name: 'haRecords.delta', width: 70, align: 'right' },
			{name: 'haRecords.state', width: 90, cellattr: MeterStateCellColor },
			{name: 'haRecords.thTime', width: 150 },
			{name: 'haRecords.lfTime', width: 150 }
		];
		GridObj.jqdefaultGridConfig.gridComplete = function(){MeterStateRowColor("jqGrid", "表状态")};
		GridObj.jqdefaultGridConfig.scroll = false;
		GridObj.drawGrid();
		GridObj.drawGridPager();
		GridObj.setGridSize();
		GridObj.gridResize();

		$(document).keydown(function(event){
			if(event.keyCode==13){
				$(".search").click();
			}
		});
		$(".search").click(function(){
			var  _pdArray = "";
			_pdArray = {
				"keyWord": $("#keyWord").val()
			};
			fullTextSearch("jqGrid", _pdArray);
		});
	});
</script>
</body>
</html>
