<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:5px 0px 5px 0px;">
		<div class="col-xs-2 my-form-col">
			<select id='query_type' class="selectpicker form-control" data-style="btn-default btn-sm" title="选择查询类型">
				<option value='lastDayFreeze' selected>最近日冻结数据</option>
				<option value='lastMonFreeze' >最近月冻结数据</option>
				<option value='dayFreeze' >历史日冻结数据</option>
				<option value='monFreeze' >历史月冻结数据</option>
			</select>
		</div>
		<div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
			<input id="nodeType" type="text" class="input-sm form-control hide" value="">
			<input id="nodeIds" type="text" class="input-sm form-control hide" value="">
			<input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
			<div id="menuContent" class="menuContent">
				<div class="ztreeInput">
					<div>
						<input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
					</div>
					<div class="ztreeSkip">
						<label type="text" id="resultKey" class="form-control ztreeSkipLabel">
							<div class="ztreeSkipBtns">
								<a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
								<a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
							</div>
							<label id="number" class="ztreeSkipNum"></label>
						</label>
					</div>
				</div>
				<ul id="areaTree" class="ztree"></ul>
				<div class="clearfloat"></div>
			</div>
		</div>
		<div class="col-xs-2 my-form-col date-range-div" style="display:none;">
			<input  id="date_range" class="input-sm form-control" type="text" value='' readonly="readonly" placeholder="选择查询日期范围"/>
		</div>
		<div class="col-xs-2 my-form-col">
			<input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
		</div>
		<div class="col-xs-1 my-form-col">
			<button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
		</div>
	</div>
	<div class="row my-form-no-edge">
		<div class="col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script language="JavaScript">
	layui.use(['layer','form'], function(){
		var layer = layui.layer;
		$('.selectpicker').selectpicker({
			actionsBox: true //保留全选,全不选按键
			,noneSelectedText: '请选择'
			,selectAllText: '选择所有'
			,deselectAllText: '取消全选'
			,liveSearchPlaceholder: '搜索'
		});
		$('#date_range').click(function(){
			var options = {};
			options.startDate = '';
			options.endDate = '';
			options.format_start = "YYYY-MM-DD";
			options.format_end = "YYYY-MM-DD";
			options.align="right";
			options.cb_add = function(p_value){};
			myData.DataRangePicker(this, "DateTimeRange", options);
		});
		function gridChange() {
			var dataType = $("#query_type").val();
			var nodeType = $("#nodeType").val();
			var nodeIds = $("#nodeIds").val();
			var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115, '/dataselect/freeze/freezeListJson');
			GridObj.unloadGrid();
			GridObj.removeGridResize();
			GridObj.jqdefaultGridConfig.caption = "";
			GridObj.jqdefaultGridConfig.multiselect = false;
			GridObj.jqdefaultGridConfig.datatype = "local";
			GridObj.jqdefaultGridConfig.postData = {"params[dataType]": dataType,"params[nodeType]":nodeType,"params[nodeIds]":nodeIds};
			GridObj.jqdefaultGridConfig.colNames = ['meterid', '用户编号', '用户名称', '用户地址', '表号', '本次冻结数据', '上次冻结数据', '冻结用量', '表状态', '冻结日', '抄收时间'];
			GridObj.jqdefaultGridConfig.colModel = [
				{name: 'meterId', width: 75, hidden: true},
				{name: 'havMeterinfo.userNo', width: 100, align: 'right'},
				{name: 'havMeterinfo.userName', width: 150},
				{name: 'havMeterinfo.userDs', width: 150},
				{name: 'havMeterinfo.meterNumber', width: 120, align: 'right'},
				{name: 'tread', width: 80, align: 'right'},
				{name: 'lread', width: 80, align: 'right'},
				{name: 'amount', width: 80, align: 'right'},
				{name: 'state', width: 80, cellattr: MeterStateCellColor},
				{name: 'fday', width: 100, formatter: "date", formatoptions: {newformat: 'Y-m-d'}},
				{name: 'readTime', width: 150},
			];
			GridObj.jqdefaultGridConfig.gridComplete = function () {
				$("#jqGrid").jqGrid('setGridParam', {datatype: 'json'})
				MeterStateRowColor("jqGrid", "state");
			};
			GridObj.drawGrid();
			GridObj.drawGridPager();
			GridObj.setGridSize();
			GridObj.gridResize();
		}

		var zOption = {
			url: "/nodes/getAreaNodes",
			selectedMulti: false,
			nodeTypeId: "nodeType",
			nodeIdsId: "nodeIds",
			nodeNamesId: "areaSel",
			clickCallBack:""
		};

		var tree = new myzTree("areaTree", zOption);
		tree.dropDownTreeOpen();
		tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
		$("#areaSel").click(function(){
			tree.showMenu();
		});
		gridChange();
		$("#query_type").change(function(){
			var dataType = $("#query_type").val();
			var nodeType = $("#nodeType").val();
			var nodeIds = $("#nodeIds").val();
			if(dataType=="lastDayFreeze" || dataType=="lastMonFreeze"){
				$(".area-div").show();
				$(".date-range-div").hide();
				$("#areas").val('');
				$("#areas").selectpicker('refresh');
				$("#date_range").val('');
			}else if(dataType=="dayFreeze" || dataType=="monFreeze"){
				$(".area-div").hide();
				$(".date-range-div").show();
				$("#areas").val('');
				$("#areas").selectpicker('refresh');
				$("#date_range").val('');
			}

			$("#jqGrid").jqGrid('setGridParam',{
				postData: {"params[dataType]": dataType,"params[nodeType]":nodeType,"params[nodeIds]":nodeIds}
			}).trigger("clearGridData");
			gridChange();
		});
		$(document).keydown(function(event){
			if(event.keyCode==13){
				$(".search").click();
			}
		});
		$(".search").click(function(){
			var  _pdArray = "", _areaIds = "";
			var dataType = $("#query_type").val(), keyWord = $("#keyWord").val();
			var date_range = ['', ''];
			if(dataType == "dayFreeze" && $("#date_range").val()!= ""){
				date_range = $("#date_range").val().split("~");
			}else if(dataType == "monFreeze" && $("#date_range").val()!= ""){
				date_range = $("#date_range").val().split("~");
				date_range[0] = date_range[0].substr(0, 7);
				date_range[1] = date_range[1].substr(0, 7);
			}
			_pdArray = {
				"params[keyWord]": $("#keyWord").val(),
				"params[dataType]": dataType,
				"params[nodeType]": $("#nodeType").val(),
				"params[nodeIds]": $("#nodeIds").val(),
				"params[startDate]": date_range[0],
				"params[endDate]": date_range[1]
			};
			fullTextSearch("jqGrid", _pdArray);
		});
	});
</script>
</body>
</html>
