<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body  class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:5px 0px 5px 0px;">
		<div class="col-xs-2 my-form-col">
			<select id='query_type' class="selectpicker form-control" data-style="btn-default btn-sm" title="选择查询类型">
				<option value='lastData' selected>最近抄收数据</option>
				<option value='historyData'>历史抄收数据</option>
			</select>
		</div>
		<div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
			<input id="nodeType" type="text" class="input-sm form-control hide" value="">
			<input id="nodeIds" type="text" class="input-sm form-control hide" value="">
			<input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
			<div id="menuContent" class="menuContent">
				<div class="ztreeInput">
					<div>
						<input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
					</div>
					<div class="ztreeSkip">
						<label type="text" id="resultKey" class="form-control ztreeSkipLabel">
							<div class="ztreeSkipBtns">
								<a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
								<a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
							</div>
							<label id="number" class="ztreeSkipNum"></label>
						</label>
					</div>
				</div>
				<ul id="areaTree" class="ztree"></ul>
				<div class="clearfloat"></div>
			</div>
		</div>
		<div class="col-xs-2 my-form-col monthTypeDiv">
			<select id='month_type' class="selectpicker form-control" data-style="btn-default btn-sm" title="选择月份类型">
				<option value='' >无</option>
				<option value='S' >单月</option>
				<option value='D' >双月</option>
			</select>
		</div>
		<div class="col-xs-2 my-form-col date-range-div" style="display: none;">
			<input  id="date_range" class="input-sm form-control" type="text" value='' readonly="readonly" placeholder="选择查询日期范围"/>
		</div>
		<div class="col-xs-2 my-form-col">
			<input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
		</div>
		<div class="col-xs-1 my-form-col">
			<button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
		</div>
	</div>
	<div class="row my-form-no-edge">
		<div class="col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.use(['layer', 'form'], function(){
		var layer = layui.layer,
				form = layui.form;
		var g_title = [[${sTitle}]];
		var zOption = {
			url: "/nodes/getEquipmentNodes",
			selectedMulti: true,
			nodeTypeId: "nodeType",
			nodeIdsId: "nodeIds",
			nodeNamesId: "areaSel",
			clickCallBack: showjqGridList
		};

		var tree = new myzTree("areaTree", zOption);
		tree.dropDownTreeOpen();
		tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
		$("#areaSel").click(function(){
			tree.showMenu();
		});
		showjqGridList();

		$('.selectpicker').selectpicker({
			actionsBox: true //保留全选,全不选按键
			,selectAllText: '选择所有'
			,deselectAllText: '取消全选'
			,liveSearchPlaceholder: '搜索'
		});
		$('#date_range').click(function(){
			var options = {};
			options.startDate = '';
			options.endDate = '';
			options.format_start = "YYYY-MM-DD";
			options.format_end = "YYYY-MM-DD";
			options.align="right";
			options.cb_add = function(p_value){};
			myData.DataRangePicker(this, "DateTimeRange", options);
		});

		$(document).keydown(function(event){
			if(event.keyCode==13){
				$(".search").click();
			}
		});
		function showjqGridList(){
			var dataType = $("#query_type").val()
			var nodeType = $("#nodeType").val();
			var nodeIds = $("#nodeIds").val();
			if(dataType == "lastData"){
				$(".areaTreeDiv").show();
				$(".monthTypeDiv").show();
				$(".date-range-div").hide();
				$("#month_type").val('');
				$("#date_range").val('');
				var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115,'/dataselect/dosageRecentlyListJson');
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[nodeType]":nodeType,"params[nodeIds]":nodeIds};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','用户地址','表号','最近读数','上期结算','本期用量','表状态','最近抄表时间','上期结算时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{name: 'meterId',  width: 75, key: true, hidden: true},
					{name: 'havMeterinfo.userNo', width: 90, formatter:'interger' },
					{name: 'havMeterinfo.userName', width: 100 },
					{name: 'havMeterinfo.userDs', width: 140 },
					{name: 'havMeterinfo.meterNumber', width: 110, align: 'right' },
					{name: 'thNumber', width: 70, align: 'right' },
					{name: 'lfNumber', width: 70, align: 'right' },
					{name: 'sNumber', width: 70, align: 'right' },
					{name: 'state', width: 90, cellattr: MeterStateCellColor },
					{name: 'thRTime', width: 150 },
					{name: 'lfTime', width: 150 }
				];
				GridObj.jqdefaultGridConfig.gridComplete = function(){MeterStateRowColor("jqGrid", "state")};
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(dataType == "historyData"){
				$(".areaTreeDiv").hide();
				$(".monthTypeDiv").hide();
				$(".date-range-div").show();
				$("#month_type").val('');
				$("#date_range").val('');
				var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115,'/dataselect/dosageHistoryListJson');
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[nodeType]":nodeType,"params[nodeIds]":nodeIds};
				GridObj.jqdefaultGridConfig.colNames = ['itemId','用户编号','用户名称','用户地址','表号','本次读数','上次读数','抄收用量','表状态','本次抄表时间','上次抄表时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{name: 'itemId',  width: 75, key: true, hidden: true},
					{name: 'havMeterinfo.userNo', width: 90, formatter:'interger',onSortCol:false },
					{name: 'havMeterinfo.userName', width: 100 },
					{name: 'havMeterinfo.userDs', width: 140 },
					{name: 'havMeterinfo.meterNumber', width: 110, align: 'right' },
					{name: 'thNumber', width: 70, align: 'right' },
					{name: 'lfNumber', width: 70, align: 'right' },
					{name: 'delta', width: 70, align: 'right' },
					{name: 'state', width: 90, cellattr: MeterStateCellColor },
					{name: 'thTime', width: 150 },
					{name: 'lfTime', width: 150 }
				];
				GridObj.jqdefaultGridConfig.gridComplete = function(){MeterStateRowColor("jqGrid", "state")};
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}
		}
		$("#query_type").change(function(){
			showjqGridList();
		});

		$(".search").click(function(){
			var dataType = $("#query_type").val(), keyWord = $("#keyWord").val();
			var  _pdArray = "";
			var date_range = ['', ''];
			if(dataType == "lastData"){
				_pdArray = {
					"params[keyWord]": keyWord,
					"params[dataType]": dataType,
					"params[nodeType]": $("#nodeType").val(),
					"params[nodeIds]": $("#nodeIds").val(),
					"params[monthType]": $("#month_type").val()
				};
				fullTextSearch("jqGrid", _pdArray);
			}
			if(dataType == "historyData"){
				if($("#date_range").val()!= ""){
					date_range = $("#date_range").val().split("~");
				}
				_pdArray = {
					"params[keyWord]": keyWord,
					"params[startDate]": date_range[0],
					"params[endDate]": date_range[1]
				};
				fullTextSearch("jqGrid", _pdArray);
			}
		});
	});
</script>
</body>
</html>
