<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCentorMapper">

    <resultMap id="haCentorMap" type="com.ktamr.domain.HaCentor">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result column="centorNo" property="centorNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorAreaNo" property="resultParams.centorAreaNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorDs" property="resultParams.centorDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorId" property="centorId" javaType="java.lang.Long"></result>
        <result column="addr" property="addr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="description" property="description" javaType="java.lang.String"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="zbs" property="resultParams.zbs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="meters" property="resultParams.meters" javaType="java.lang.String" jdbcType="INTEGER"></result>
        <result column="jdbs" property="resultParams.jdbs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="wfhbs" property="resultParams.wfhbs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="thNumber" property="resultParams.thNumber" javaType="java.lang.String"></result>
        <result column="lfNumber" property="resultParams.lfNumber" javaType="java.lang.String"></result>
        <result column="sNumber" property="resultParams.sNumber" javaType="java.lang.String"></result>
        <result column="lastStateChangeTime" property="lastStateChangeTime" javaType="java.util.Date"></result>
        <result column="telNumber" property="telNumber" javaType="java.lang.String"></result>
        <result column="ver" property="ver" javaType="java.lang.String"></result>
        <result column="remark" property="remark" javaType="java.lang.String"></result>
        <result column="setupTime" property="setupTime" javaType="java.util.Date"></result>
        <result column="endTime" property="endTime" javaType="java.util.Date"></result>
        <result column="nconf" property="resultParams.nconf" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="oconf" property="resultParams.oconf" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="centorAddr" property="resultParams.centorAddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="collectorAddr" property="resultParams.collectorAddr" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="xhqd" property="resultParams.xhqd" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="dcdy" property="resultParams.dcdy" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        </association>
        <association property="haCollector" javaType="com.ktamr.domain.HaCollector">
            <id column="collectorId" property="collectorId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            <result column="routers" property="routers" javaType="java.lang.String" jdbcType="VARCHAR"></result>

            <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
                <id column="centorId" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            </association>
        </association>
        <association property="haMeter" javaType="com.ktamr.domain.HaMeter">
            <id column="meterId" property="meterId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            <result column="meterNumber" property="meterNumber" javaType="java.lang.Long" jdbcType="INTEGER"></result>
            <result column="thNumber" property="thNumber" javaType="java.lang.Double"></result>
            <result column="thRTime" property="thRTime" javaType="java.util.Date"></result>
            <result column="lfNumber" property="lfNumber" javaType="java.lang.Double"></result>
            <result column="sNumber" property="sNumber" javaType="java.lang.Double"></result>
            <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
                <id column="centorId" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
            </association>
            <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
                <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
                <result column="meterNumber" property="meterNumber" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
            </association>
        </association>
    </resultMap>

    <sql id="getRightCondition">
        <if test=" params.operatorRgnType != null and params.operatorRgnType != '' ">
            <if test=" params.operatorRgnType == 'rgn' ">
                and position( LEFT(ce.centorNo,1) in #{params.rgnStr})>0
            </if>
            <if test=" params.operatorRgnType == 'area' ">
                and left(ce.centorNo,5) in (#{params.areaNo})
            </if>
        </if>
    </sql>
    <!--A区集中器-->
   <select id="selectAllCentorzAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT  c.id AS id
        , c.centorNo AS centorNo
        ,substring(c.centorNo, 2, 4) AS centorAreaNo
        , Right(c.centorNo, 5) AS centorDs
        , c.centorid AS centorId
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='集中器无返回') AS wfhbs
        ,c.last_state_change_time AS lastStateChangeTime
        ,c.telNumber AS telNumber
        ,c.ver AS ver
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c,ha_area a
        WHERE Left(c.description,3)='KT4'
        AND Left(c.centorNO, 5)=a.areaNO
       <include refid="getRightCondition"></include>
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.centorNo like '%${params.keyWord}%'
            or substring(c.centorNo, 2, 4) like '%${params.keyWord}%'
            or Right(c.centorNo, 5) like '%${params.keyWord}%'
            or c.addr like '%${params.keyWord}%'
            or c.description like '%${params.keyWord}%'
            or c.state = #{params.keyWord}
            or c.ver = #{params.keyWord}
            or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        order by c.centorNo,c.addr
    </select>

    <select id="selectAllCentorzQueryIdAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT m.meterid AS meterId
        , m.centorid AS centorId
        , ce.centorid AS centorAddr
        , to_hex(co.nconf) AS collectorAddr
        , mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        , m.meterNumber AS meterNumber
        , m.lf_number as lfNumber
        , m.th_number as thNumber
        , m.s_number as sNumber
        , m.state as state
        , m.th_r_time as thRTime
         FROM  ha_meter m LEFT JOIN hav_meterinfo mi ON m.meterid=mi.meterid
         LEFT JOIN ha_centor ce ON ce.id=m.centorid
         LEFT JOIN ha_collector co ON co.collectorid=m.collectorid
         WHERE 1=1
        <if test=" centorId != null and centorId != '' ">
            and m.centorid IN  (#{centorId})
        </if>
         <if test=" haCollector != null and haCollector.collectorId != '' ">
             and m.collectorid IN  (#{haCollector.collectorId})
         </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%' or mi.用户地址 like '%${params.keyWord}%' or m.state = #{params.keyWord})
        </if>
         ORDER BY mi.用户地址
    </select>

    <select id="selectAllCentorzByIdAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        select
        co.collectorid as collectorId
        ,co.centorid as centorId
        ,t.centorNo as centorNo
        ,to_hex(co.nconf) as nconf
        ,to_hex(co.oconf) as oconf
        ,co.addr as addr
        ,co.ver as ver
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid) AS zbs
        ,co.meters AS meters
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m where m.collectorid=co.collectorid and m.state='采集器无返回') AS wfhbs
        ,CASE WHEN co.state='EE' THEN '未通讯(EE)' WHEN co.state='0' THEN '信号无(0)' WHEN co.state='2' THEN '信号弱(2)' WHEN co.state='4' THEN '信号良(4)' WHEN co.state='8' THEN '信号强(8)' WHEN  co.state=co.state THEN co.state END as state
        ,co.routers AS routers
        FROM ha_collector co, ha_centor t
        WHERE co.centorid IN (#{centorId}) AND co.centorid=t.id
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (to_hex(co.nconf) like '%${params.keyWord}%'
            or to_hex(co.oconf) like '%${params.keyWord}%'
            or co.addr like '%${params.keyWord}%'
            or co.state = #{params.keyWord}
            or co.ver = #{params.keyWord})
        </if>
        ORDER BY co.addr,to_hex(co.nconf)
    </select>

    <!--A区集采器-->
    <select id="selectAllCentorcAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT  c.id AS id
        , c.centorNo AS centorNo
        , c.centorid AS centorId
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='集中器无返回') AS wfhbs
        ,c.last_state_change_time AS lastStateChangeTime
        ,c.RSSI AS xhqd
        ,c.Vol/1000 AS dcdy
        ,c.telNumber AS telNumber
        ,c.ver AS ver
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c,ha_area a
        WHERE (Left(c.description,4)='GPRS' OR Left(c.description,3)='COM' OR Left(c.description,3)='KT3') AND Left(c.centorNO, 5)=a.areaNO
        <include refid="getRightCondition"></include>
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.centorNo like '%${params.keyWord}%' or substring(c.centorNo, 2, 4) like '%${params.keyWord}%' or to_char(to_number(Right(c.centorNo, 5),'9999999999'),'fm9999999999') like '%${params.keyWord}%'
            or c.addr like '%${params.keyWord}%' or c.description like '%${params.keyWord}%' or c.state = #{params.keyWord} or c.ver = #{params.keyWord} or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        ORDER BY c.centorNo
    </select>

    <!--A区手抄器-->
    <select id="selectAllCentorHandAndCount" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT c.id AS id
        , c.centorNo AS centorNo
        ,c.addr AS addr
        ,c.description AS description
        , c.state As state
        ,(select  COUNT(*) from ha_meter m where m.centorid=c.id) AS zbs
        ,c.meters AS meters
        ,(select COUNT(*) from ha_meter m WHERE m.centorid=c.id and m.state='建档') AS jdbs
        ,c.rtime AS rtime
        ,c.remark AS remark
        ,c.setuptime AS setupTime
        ,c.endTime AS endTime
        FROM ha_centor c, ha_area a
        WHERE Left(c.description,4)='HAND' AND Left(c.centorNO, 5)=a.areaNO
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{params.nodeIds})>0
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (c.addr like '%${params.keyWord}%' or c.description like '%${params.keyWord}%' or c.state = #{state}
            or c.remark  like '%${params.keyWord}%' or to_char(c.setuptime, 'YYYY-MM-DD') like '%${params.keyWord}%')
        </if>
        ORDER BY c.centorNo
    </select>

    <!--A区设备抄控管理-->
    <select id="selectCentor" resultMap="haCentorMap" parameterType="com.ktamr.domain.HaCentor">
        SELECT ce.id AS id
        ,ce.centorNo AS centorNo
        ,ce.state AS state
        ,ce.centorid AS centorId
        ,ce.addr AS addr
        ,ce.description AS description
        , a.name AS name
        FROM ha_centor ce
        LEFT JOIN ha_area a ON Left(ce.centorNo, 5)=a.areaNo
        <if test=" params.deviceType == 'centor' ">
            WHERE Left(ce.description, 3)='KT4'
            <if test="params.operable == 'true'">
            AND (ce.state='联机' OR position( 'COM' in ce.description)>0)
            </if>
        </if>
        <if test=" params.deviceType == 'ccentor' ">
            WHERE (Left(ce.description, 3)='COM' OR Left(ce.description, 4)='GPRS' OR Left(ce.description, 3)='KT3')
        </if>
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (#{nodeIds})
        </if>
        <if test=" params.nodeIds == 'rgn' and params.nodeIds != '' ">
            AND position( Left(a.areaNo, 1) in #{nodeIds}) > 0
        </if>
        <!--<include refid="getRightCondition"></include>-->
        ORDER BY ce.centorNo,ce.addr
    </select>



    <!--C区-->
    <select id="HaCentorList" resultMap="haCentorMap">
        SELECT ce.id as id,ce.centorNo AS centorNo,ce.addr AS addr,
        ce.state AS state,
        ce.centorid AS centorId,
        ce.description AS description,
        a.name AS name
        FROM ha_centor ce LEFT JOIN ha_area a ON Left(ce.centorNo, 5)= a.areaNo
        where 1=1
        <if test="haCentor.nodeType != null and haCentor.nodeType != '' and haCentor.nodeIds != null and haCentor.nodeIds != ''">
            <if test="haCentor.nodeType == 'area'">
                AND a.areaid = ${haCentor.nodeIds}
            </if>
            <if test="haCentor.nodeType == 'rgn'">
                AND POSITION(#{haCentor.nodeIds} in Left(a.areaNo, 1))>0
            </if>
        </if>
        ORDER BY ce.centorNo,ce.addr
    </select>

    <insert id="addHaCentor">
        insert into ha_centor values (default ,#{centorid},#{ver},#{rtime},#{setuptime},#{addr},#{description},#{telnumber},#{endtime},#{usetypecode},#{state},#{centorno},#{lastfreezetime},#{lastfreezeday},#{lastfreezemon},#{createtime},#{modifytime},#{meters},#{areaid},#{last_state_change_time},#{remark},#{rssi},#{vol},#{imsi},#{imei},);
    </insert>

    <delete id="deleteHaCentor">
        delete from ha_centor where id = #{id}
    </delete>

    <update id="updateHaCentor">
        update ha_centor
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="centorid != null">centorid = #{centorid},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="rtime != null">rtime = #{rtime},</if>
            <if test="setuptime != null">setuptime = #{setuptime},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="description != null">description = #{description},</if>
            <if test="telnumber != null">telnumber = #{telnumber},</if>
            <if test="endtime != null">endtime = #{endtime},</if>
            <if test="usetypecode != null">usetypecode = #{usetypecode},</if>
            <if test="state != null">state = #{state},</if>
            <if test="centorno != null">centorno = #{centorno},</if>
            <if test="lastfreezetime != null">lastfreezetime = #{lastfreezetime},</if>
            <if test="lastfreezeday != null">lastfreezeday = #{lastfreezeday},</if>
            <if test="lastfreezemon != null">lastfreezemon = #{lastfreezemon},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="modifytime != null">modifytime = #{modifytime},</if>
            <if test="meters != null">meters = #{meters},</if>
            <if test="areaid != null">areaid = #{areaid},</if>
            <if test="last_state_change_time != null">last_state_change_time = #{last_state_change_time},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="rssi != null">rssi = #{rssi},</if>
            <if test="vol != null">vol = #{vol},</if>
            <if test="imsi != null">imsi = #{imsi},</if>
            <if test="imei != null">imei = #{imei},</if>
        </trim>
    </update>
</mapper>