<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaCustomMapper">

    <resultMap id="HaCustomMap" type="com.ktamr.domain.HaCustom">
        <id property="custId" column="custId"/>
        <result property="custNo" column="custNo"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="idNumber" column="idNumber"/>
        <result property="idName" column="idName"/>
        <result property="tel" column="tel"/>
        <result property="mobil" column="mobil"/>
        <result property="addr" column="addr"/>
        <result property="zip" column="zip"/>
        <result property="bank" column="bank"/>
        <result property="account" column="account"/>
        <result property="lastbillId" column="lastbillId"/>
        <result property="billId" column="billId"/>
        <result property="balance" column="balance"/>
        <result property="expense" column="expense"/>
        <result property="paidTime" column="paidTime"/>
        <result property="recharge" column="recharge"/>
        <result property="rechargeTime" column="rechargeTime"/>
        <result property="postTime" column="postTime"/>

        <association property="haRoom" javaType="com.ktamr.domain.HaRoom">
            <id property="roomId" column="roomId"/>
            <result property="custId" column="custId"/>
            <result property="name" column="rname"/>
        </association>

        <association property="haBuilding" javaType="com.ktamr.domain.HaBuilding">
            <id property="buildingId" column="buildingId"/>
            <result property="name" column="bname"/>
        </association>

        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id property="areaId" column="areaId"/>
            <result property="name" column="aname"/>
        </association>
    </resultMap>

    <select id="HaCustomList" resultMap="HaCustomMap">
        SELECT u.custid as custId,
        u.custno as custNo,
        u.name as name,
        u.sex as sex,
        CASE WHEN a.name != ''
        THEN a.name ELSE '无对象' END as aname,
        CASE WHEN b.name != ''
        THEN b.name ELSE '无对象' END  as bname,
        CASE WHEN r.name != ''
        THEN r.name ELSE '无对象' END as rname
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        where u.custid is not null
        <if test="haCustom.keyWord!=null and haCustom.keyWord !=''">
            and u.custno like '%${haCustom.keyWord}%' or u.name like '%${haCustom.keyWord}%'
        </if>
        ORDER BY u.custno,a.name,b.name,r.name
        limit #{page} OFFSET #{rowNum}
    </select>

    <select id="selectHaCustomCount" resultType="Integer">
        SELECT count(1)
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
    </select>

    <select id="updateByIdHaCustom" resultMap="HaCustomMap">
        SELECT u.custid as custId,
        u.custno as custNo,
        u.name as name,
        u.sex as sex,
        CASE WHEN a.name != ''
        THEN a.name ELSE '[无对象]' END as aname,
        CASE WHEN b.name != ''
        THEN b.name ELSE '[无对象]' END  as bname,
        CASE WHEN r.name != ''
        THEN r.name ELSE '[无对象]' END as rname
        FROM ((ha_custom u LEFT JOIN ha_room r ON u.custid=r.custid)
        LEFT JOIN ha_building b ON r.buildingid=b.buildingid)
        LEFT JOIN ha_area a ON b.areaid=a.areaid
        where u.custid = #{haCustom.custId}
    </select>

    <delete id="deleteHaCustom">
        delete from ha_custom where custid = #{custId}
    </delete>
</mapper>