<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaDayFreezeMapper">

    <resultMap id="haDayfreezeMap" type="com.ktamr.domain.HaDayfreeze">

        <result column="meterId" property="meterId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="meterNumber" property="meterNumber" javaType="java.lang.Long"></result>
        <result column="tRead" property="tRead" javaType="java.lang.Integer"></result>
        <result column="lRead" property="lRead" javaType="java.lang.Integer"></result>
        <result column="aMount" property="aMount" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="fDay" property="fDay" javaType="java.util.Date" ></result>
        <result column="readTime" property="readTime" javaType="java.util.Date" ></result>
        <association property="havMeterinfo" javaType="com.ktamr.domain.HavMeterinfo">
            <result column="userNo" property="userNo" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="userDs" property="userDs" javaType="java.lang.String" jdbcType="VARCHAR"></result>
            <result column="meterNumber" property="meterNumber" javaType="java.lang.Long" jdbcType="INTEGER"></result>
        </association>
    </resultMap>

    <sql id="getRightCondition">
        <if test=" params.operatorRgnType != null and params.operatorRgnType != '' ">
            <if test=" params.operatorRgnType == 'rgn' ">
                and position( LEFT(mi.areaNo,1) in #{params.rgnStr})>0
            </if>
            <if test=" params.operatorRgnType == 'area' ">
                and mi.areano in (#{params.areaNo})
            </if>
        </if>
    </sql>

    <select id="selectDayFreezeMeterIdCount" resultType="java.lang.Integer"  parameterType="com.ktamr.domain.HaMeter">
        SELECT Count(meterid) FROM ha_dayfreeze WHERE meterid=#{meterId} and fday=to_date(#{thRTime},'yyyy-mm-dd')-1
    </select>

    <update id="updateDayFreeze"  parameterType="com.ktamr.domain.HaMeter">
        UPDATE ha_dayfreeze SET t_read=#{thNumber},l_read=#{thNumber},readTime=to_date(#{thRTime},'yyyy-mm-dd'),
        amount=0,state=#{state}
        WHERE meterid=#{meterId} and fday=to_date(#{thRTime},'yyyy-mm-dd')-1
    </update>

    <insert id="insertDayFreeze" useGeneratedKeys="true"  keyProperty="resultParams.dayFreezeId"  parameterType="com.ktamr.domain.HaMeter">
        INSERT INTO ha_dayfreeze(meterid, meterNumber, centorid, collectorid, fday, lday, readTime, state, t_read, l_read, amount)
        SELECT m.meterId, m.meterNumber, m.centorid, m.collectorid, to_date(#{thRTime},'yyyy-mm-dd')-1,m.fday,
         to_date(#{thRTime},'yyyy-mm-dd'),#{state},#{thNumber},#{thNumber},0
         from ha_meter m
         WHERE m.meterId=#{meterId}
    </insert>

    <select id="selectFreeze" resultMap="haDayfreezeMap" parameterType="com.ktamr.domain.HaDayfreeze">
        SELECT fz.meterId
        ,mi.用户号 AS userNo
        , mi.用户名 AS userName
        , mi.用户地址 AS userDs
        , fz.meterNumber AS meterNumber
        , fz.t_read AS tRead
        ,fz.l_read AS lRead
        ,fz.amount AS aMount
        ,fz.state AS state
        ,fz.fday AS fday
        ,fz.readTime AS readTime
        <if test=" params.dataType == 'lastDayFreeze' " >
            FROM ha_dayfreeze fz
            inner join hav_meterinfo mi on mi.meterid = fz.meterid
            where 1=1
        </if>
        <if test=" params.dataType == 'lastMonFreeze'" >
            FROM ha_monfreeze fz
            inner join hav_meterinfo mi on mi.meterid = fz.meterid
            where 1=1
        </if>
        <if test=" params.dataType == 'dayFreeze'" >
            FROM ha_dayfreeze fz
            inner join hav_meterinfo mi on mi.meterid = fz.meterid
            WHERE fz.meterid is not null
        </if>
        <if test=" params.dataType == 'monFreeze'" >
            FROM ha_monfreeze fz
            inner join hav_meterinfo mi on mi.meterid = fz.meterid
            WHERE fz.meterid is not null
        </if>
        <include refid="getRightCondition"></include>
        <if test=" params.nodeType == 'area' and params.nodeIds != '' ">
            AND a.areaid IN (cast(#{params.nodeIds} as INTEGER))
        </if>
        <if test=" params.nodeType == 'rgn' and params.nodeIds != '' ">
            AND position(Left(a.areaNo, 1) IN #{params.nodeIds})>0
        </if>
        <if test=" params.dataType == 'dayFreeze' and params.startDate != null and params.endDate != null ">
            AND fz.fday BETWEEN to_date(#{params.startDate},'yyyy-mm-dd hh24:mi:ss') and to_date(#{params.endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test=" params.dataType == 'monFreeze' and params.startDate != null and params.endDate != null ">
            AND fz.readTime BETWEEN #{params.startDate} and #{params.endDate}
        </if>
        <if test=" params.keyWord != null and params.keyWord != '' ">
            and (mi.用户号 like '%${params.keyWord}%' or mi.用户名 like '%${params.keyWord}%'
            or mi.用户地址 like '%${params.keyWord}%')
        </if>
    </select>


    <select id="selectAllDayfreeze" resultMap="haDayfreezeMap" parameterType="java.util.Map">
        SELECT meterid AS meterId
        , t_read AS tRead
        , amount AS aMount
        , fday AS fDay
        , state AS state
        FROM ha_dayfreeze
        WHERE meterid = #{meterId}
        <if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
            and fday BETWEEN to_date(#{startDate}, 'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
        order by fday desc
    </select>
</mapper>