<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaFreezeMapper">

    <!--点击费用结算所做的步骤1-->
    <insert id="BinsertHaFreeze1">
        INSERT INTO ha_freeze(billid,meterid,lf_time,lf_number,tf_number,th_time,rtime,delta,pricestand_id)
			SELECT to_char(now(), 'yyyy-mm-dd hh24:mi:ss')||m.meterid :: VARCHAR,
			m.meterid,m.lf_time,m.lf_number,m.th_number,m.th_r_time,
			to_date(to_char(now(), 'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss'),m.s_number,m.pricestand_id
			FROM ((ha_meter m LEFT JOIN ha_room r ON r.roomid=m.roomid) LEFT JOIN ha_custom cu ON cu.custid=r.custid)
			LEFT JOIN ha_pricestandard p ON m.pricestand_id=p.pricestand_id
			WHERE case when cu.lastBillid is null then
			 m.meterNumber>0 AND m.areaid =#{areaId}  end
    </insert>

    <!--点击费用结算所做的步骤2-->
    <insert id="BinsertHaFreeze2">
        INSERT INTO ha_freeze(billid,meterid,lf_time,lf_number,tf_number,th_time,rtime,delta,pricestand_id)
			SELECT to_char(now(), 'yyyy-mm-dd hh24:mi:ss')||m.meterid :: VARCHAR,
			m.meterid,m.lf_time,m.lf_number,m.th_number,m.th_r_time,
			to_date(to_char(now(), 'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss'),m.s_number,m.pricestand_id
			FROM (((ha_meter m LEFT JOIN ha_room r ON r.roomid = m.roomid) LEFT JOIN ha_custom cu
				   ON cu.custid = r.custid) LEFT JOIN ha_pricestandard p ON m.pricestand_id=p.pricestand_id)
				   LEFT JOIN ha_freeze f ON f.meterid=m.meterid WHERE
				 case when  cu.lastBillid is  null then f.billid=cu.lastBillid
			 AND (m.th_r_time>f.th_time OR f.th_time is null) AND m.areaid =#{areaId} end
    </insert>

</mapper>