<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaGprsdtuMapper">


    <resultMap id="HaGprsdtuMap" type="com.ktamr.domain.HaGprsdtu">
        <result property="uid" column="uid"/>
        <result property="telNubmer" column="telnubmer"/>
        <result property="addr" column="addr"/>
        <result property="centors" column="centors"/>
        <result property="state" column="state"/>
        <result property="dscrp" column="dscrp"/>
        <result property="oplastTime" column="oplastTime"/>
        <result property="idle" column="idle"/>
        <result column="xsjcqsm" property="resultParams.xsjcqsm" javaType="java.lang.String" jdbcType="VARCHAR"></result>

        <association property="haCentor" javaType="com.ktamr.domain.HaCentor">
            <id property="id" column="id"/>
            <result property="telnumber" column="telnumber"/>
        </association>

        <association property="haArea" javaType="com.ktamr.domain.HaArea">
            <id property="areaid" column="areaid"/>
            <result property="areaNo" column="areaNo"/>
        </association>
    </resultMap>

    <select id="selectAllGprsdtuAndCount" resultMap="HaGprsdtuMap" parameterType="com.ktamr.domain.HaGprsdtu">
        SELECT d.uid As uid
        ,d.telnubmer As telnubmer
        , d.addr As addr
        , Count(c.id) As xsjcqsm
        , d.state As state
        , d.dscrp As dscrp
        , to_char(d.oplasttime, 'yyyy-mm-dd hh24:mi:ss') As oplastTime
        , d.idle As idle
        FROM (ha_gprsDTU d LEFT JOIN ha_centor c ON d.uid=c.telnumber)
        LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
        WHERE length(d.uid)>0
        <if test=" params.keyWord != null and params.keyWord != ''  ">
            and (a.uid = #{keyWord} or d.telnubmer like '%${params.keyWord}%' or d.addr like '%${params.keyWord}%' or d.state = #{params.keyWord}
            or d.dscrp like '%${params.keyWord}%' to_char(d.oplasttime, 'yyyy-mm-dd') like '%${params.keyWord}%')
        </if>
        GROUP BY d.uid,d.telnubmer,d.addr,d.state,d.dscrp,d.oplasttime,d.idle
        ORDER BY d.uid,d.addr
    </select>

    <select id="HaGprsdtuList" resultMap="HaGprsdtuMap">
        SELECT d.uid As uid,
        d.telnubmer As telnubmer,
        d.addr As addr,
        Count(c.id) As centors,
        d.state As state,
        d.dscrp As dscrp,
        to_char(d.oplasttime, 'yyyy-mm-dd hh24:mi:ss') As oplastTime,
        d.idle As idle FROM (ha_gprsDTU d LEFT JOIN ha_centor c ON d.uid=c.telnumber)
        LEFT JOIN ha_area a ON Left(c.centorNo, 5)=a.areaNo
        WHERE length(d.uid)>0
        GROUP BY d.uid,d.telnubmer,d.addr,d.state,d.dscrp,d.oplasttime,d.idle
        ORDER BY d.uid,d.addr
    </select>
</mapper>