<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktamr.mapper.HaPaylogMapper">
     <!--映射缴费单的sql-->
     <resultMap id="HaPaylogMap" type="HaPaylog">
    <!--p-->
    <result column="pbillid" property="billId" />
    <result column="pstate" property="state"/>
    <result column="pplantime" property="planTime"/>
    <result column="psum" property="sum"/>
    <result column="plastarrear" property="lastarrear"/>
    <result column="pmbtime" property="mbtime"/>
    <!-- f-->
    <association property="haFreeze" javaType="HaFreeze">
        <result column="fdelta" property="delta"/>

    </association>
    <!--mi-->
    <association property="havMeterinfo" javaType="HavMeterinfo">
        <result column="用户编号" property="userNo"/>
        <result column="用户名称" property="userName"/>
        <result column="用户地址" property="userDs"/>
    </association>
    <!--ps-->
    <association property="haPricestandard" javaType="HaPricestandard">
        <result column="psname" property="name"/>

    </association>
</resultMap>
     <!--查询缴费单列表-->
     <select id="selectHaPaylogList" resultMap="HaPaylogMap">

     SELECT p.billid as pbillid
		, mi.用户号 as 用户编号
		, mi.用户名 as 用户名称
		, mi.用户地址 as 用户地址
		, p.state as pstate
		, to_char(p.plantime, 'YYYY-MM-DD hh24:mm:ss') as pplantime
		, ps.name AS psname
		, f.delta AS fdelta
		, p.sum as psum

		, COALESCE(p.lastarrear, 0) as plastarrear
		, to_char(p.mbtime, 'YYYY-MM-DD hh24:mm:ss') as pmbtime
		 FROM ((ha_paylog p LEFT JOIN ha_freeze f ON p.billid=f.billid)
		 LEFT JOIN hav_meterinfo mi ON f.meterid=mi.meterid)
		 LEFT JOIN ha_priceStandard ps ON f.pricestand_id=ps.pricestand_id
                                 WHERE p.billid is not null

    <if test="HaPaylog.state != null and HaPaylog.state != ''">
        and state = #{HaPaylog.state}
    </if>
         <if test="HaPaylog.idsList  != null and HaPaylog.idsList.size()>0">
             and mi.areaid in
             <foreach collection="HaPaylog.idsList" item="item" index="index"
                      open="(" separator="," close=")">
                 #{item}
             </foreach>
         </if>
    <if test="HaPaylog.haPricestandard!=null">


        <if test="HaPaylog.haPricestandard.starttime != null  and HaPaylog.haPricestandard.endtime != null ">
            and to_char(mbtime,'YYYY-mm-dd hh24:mm:ss') between
            #{HaPaylog.haPricestandard.startTime,jdbcType=CHAR}
            and

            #{HaPaylog.haPricestandard.endTime,jdbcType=CHAR}
        </if>
    </if>
        limit #{page} OFFSET #{rowNum}
</select>

     <!--查询缴费单的记录数-->
     <select id="selectHaPaylogListCount" resultType="Integer">
        SELECT  count(1)
        FROM ((ha_paylog p LEFT JOIN ha_freeze f ON p.billid=f.billid)
		 LEFT JOIN hav_meterinfo mi ON f.meterid=mi.meterid)
		 LEFT JOIN ha_priceStandard ps ON f.pricestand_id=ps.pricestand_id
                                 WHERE p.billid is not null

        <if test="HaPaylog.state != null and HaPaylog.state != ''">
            and state = #{HaPaylog.state}
        </if>
         <if test="HaPaylog.idsList  != null and HaPaylog.idsList.size()>0">
             and mi.areaid in
             <foreach collection="HaPaylog.idsList" item="item" index="index"
                      open="(" separator="," close=")">
                 #{item}
             </foreach>
         </if>
        <if test="HaPaylog.haPricestandard!=null">
            <if test="HaPaylog.haPricestandard.starttime != null  and HaPaylog.haPricestandard.endtime != null ">
                and to_char(mbtime,'YYYY-mm-dd hh24:mm:ss') between
                #{HaPaylog.haPricestandard.startTime,jdbcType=CHAR}
                and

               #{HaPaylog.haPricestandard.endTime,jdbcType=CHAR}
            </if>
        </if>
    </select>

    <!--查询月报表列表的映射-->
    <resultMap id="HaPaylogMap2" type="HaPaylog">
        <!--ha_paylog(pl)-->
        <result column="plsum" property="sum" />
        <result column="pllastarrear" property="lastarrear"/>
        <result column="plplanTime" property="planTime"/>
        <result column="plmbTime" property="mbtime"/>
        <!-- ha_freeze(f)-->
        <association property="haFreeze" javaType="HaFreeze">
            <result column="itemid" property="itemId"/>
            <result column="flf_number" property="lfNumber"/>
            <result column="ftf_number" property="tfNumber"/>
            <result column="fth_time" property="thTime"/>
            <result column="fdelta" property="delta"/>

        </association>
        <!--ha_meter(m)-->
        <association property="haMeter" javaType="HaMeter">
            <result column="mmeterNumber" property="meterNumber"/>
            <result column="mstate" property="state"/>
            <result column="mrate" property="rate"/>


        </association>
        <!--hav_meterinfo(mi)-->
        <association property="havMeterinfo" javaType="HavMeterinfo">
            <result column="用户名称" property="userName"/>
            <result column="用户地址" property="userDs"/>
            <result column="用户编号" property="userNo"/>
            <result column="micustid" property="custid"/>

        </association>
        <!--ha_pricestandard(ps)-->
        <association property="haPricestandard" javaType="HaPricestandard">
            <result column="psname" property="name"/>
           </association>
        <!--ha_meterType(mt)-->
        <association property="haMetertype" javaType="HaMetertype">
            <result column="mtname" property="name"/>
        </association>
    </resultMap>
    <!--查询月报表列表-->
    <select id="selectMonthReportList" resultMap="HaPaylogMap2">

       SELECT f.itemid AS itemid,
         mi.custid as micustid,
         mi.用户号 AS 用户编号,
		mi.用户名 AS 用户名称,
		mi.用户地址 AS 用户地址,
		m.meterNumber AS mmeterNumber,
		m.state AS mstate,
		f.lf_number AS flf_number,
		f.tf_number AS ftf_number,
		f.delta AS fdelta,
		to_date(to_char(f.th_time, 'YYYY-MM-DD hh:mm:ss'),'YYYY-MM-DD hh:mm:ss') AS fth_time,
		mt.name AS mtname,
		ps.name AS psname,
		m.rate AS mrate,
		pl.sum AS plsum,
		pl.lastarrear AS pllastarrear,
		to_date(to_char(pl.planTime, 'YYYY-MM-DD hh:mm:ss'),'YYYY-MM-DD hh:mm:ss') AS plplanTime,
		to_date(to_char(pl.mbTime, 'YYYY-MM-DD hh:mm:ss'),'YYYY-MM-DD hh:mm:ss') AS plmbTime
	    FROM ha_paylog pl,ha_freeze f,ha_meter m,hav_meterinfo mi,ha_pricestandard ps,ha_meterType mt,
		( SELECT f.meterid,MAX(f.itemid) AS itemid FROM ha_freeze f inner join  ha_meter m
  on f.meterid=m.meterid  GROUP BY f.meterid, f.RTime,m.starttime,m.lasttime
 having to_date(to_char(f.RTime, 'YYYY-MM-DD hh:mm:ss'),'YYYY-MM-DD hh:mm:ss')
 BETWEEN  m.starttime  AND m.lasttime

		) t
		WHERE pl.billid = f.billid AND f.itemid=t.itemid AND m.meterid = f.meterid AND f.meterid=mi.meterid AND f.pricestand_id = ps.pricestand_id
		AND ps.meterTypeId = mt.meterTypeId
		 limit #{page} OFFSET #{rowNum}
    </select>
    <!--查询月报表列表的总记录数-->
    <select id="selectMonthReportListCount" resultType="Integer">
        SELECT count(1)
	    FROM ha_paylog pl,ha_freeze f,ha_meter m,hav_meterinfo mi,ha_pricestandard ps,ha_meterType mt,
		( SELECT f.meterid,MAX(f.itemid) AS itemid FROM ha_freeze f inner join  ha_meter m
  on f.meterid=m.meterid  GROUP BY f.meterid, f.RTime,m.starttime,m.lasttime
 having to_date(to_char(f.RTime, 'YYYY-MM-DD hh:mm:ss'),'YYYY-MM-DD hh:mm:ss')
 BETWEEN  m.starttime  AND m.lasttime

		) t
		WHERE pl.billid = f.billid AND f.itemid=t.itemid AND m.meterid = f.meterid AND f.meterid=mi.meterid AND f.pricestand_id = ps.pricestand_id
		AND ps.meterTypeId = mt.meterTypeId
    </select>

    <!-- 点击打印缴费单时进行查询的map映射   -->
    <resultMap id="BselectPritJiaoFeiDanXka1" type="HaPaylog">
        <result column="费用" property="sum" />
        <result column="上期余额" property="lastarrear"/>
        <result column="出单时间" property="planTime"/>
        <result column="billid" property="billId"/>
        <result column="状态" property="state"/>
        <result column="custid" property="custId"/>
        <result column="用户名称" property="custName"/>
        <association property="haFreeze" javaType="HaFreeze">
            <result column="最近抄表时间" property="thTime"/>
        </association>
        <association property="haCustom" javaType="HaCustom">
            <result column="银行名称" property="bank"/>
            <result column="银行账户" property="account"/>
        </association>
        <association property="havMeterinfo" javaType="HavMeterinfo">
            <result column="用户地址" property="userDs"/>
        </association>
    </resultMap>
    <!--点击打印缴费单时进行查询1-->
    <select id="BselectPritJiaoFeiDan1" resultMap="BselectPritJiaoFeiDanXka1">
        SELECT
		 p.planTime AS 出单时间
		,p.sum AS 费用
		, cu.bank AS 银行名称
		, cu.account AS 银行账户
		, p.state AS 状态
		, p.cust_id AS custid
		, p.cust_name AS 用户名称
		, p.billid AS billid
		, mi.用户地址 AS 用户地址
		, f.th_time AS 最近抄表时间
		, p.lastArrear AS 上期余额
		 FROM ((ha_paylog p LEFT JOIN ha_freeze f ON
f.billid=p.billid)
		LEFT JOIN ha_custom cu ON p.cust_id=cu.custid)
		LEFT JOIN hav_meterinfo mi ON f.meterid=mi.meterid WHERE
(p.state='出单' OR p.state='完成')
        <if test="HaPaylog.billId != null and HaPaylog.billId != ''">
            and POSITION('${HaPaylog.billId}' IN p.billid)>0
        </if>

            <if test="HaPaylog.areaId != null  and HaPaylog.areaId != null ">
                and mi.areaid=#{HaPaylog.areaId}
            </if>


        <if test="HaPaylog.KaiShiTime != null and HaPaylog.KaiShiTime != '' and HaPaylog.JieShuTime != null and HaPaylog.JieShuTime != ''">
            and to_char(p.planTime, 'YYYY-MM-DD hh:mm:ss') between '${HaPaylog.KaiShiTime}' and '${HaPaylog.JieShuTime}'
        </if>
		ORDER BY mi.用户地址,cu.custno
    </select>


</mapper>